Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: python3 -m scripts.lint.linters.check_python_test_has_cmake_entry
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc
  - -j 1

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

PopART User Guide: update tutorials links
  docs/popart/performance.rst
  docs/popart/references.rst
Due: none

Add bucketize operator
  docs/popart/api-cpp.rst
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/bucketize_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/bucketize.hpp
  willow/include/popart/popx/op/bucketizex.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/bucketize.cpp
  willow/src/popx/op/bucketizex.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Remap output tensors from grouped gather and scatter
  willow/src/popx/op/gatherx.cpp
  willow/src/popx/op/scatterreducex.cpp
Due: copyright-linter

python version of host scale calculator
  docs/popxl/datatype.rst
  docs/popxl/files/float8_inference.py
  python/popxl/python_files/fp8_utils.py
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_cast_float8.py
  tests/integration/popxl/test_conv_pow2scaled.py
  tests/integration/popxl/test_float8_variables.py
  tests/integration/popxl/test_float8_view_changes.py
  tests/integration/popxl/test_fp8_hostcopy.py
  tests/integration/popxl/test_matmul_pow2scaled.py
  tests/integration/popxl/utils.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_fp8_utils.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

add log2 and floor op in popxl
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/fp8_utils.py
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/floor.py
  python/popxl/python_files/ops/log.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_floor.py
  tests/unittests/python/popxl/ops/test_log.py
Due: copyright-linter, popart-test-linter, pylint

stash all tensors when inference pipeline
  tests/integration/pipelining_tests/pipeline_test.py
  willow/include/popart/transforms/pipeline.hpp
  willow/src/transforms/pipeline.cpp
Due: copyright-linter, popart-test-linter, pylint

Remove hardcoded onnx opset gather in groupedgather op
  willow/include/popart/graphcoreoperators.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/gather.cpp
  willow/src/popx/op/gatherx.cpp
Due: copyright-linter

Remove internal comment from docs
  python/popart/python_files/builder.py
Due: copyright-linter, popart-test-linter, pylint

Unblock scatter11 onnx op support. Add scatterelements11 onnx support.
  willow/src/op/scatter.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterx.cpp
Due: copyright-linter

GroupedGather - fix deducing inference shape for scalar shape
  willow/src/defs.cpp
Due: copyright-linter

TopK add tests with duplicates and different largest value
  tests/integration/operators_test/topk_test.py
  willow/src/op/topk.cpp
  willow/src/popx/op/topkx.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix storing TensorIds - used flat_set to eliminate repeats
  willow/src/op/if.cpp
Due: copyright-linter

fix loop and scan op to support const implicits
  tests/integration/operators_test/loop_test.py
  tests/integration/operators_test/scan_test.py
  willow/src/op/loop.cpp
  willow/src/op/scan.cpp
  willow/src/patterns/scantolooppattern.cpp
Due: copyright-linter, popart-test-linter, pylint

Revert "fix loop and scan op to support const implicits"
  tests/integration/operators_test/loop_test.py
  tests/integration/operators_test/scan_test.py
  willow/src/op/loop.cpp
  willow/src/op/scan.cpp
  willow/src/patterns/scantolooppattern.cpp
Due: copyright-linter, popart-test-linter, pylint

Remove unnecessary error when casting from fp32 to fp8
  willow/src/op/pow2scalethencast.cpp
Due: copyright-linter

Add support for const implicits to cond op
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/if_test.py
  willow/include/popart/tensorindex.hpp
  willow/include/popart/util.hpp
  willow/src/op/if.cpp
  willow/src/util.cpp
Due: copyright-linter, popart-test-linter, pylint

Improve wording for PopXL histogram op
  python/popxl/python_files/ops/histogram.py
Due: copyright-linter, popart-test-linter, pylint

fix pow gradient calculations
  tests/integration/operators_test/pow_test.py
  willow/include/popart/patterns/powarg0gradoppattern.hpp
  willow/include/popart/patterns/powarg1gradoppattern.hpp
  willow/src/patterns/powarg0gradoppattern.cpp
  willow/src/patterns/powarg1gradoppattern.cpp
Due: copyright-linter, popart-test-linter, pylint

Revert "Fix tile mapping in dynamic_update"
  tests/integration/pipelining_tests/replicated_pipeline_test.py
  willow/src/popx/op/dynamic/dynamicupdatex.cpp
Due: copyright-linter, popart-test-linter, pylint

fix clip overflow
  tests/integration/operators_test/operators_test_2.py
  willow/src/popx/op/clipx.cpp
Due: copyright-linter, popart-test-linter, pylint

Add copyNamedBuffersToDevice feature
  python/popart/__init__.py.in
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/copy_named_buffers_to_device_test.cpp
  tests/integration/options_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/taskid.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/popprograms.cpp
  willow/src/session.cpp
  willow/src/taskid.cpp
Due: copyright-linter, popart-test-linter, pylint

disable stash all tensors if run inference pipeline
  python/popart/popart_core/popart.cpp
  tests/integration/pipelining_tests/pipeline_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/transforms/pipeline.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix largest=False in topk
  tests/integration/operators_test/topk_test.py
  willow/src/popx/op/topkx.cpp
Due: copyright-linter, popart-test-linter, pylint

Disable session_run_on_ipu_from_offlineipu_serialized_exe test
  tests/integration/executable_serialization_test.cpp
Due: copyright-linter

Add RUN_SERIAL TRUE to multicard tests
  tests/integration/popxl/CMakeLists.txt
  tests/integration/transformation_tests/CMakeLists.txt
Due: copyright-linter

Add identity, rename, ceil, isfinite, isinf, isnan, sign, clip ops
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/ceil.py
  python/popxl/python_files/ops/clip.py
  python/popxl/python_files/ops/floor.py
  python/popxl/python_files/ops/identity.py
  python/popxl/python_files/ops/isfinite.py
  python/popxl/python_files/ops/isinf.py
  python/popxl/python_files/ops/isnan.py
  python/popxl/python_files/ops/sign.py
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_ceil.py
  tests/unittests/python/popxl/ops/test_clip.py
  tests/unittests/python/popxl/ops/test_identity.py
  tests/unittests/python/popxl/ops/test_isfinite.py
  tests/unittests/python/popxl/ops/test_isinf.py
  tests/unittests/python/popxl/ops/test_isnan.py
  tests/unittests/python/popxl/ops/test_sign.py
Due: copyright-linter, popart-test-linter, pylint

Handle boolean poprithms host tensor
  tests/integration/constexpr_tests/cast_ce_test.cpp
  willow/src/poprithmshosttensor.cpp
Due: copyright-linter

Add auto virtual graph mem part super parameters
  python/popart/popart_core/popart.cpp
  tests/integration/auto_virtual_graph_test.py
  tests/integration/auto_virtual_graph_tests/auto_virtual_graph_relu_on_weight_test_0.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/transforms/auto_virtual_graph.cpp
Due: copyright-linter, popart-test-linter, pylint

Add sort operator
  docs/popart/api-cpp.rst
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/sort_test.py
  tests/integration/operators_test/topk_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/sort.hpp
  willow/include/popart/op/topk.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/sort.cpp
  willow/src/op/topk.cpp
  willow/src/popx/op/topkx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Remove isolated graphs from ir
  willow/src/ir.cpp
  willow/src/popx/irlowering.cpp
  willow/src/subgraphpartitioner.cpp
Due: copyright-linter

Add popnn GELU_ERF NonLinearity op support
  docs/popart/api-cpp.rst
  python/popart._internal.ir/CMakeLists.txt
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/geluerf.py
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/geluerf_test.py
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_geluerf.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/geluerf.hpp
  willow/include/popart/op/lstmutil.hpp
  willow/include/popart/popx/op/geluerfx.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/geluerf.cpp
  willow/src/popx/op/geluerfx.cpp
  willow/src/popx/op/lstmxutil.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Update pytorch url
  requirements/run.txt
Due: copyright-linter

preload popef file if env var is set
  docs/popart/env_vars.rst
  docs/popxl/env_vars.rst
  tests/integration/popxl/test_cached_executables.py
  willow/src/popx/popefserializer.cpp
Due: copyright-linter, popart-test-linter, pylint

Add LinkReset recovery action
  docs/popart/executing.rst
  python/popart/popart_core/popart.cpp
Due: copyright-linter

add normalize image op to popart
  docs/popart/api-cpp.rst
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/normalize_image_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/normalize_image.hpp
  willow/include/popart/popx/op/normalize_imagex.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/normalize_image.cpp
  willow/src/popx/op/normalize_imagex.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Add nearby int operator
  docs/popart/api-cpp.rst
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/nearbyint_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/nearbyint.hpp
  willow/include/popart/popx/op/nearbyintx.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/nearbyint.cpp
  willow/src/popx/op/nearbyintx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

remove docs folder from popart package file
  CMakeLists.txt
  docs/CMakeLists.txt
Due: copyright-linter

PopART and PopXL user guides: Update text for the POPART_PRELOAD_POPEF envar
  docs/popart/env_vars.rst
  docs/popxl/env_vars.rst
Due: none

fix regression in executable serialization test
  tests/integration/executable_serialization_test.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

