Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

.pre-commit-config.yaml:

# Copyright (c) 2022 Graphcore Ltd. All rights reserved.
---
repos:
    - repo: local
      hooks:
          - id: version-checker
            name: Version checker
            description: Ensures that the correct version of the linters are used.
            entry: python3 -m scripts.lint.install.check_versions
            language: python
            exclude: ".*"  # Does not run on files
            always_run: true
            additional_dependencies:
                - pyyaml
          - id: copyright-linter
            name: Copyright linter
            description: Ensures that files have the proper copyright line.
            entry: python3 -m scripts.lint.linters.copyright_linter
            language: python
            exclude: |
                (?x)^(
                    LICENSE|
                    build_scripts/.*|
                    willow/include/popart/vendored/.*|
                    .arclint|
                    .arcconfig|
                    .buildignore|
                    .clang-format|
                    .style.yapf|
                    .*Doxyfile.in|
                    .*.drawio|
                    .*.json|
                    .*.md|
                    .*.png|
                    .*.pdf|
                    .*.rst
                )$
            additional_dependencies:
                # dataclasses was introduced in Python 3.7
                # For python 3.6 it therefore needs to be added as a dependency
                - dataclasses
          - id: popart-test-linter
            name: PopART test-linter
            description: |
              checks that pytest test files have a corresponding
              `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
              file
            entry: tests/popart_test_linter/check_test_has_cmake_entry.py
            language: python
            files: .*.py
            exclude: |
                (?x)^(
                    docs/user_guide/files/tests/test_examples.py|
                    tests/linters/.*
                )$
    # The following linters are currently disabled
    # -   repo: https://github.com/pre-commit/pre-commit-hooks
    #     rev: v2.3.0
    #     hooks:
    #     -   id: check-yaml
    #     -   id: check-json
    #     -   id: check-merge-conflict
    #     -   id: debug-statements
    #     -   id: end-of-file-fixer
    #     -   id: mixed-line-ending
    #     -   id: trailing-whitespace
    # - repo: https://github.com/pre-commit/mirrors-yapf
    #   rev: v0.27.0
    #   hooks:
    #       - id: yapf
    # - repo: https://github.com/pocc/pre-commit-hooks
    #   rev: v1.3.5
    #   hooks:
    #       # Install with pip3 install clang-format==9.0.0
    #       - id: clang-format
    #         exclude: willow/include/popart/vendored/
    #         args: [
    #             -i,  # Fix inplace
    #             --style=file  # Use .clang-tidy
    #         ]
    #      - id: clang-tidy
    #      - id: oclint
    #      - id: uncrustify
    #      - id: cppcheck
    #        exclude: willow/include/popart/vendored/
    #        args: [
    #            --suppressions-list=scripts/lint/linters/cppcheck-suppressions-list.txt
    #        ]
    #      - id: cpplint
    #      - id: include-what-you-use

popxl doc: rename source files (and html URLS)
  docs/popart_ir/api.rst
  docs/popart_ir/concepts.rst
  docs/popart_ir/context.rst
  docs/popart_ir/datatype.rst
  docs/popart_ir/graph.rst
  docs/popart_ir/index.rst
  docs/popart_ir/op.rst
  docs/popart_ir/tensor.rst
  docs/popart_ir/transforms.rst
Due: none

popart.ir doc: Change doc title and artifacts to popxl
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/popart_ir/index.rst
Due: copyright-linter

Bug fix: call op failed if outputs contained duplicate tensors
  python/popart.ir/python_files/ops/call.py
Due: copyright-linter, popart-test-linter

Multi allreduce update patch 1
  willow/include/popart/transforms/contiguatecollectivesformerging.hpp
  willow/include/popart/transforms/mergecollectives.hpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter

Added pylint ignore of not-context-manager
  scripts/lint/linters/pylintrc
Due: copyright-linter, popart-test-linter

Refactor RTS + Remote variables
  python/popart.ir/python_files/ops/collectives/replicated_all_gather.py
  python/popart.ir/python_files/remote_buffer.py
  python/popart.ir/python_files/tensor.py
  tests/integration/popart.ir/test_rts_autodiff.py
  tests/unittests/python/popart.ir/test_variable_location.py
Due: copyright-linter, popart-test-linter

Enable expression-not-assigned check
  python/popart.ir/python_files/ops/__init__.py
  scripts/lint/linters/pylintrc
  tests/integration/auto_loss_scaling_gradient_accumulation_test.py
  tests/integration/auto_loss_scaling_identical_weight_updates_0.py
  tests/integration/auto_loss_scaling_identical_weight_updates_1.py
  tests/integration/loss_scaling_infrequent_oversteps.py
  tests/integration/loss_scaling_test.py
  tests/integration/streammode_tests/grouped_initialization_test.py
  tests/unittests/python/popart.ir/ops/test_accumulate.py
  tests/unittests/python/popart.ir/ops/test_io_tile_copy.py
Due: copyright-linter, popart-test-linter

Add inplace implementations to WhereOp
  tests/integration/operators_test/operators_test_2.py
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/where.hpp
  willow/include/popart/popx/op/wherex.hpp
  willow/src/op/where.cpp
  willow/src/popx/op/wherex.cpp
Due: copyright-linter, popart-test-linter

Backout "Bump pytorch version in requirement files"
  requirements/run.txt
Due: copyright-linter

Prevent in_sequence between ExecutionContexts
  python/popxl/python_files/context.py
  tests/unittests/python/popxl/context/test_in_sequence.py
Due: copyright-linter, popart-test-linter

Include additional to-track tensors in AutomaticLossScaling transform with GradientTensorTrackingMethod::AllNonViewChangingGradientTensors tracking method
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter

Remove several test cases from resize_tests.
  tests/integration/operators_test/resize_test_0.py
  tests/integration/operators_test/resize_test_1.py
Due: copyright-linter, popart-test-linter

Change run requirements to torch 1.9.1
  README.md
  requirements/run.txt
  tests/integration/operators_test/resize_test_0.py
Due: copyright-linter, popart-test-linter

Build popxl docs in binary directory so that the op list is taken into account.
  docs/CMakeLists.txt
Due: copyright-linter

RNN optimisations
  willow/include/popart/popx/op/rnnx.hpp
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Use // for non-public comments to prevent them from being parsed by doxygen
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter

update user guide for repeat op
  docs/popxl/graph.rst
  docs/popxl/index.rst
  docs/user_guide/files/autodiff_popxl.py
  docs/user_guide/files/in_sequence_popxl.py
  docs/user_guide/files/repeat_subgraph_popxl_0.py
  docs/user_guide/files/repeat_subgraph_popxl_1.py
Due: copyright-linter, popart-test-linter

Add a test for fp16 Pow backward pass
  tests/integration/operators_test/pow_test.py
Due: copyright-linter, popart-test-linter

Refactor binary elementwise opxs for new snap API
  willow/include/popart/popx/op/addx.hpp
  willow/include/popart/popx/op/atan2x.hpp
  willow/include/popart/popx/op/elementwisex.hpp
  willow/include/popart/popx/op/mulx.hpp
  willow/include/popart/popx/op/powx.hpp
  willow/src/popx/op/addx.cpp
  willow/src/popx/op/atan2x.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/mulx.cpp
  willow/src/popx/op/powx.cpp
Due: copyright-linter

Revert "Add unwining to IdentityInplaceOp"
  willow/include/popart/popx/op/identityx.hpp
  willow/src/popx/op/identityx.cpp
Due: copyright-linter

Revert "Refactor binary elementwise opxs for new snap API"
  willow/include/popart/popx/op/addx.hpp
  willow/include/popart/popx/op/atan2x.hpp
  willow/include/popart/popx/op/elementwisex.hpp
  willow/include/popart/popx/op/mulx.hpp
  willow/include/popart/popx/op/powx.hpp
  willow/src/popx/op/addx.cpp
  willow/src/popx/op/atan2x.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/mulx.cpp
  willow/src/popx/op/powx.cpp
Due: copyright-linter

Remove --forked from pytest
  tests/CMakeLists.txt
  tests/README.md
Due: copyright-linter

Removed "POPART_GATHER_MEMORY"
  willow/src/op/gather.cpp
Due: copyright-linter

Correcting incorrect state-tensor initial vector dimensions.
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/streammode_tests/groupedStateTensor_test.py
  willow/src/patterns/optimizerdecompose.cpp
Due: copyright-linter, popart-test-linter

Refactor and extend the loop decomposition transform for explicit pipelining
  python/popart._internal.ir/bindings/op.cpp
  python/popart._internal.ir/bindings/op/ipucopy.cpp
  tests/testutil/include/testutil/test_graphs/graph_test_models.hpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/transforms/unittest_decomposeloops.cpp
  tests/unittests/transforms/unittest_streamingmemory.cpp
  willow/include/popart/dataflow.hpp
  willow/include/popart/graph.hpp
  willow/include/popart/graphutils.hpp
  willow/include/popart/op.hpp
  willow/include/popart/op/ipucopy.hpp
  willow/include/popart/tensor.hpp
  willow/include/popart/transforms/decomposeloops.hpp
  willow/src/dataflow.cpp
  willow/src/graphutils.cpp
  willow/src/op.cpp
  willow/src/op/identity.cpp
  willow/src/op/ipucopy.cpp
  willow/src/op/loop.cpp
  willow/src/tensor.cpp
  willow/src/transforms/decomposeloops.cpp
  willow/src/transforms/decomposeloops_pipelining.cpp
Due: copyright-linter, popart-test-linter

Revert "Correcting incorrect state-tensor initial vector dimensions."
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/streammode_tests/groupedStateTensor_test.py
  willow/src/patterns/optimizerdecompose.cpp
Due: copyright-linter, popart-test-linter

Update version used for jinja2
  README.md
  requirements/build.txt
Due: copyright-linter

support half tensors in scaledVarUpdate
  tests/integration/optimizer_tests/CMakeLists.txt
  tests/integration/optimizer_tests/rmsprop_tf_mode_test.py
  tests/integration/optimizer_tests/rmsprop_update_numpy.py
  willow/src/popx/op/scaledvarupdatex.cpp
Due: copyright-linter, popart-test-linter

Fix clang Werrors
  tests/integration/operators_test/hostop_test.cpp
  tests/unittests/transforms/unittest_decomposeloops.cpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/transforms/decomposeloops.hpp
  willow/src/dotvisualizer.cpp
  willow/src/transforms/decomposeloops.cpp
  willow/src/transforms/decomposeloops_pipelining.cpp
Due: copyright-linter

Allow AddArg0GradOp to change its output tensor type after construction
  tests/unittests/willow/op/CMakeLists.txt
  tests/unittests/willow/op/test_addgrad.cpp
  tests/unittests/willow/op/test_reducegrad.cpp
  willow/include/popart/op/add.hpp
  willow/src/op/add.cpp
Due: copyright-linter

Add execution context constraints in AliasModelGrower
  willow/src/alias/aliasmodelgrower.cpp
Due: copyright-linter

Fix python string interpolation issues
  docs/gen_popxl_supported_ops.py
  gen_operators.py
  python/popxl/python_files/ops/dynamic_slice.py
  python/popxl/python_files/ops/dynamic_update.py
  python/popxl/python_files/ops/gelu.py
  python/popxl/python_files/ops/io_tile_copy.py
  python/popxl/python_files/ops/lamb.py
  python/popxl/python_files/ops/negate.py
  python/popxl/python_files/ops/relu.py
  python/popxl/python_files/ops/softmax.py
  python/popxl/python_files/ops/var_updates/adam_var_update.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/transforms/autodiff.py
  scripts/lint/linters/pylintrc
  scripts/load_ir_dump.py
  scripts/validate_device_access_log.py
  tests/integration/aliaszerocopy_model_test.py
  tests/integration/loss_scaling_util_test.py
  tests/integration/operators_test/resize_test_0.py
  tests/integration/optimizer_tests/global_batch_size_test.py
  tests/integration/outlining_execution_context_test.py
  tests/integration/streamingmemory_tests/host_stream_test.py
  tests/integration/streamingmemory_tests/streamingmemory_attention_test.py
  tests/integration/test_session.py
  tests/linters/test_copyright_linter.py
Due: copyright-linter, popart-test-linter

Change popxl userguide to reflect new agreed nomenclature
  docs/popxl/concepts.rst
  docs/popxl/context.rst
  docs/popxl/graph.rst
  docs/popxl/images/popart_ir_graph_tensors.drawio
  docs/popxl/images/popart_ir_graph_tensors.png
  docs/popxl/transforms.rst
  docs/user_guide/files/basic_graph_popxl.py
  docs/user_guide/files/create_multi_graphs_from_same_func_popxl.py
  docs/user_guide/files/repeat_graph_popxl_0.py
  docs/user_guide/files/repeat_graph_popxl_1.py
  docs/user_guide/files/tests/test_examples.py
Due: copyright-linter, popart-test-linter

Add init_type to ops.init to allow for uninitialised Tensors
  python/popxl/python_files/ops/host_load.py
  python/popxl/python_files/ops/init.py
  python/popxl/python_files/ops/remote_load.py
Due: copyright-linter, popart-test-linter

Fix where inplace when not parallel writable
  willow/include/popart/popx/op/wherex.hpp
  willow/src/popx/op/wherex.cpp
Due: copyright-linter

add roialign in popart
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/roialign_test.py
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/roialign.hpp
  willow/include/popart/popx/op/roialignx.hpp
  willow/src/op/roialign.cpp
  willow/src/popx/op/roialignx.cpp
Due: copyright-linter, popart-test-linter

Update links to tutorials repo for release 2.5
  docs/user_guide/custom_ops.rst
  docs/user_guide/performance.rst
Due: none
