Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

.pre-commit-config.yaml:

# Copyright (c) 2022 Graphcore Ltd. All rights reserved.
---
repos:
    - repo: local
      hooks:
          - id: version-checker
            name: Version checker
            description: Ensures that the correct version of the linters are used.
            entry: python3 -m scripts.lint.install.check_versions
            language: python
            exclude: ".*"  # Does not run on files
            always_run: true
            additional_dependencies:
                - pyyaml
          - id: copyright-linter
            name: Copyright linter
            description: Ensures that files have the proper copyright line.
            entry: python3 -m scripts.lint.linters.copyright_linter
            language: python
            exclude: |
                (?x)^(
                    LICENSE|
                    build_scripts/.*|
                    willow/include/popart/vendored/.*|
                    .arclint|
                    .arcconfig|
                    .buildignore|
                    .clang-format|
                    .style.yapf|
                    .*Doxyfile.in|
                    .*.drawio|
                    .*.json|
                    .*.md|
                    .*.png|
                    .*.pdf|
                    .*.rst
                )$
            additional_dependencies:
                # dataclasses was introduced in Python 3.7
                # For python 3.6 it therefore needs to be added as a dependency
                - dataclasses
          - id: popart-test-linter
            name: PopART test-linter
            description: |
              checks that pytest test files have a corresponding
              `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
              file
            entry: tests/popart_test_linter/check_test_has_cmake_entry.py
            language: python
            files: .*.py
            exclude: |
                (?x)^(
                    docs/user_guide/files/tests/test_examples.py|
                    tests/linters/.*
                )$
    # The following linters are currently disabled
    # -   repo: https://github.com/pre-commit/pre-commit-hooks
    #     rev: v2.3.0
    #     hooks:
    #     -   id: check-yaml
    #     -   id: check-json
    #     -   id: check-merge-conflict
    #     -   id: debug-statements
    #     -   id: end-of-file-fixer
    #     -   id: mixed-line-ending
    #     -   id: trailing-whitespace
    # - repo: https://github.com/pre-commit/mirrors-yapf
    #   rev: v0.27.0
    #   hooks:
    #       - id: yapf
    # - repo: https://github.com/pocc/pre-commit-hooks
    #   rev: v1.3.5
    #   hooks:
    #       # Install with pip3 install clang-format==9.0.0
    #       - id: clang-format
    #         exclude: willow/include/popart/vendored/
    #         args: [
    #             -i,  # Fix inplace
    #             --style=file  # Use .clang-tidy
    #         ]
    #      - id: clang-tidy
    #      - id: oclint
    #      - id: uncrustify
    #      - id: cppcheck
    #        exclude: willow/include/popart/vendored/
    #        args: [
    #            --suppressions-list=scripts/lint/linters/cppcheck-suppressions-list.txt
    #        ]
    #      - id: cpplint
    #      - id: include-what-you-use

Add the allreduce multicollective and the multicollective pattern
  python/popart/popart_core/popart.cpp
  scripts/gen_op_metadata.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/graphutils.hpp
  willow/include/popart/names.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/include/popart/op/collectives/replicatedallreduce.hpp
  willow/include/popart/popx/op/collectives/collectivesx.hpp
  willow/include/popart/popx/op/collectives/multi_replicatedallreducex.hpp
  willow/include/popart/popx/popopx.hpp
  willow/include/popart/replicatedtensorsharding.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/contiguatecollectivesformerging.hpp
  willow/include/popart/transforms/mergecollectives.hpp
  willow/src/graphutils.cpp
  willow/src/ir.cpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/popx/op/collectives/multi_replicatedallreducex.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
  willow/src/popx/popopx.cpp
  willow/src/replicatedtensorsharding.cpp
  willow/src/sessionoptions.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter, popart-test-linter

Make error string test more robust
  tests/integration/exception_test.py
Due: copyright-linter, popart-test-linter

Revert the splitting out of the popart.ir doc as it has caused build problems
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/api_python/api-popart-ir.rst
  docs/api_python/api-python.rst
  docs/api_python/index.rst
  docs/popart_ir/genindex.rst
  docs/popart_ir/index.rst
  docs/popart_ir/legal.rst
  docs/user_guide/builderpopartir.rst
  docs/user_guide/images/popart_ir_building_blocks.drawio
  docs/user_guide/images/popart_ir_building_blocks.png
  docs/user_guide/images/popart_ir_calling_a_graph.drawio
  docs/user_guide/images/popart_ir_calling_a_graph.png
  docs/user_guide/images/repeat_op.drawio
  docs/user_guide/images/repeat_op.png
  docs/user_guide/index.rst
  docs/user_guide/popartir.rst
  docs/user_guide/popartir_concepts.rst
  docs/user_guide/popartir_datatype.rst
  docs/user_guide/popartir_op.rst
  docs/user_guide/popartir_subgraph.rst
  docs/user_guide/popartir_tensor.rst
  docs/user_guide/popartir_transforms.rst
Due: copyright-linter, popart-test-linter

Extract main graph autodiff logic into class `GradGrower`, generalise to any graph, and reuse in subgraph autodiff
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/popart._internal.ir_cpp/basic_training_loop.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/test_transforms.py
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreator.cpp
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreatorhelper.cpp
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_tensornames.cpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/tensornames.hpp
  willow/include/popart/transforms/autodiff.hpp
  willow/src/graphfromlosstolossupdater.cpp
  willow/src/graphfromlosstolossupdater.hpp
  willow/src/ir.cpp
  willow/src/sessionoptions.cpp
  willow/src/tensornames.cpp
  willow/src/transforms/autodiff.cpp
  willow/src/transforms/autodiff/autodiffirinterface.hpp
  willow/src/transforms/autodiff/backwardsgraphcreator.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.hpp
  willow/src/transforms/autodiff/gradgrower.cpp
  willow/src/transforms/autodiff/gradgrower.hpp
  willow/src/transforms/autodiff/gradgrowergraph.cpp
  willow/src/transforms/autodiff/gradgrowermaingraph.cpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
  willow/src/transforms/autodiff/gradgrowerop.hpp
  willow/src/transforms/autodiff/gradgrowersumop.cpp
  willow/src/transforms/autodiff/gradgrowersumop.hpp
  willow/src/transforms/autodiff/opgradregistry.cpp
  willow/src/transforms/autodiff/opgradregistry.hpp
  willow/src/transforms/autodiff/tensorgradregistry.cpp
  willow/src/transforms/autodiff/tensorgradregistry.hpp
Due: copyright-linter, popart-test-linter

Enable unassignedVariable check
  scripts/lint/linters/cppcheck-suppressions-list.txt
  tests/integration/pattern_tests/splitgather_0_patterns_test.cpp
  tests/integration/transformation_tests/running_mean_counter_test.cpp
Due: copyright-linter

Revert "Extract main graph autodiff logic into class `GradGrower`, generalise to any graph, and reuse in subgraph autodiff"
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/popart._internal.ir_cpp/basic_training_loop.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/test_transforms.py
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreator.cpp
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreatorhelper.cpp
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_tensornames.cpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/tensornames.hpp
  willow/include/popart/transforms/autodiff.hpp
  willow/src/graphfromlosstolossupdater.cpp
  willow/src/graphfromlosstolossupdater.hpp
  willow/src/ir.cpp
  willow/src/sessionoptions.cpp
  willow/src/tensornames.cpp
  willow/src/transforms/autodiff.cpp
  willow/src/transforms/autodiff/autodiffirinterface.hpp
  willow/src/transforms/autodiff/backwardsgraphcreator.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.hpp
  willow/src/transforms/autodiff/gradgrower.cpp
  willow/src/transforms/autodiff/gradgrower.hpp
  willow/src/transforms/autodiff/gradgrowergraph.cpp
  willow/src/transforms/autodiff/gradgrowermaingraph.cpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
  willow/src/transforms/autodiff/gradgrowerop.hpp
  willow/src/transforms/autodiff/gradgrowersumop.cpp
  willow/src/transforms/autodiff/gradgrowersumop.hpp
  willow/src/transforms/autodiff/opgradregistry.cpp
  willow/src/transforms/autodiff/opgradregistry.hpp
  willow/src/transforms/autodiff/tensorgradregistry.cpp
  willow/src/transforms/autodiff/tensorgradregistry.hpp
Due: copyright-linter, popart-test-linter

Split operators_test in two
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/operators_test.py
  tests/integration/operators_test/operators_test_2.py
Due: copyright-linter, popart-test-linter

Extract main graph autodiff logic into class `GradGrower`, generalise to any graph, and reuse in subgraph autodiff
  tests/integration/popart._internal.ir_cpp/basic_training_loop.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/test_transforms.py
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreator.cpp
  tests/unittests/transforms/autodiff/unittest_backwardsgraphcreatorhelper.cpp
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_tensornames.cpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/tensornames.hpp
  willow/include/popart/transforms/autodiff.hpp
  willow/src/graphfromlosstolossupdater.cpp
  willow/src/graphfromlosstolossupdater.hpp
  willow/src/ir.cpp
  willow/src/sessionoptions.cpp
  willow/src/tensornames.cpp
  willow/src/transforms/autodiff.cpp
  willow/src/transforms/autodiff/autodiffirinterface.hpp
  willow/src/transforms/autodiff/backwardsgraphcreator.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.hpp
  willow/src/transforms/autodiff/gradgrower.cpp
  willow/src/transforms/autodiff/gradgrower.hpp
  willow/src/transforms/autodiff/gradgrowergraph.cpp
  willow/src/transforms/autodiff/gradgrowermaingraph.cpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
  willow/src/transforms/autodiff/gradgrowerop.hpp
  willow/src/transforms/autodiff/gradgrowersumop.cpp
  willow/src/transforms/autodiff/gradgrowersumop.hpp
  willow/src/transforms/autodiff/opgradregistry.cpp
  willow/src/transforms/autodiff/opgradregistry.hpp
  willow/src/transforms/autodiff/tensorgradregistry.cpp
  willow/src/transforms/autodiff/tensorgradregistry.hpp
Due: copyright-linter, popart-test-linter

Implement a number of optimisations for RNN operators.
  willow/include/popart/op/gru.hpp
  willow/include/popart/op/lstm.hpp
  willow/include/popart/op/rnn.hpp
  willow/include/popart/op/rnnbase.hpp
  willow/include/popart/popx/op/rnnx.hpp
  willow/src/op/lstm.cpp
  willow/src/op/rnn.cpp
  willow/src/op/rnnbase.cpp
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Popart.ir doc: Tidy up structure of document and fix cross references
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/api_python/index.rst
  docs/gen_popartir_supported_ops.py
  docs/popart_ir/api-popart-ir.rst
  docs/popart_ir/genindex.rst
  docs/popart_ir/images/popart_ir_building_blocks.drawio
  docs/popart_ir/images/popart_ir_building_blocks.png
  docs/popart_ir/images/popart_ir_calling_a_graph.drawio
  docs/popart_ir/images/popart_ir_calling_a_graph.png
  docs/popart_ir/images/repeat_op.drawio
  docs/popart_ir/images/repeat_op.png
  docs/popart_ir/index.rst
  docs/popart_ir/introduction.rst
  docs/popart_ir/legal.rst
  docs/popart_ir/popartir_concepts.rst
  docs/popart_ir/popartir_datatype.rst
  docs/popart_ir/popartir_graph.rst
  docs/popart_ir/popartir_op.rst
  docs/popart_ir/popartir_tensor.rst
  docs/popart_ir/popartir_transforms.rst
  docs/popart_ir/simple_example.rst
  docs/user_guide/builderpopartir.rst
  docs/user_guide/index.rst
Due: copyright-linter, popart-test-linter

pir.Session wrapper
  python/popart._internal.ir/bindings/ir.cpp
  python/popart._internal.ir/bindings/tensor.cpp
  python/popart._internal.ir/bindings/tensorinfo.cpp
  python/popart.ir/__init__.py.in
  python/popart.ir/python_files/ir.py
  python/popart.ir/python_files/session.py
  python/popart.ir/python_files/tensor.py
  python/popart.ir/python_files/utils.py
  python/popart/popart_core/popart.cpp
  tests/integration/logical_if_tests/basic_0_logical_if_test.cpp
  tests/integration/popart.ir/CMakeLists.txt
  tests/integration/popart.ir/pipelining/pipeline_test_runner.py
  tests/integration/popart.ir/pipelining/test_0_serial_inference.py
  tests/integration/popart.ir/pipelining/test_1_pipelined_inference.py
  tests/integration/popart.ir/test_io_sizes.py
  tests/integration/popart.ir/test_milestone1_basic_subgraph.py
  tests/integration/popart.ir/test_milestone2_autodiff.py
  tests/integration/popart.ir/test_rts_autodiff.py
  tests/integration/popart.ir/test_session.py
  tests/integration/popart.ir/test_tensor_data.py
  tests/unittests/python/popart._internal.ir/bindings/test_tensor.py
  tests/unittests/python/popart._internal.ir/bindings/test_tensorinfo.py
  tests/unittests/python/popart.ir/test_ir.py
  tests/unittests/python/popart.ir/test_variable_location.py
  willow/include/popart/dataflow.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/tensordata.hpp
  willow/include/popart/tensorinfo.hpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter

Remove defunct Dockerfile
  build_scripts/Dockerfile
Due: none

Revert "Implement a number of optimisations for RNN operators."
  willow/include/popart/op/gru.hpp
  willow/include/popart/op/lstm.hpp
  willow/include/popart/op/rnn.hpp
  willow/include/popart/op/rnnbase.hpp
  willow/include/popart/popx/op/rnnx.hpp
  willow/src/op/lstm.cpp
  willow/src/op/rnn.cpp
  willow/src/op/rnnbase.cpp
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Fix RemoveUnnecessaryLossGradCast bug
  tests/integration/pattern_tests/patterns_test.cpp
  willow/include/popart/op/gru.hpp
  willow/include/popart/op/lstm.hpp
  willow/include/popart/op/rnn.hpp
  willow/include/popart/op/rnnbase.hpp
  willow/include/popart/popx/op/rnnx.hpp
  willow/src/op/lstm.cpp
  willow/src/op/rnn.cpp
  willow/src/op/rnnbase.cpp
  willow/src/patterns/removeunnecessarylossgradcastpattern.cpp
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Enable const, syntax and oob linter checks for c++
  .gitignore
  .pre-commit-config.yaml
  python/popart._internal.ir/bindings/op.hpp
  python/popart._internal.ir/bindings/op/accumulatorscale.cpp
  python/popart._internal.ir/bindings/op/accumulatorzero.cpp
  python/popart._internal.ir/bindings/op/adamupdater.cpp
  python/popart._internal.ir/bindings/op/call.cpp
  python/popart._internal.ir/bindings/op/concat.cpp
  python/popart._internal.ir/bindings/op/ipucopy.cpp
  python/popart._internal.ir/bindings/op/loop.cpp
  python/popart._internal.ir/bindings/op/matmul.cpp
  python/popart._internal.ir/bindings/op/matmul.hpp
  python/popart._internal.ir/bindings/op/varupdate.cpp
  python/popart._internal.ir/bindings/op/varupdate.hpp
  python/popart._internal.ir/bindings/region.cpp
  python/popart._internal.ir/bindings/transforms/transform.hpp
  python/popart/shared_cpp/pyarray_accessor.hpp
  scripts/lint/linters/cppcheck-suppressions-list.txt
  tests/integration/boollogic_test.cpp
  tests/integration/inplace_tests/elementwisebinary_testcase.hpp
  tests/integration/optimizer_tests/get_results.hpp
  tests/integration/pipelining_tests/pipeline_recompute_string.hpp
  willow/include/popart/opidentifier.hpp
  willow/include/popart/popx/creatorx.hpp
  willow/src/dotvisualizer.cpp
  willow/src/patterns/packeddatablockpattern.cpp
  willow/src/popx/op/matmulx.cpp
  willow/src/popx/op/subsamplex.cpp
  willow/src/transforms/mainloops.cpp
  willow/src/transforms/randomsetup.cpp
Due: copyright-linter, popart-test-linter

Rename popart.ir.Tensor tensor_spec property to spec
  python/popart.ir/python_files/streams.py
  python/popart.ir/python_files/tensor.py
  tests/unittests/python/popart.ir/test_ir.py
  tests/unittests/python/popart.ir/transforms/test_autodiff.py
Due: copyright-linter, popart-test-linter

Move tests from loss_scaling_test.py into separate files to avoid timeout in CI debug build
  tests/integration/CMakeLists.txt
  tests/integration/auto_loss_scaling_identical_weight_updates_0.py
  tests/integration/auto_loss_scaling_identical_weight_updates_1.py
  tests/integration/loss_scaling_test.py
Due: copyright-linter, popart-test-linter

Backout "Rename popart.ir.Tensor tensor_spec property to spec"
  python/popart.ir/python_files/streams.py
  python/popart.ir/python_files/tensor.py
  tests/unittests/python/popart.ir/test_ir.py
  tests/unittests/python/popart.ir/transforms/test_autodiff.py
Due: copyright-linter, popart-test-linter

Fix rename of tensor_spec to spec in test_session.py
  tests/integration/popart.ir/test_session.py
Due: copyright-linter, popart-test-linter

Adapt explicit recompute transform for explicit pipelining
  python/popart/popart_core/popart.cpp
  tests/testutil/include/testutil/test_graphs/graph_test_models.hpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/transforms/unittest_explicitrecompute.cpp
  willow/include/popart/graphutils.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/explicitrecompute.hpp
  willow/src/graphutils.cpp
  willow/src/transforms/explicitrecompute.cpp
Due: copyright-linter

popart.ir: add reduce ops: l1, l2, logsum, logsumexp, max, mean, median, min, prod, sum, sumsquare
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/optional.cpp
  python/popart.ir/python_files/ops/__init__.py
  python/popart.ir/python_files/ops/l1.py
  python/popart.ir/python_files/ops/l2.py
  python/popart.ir/python_files/ops/logsum.py
  python/popart.ir/python_files/ops/logsumexp.py
  python/popart.ir/python_files/ops/max.py
  python/popart.ir/python_files/ops/mean.py
  python/popart.ir/python_files/ops/median.py
  python/popart.ir/python_files/ops/min.py
  python/popart.ir/python_files/ops/print_tensor.py
  python/popart.ir/python_files/ops/prod.py
  python/popart.ir/python_files/ops/sum.py
  python/popart.ir/python_files/ops/sumsquare.py
  python/popart.ir/python_files/ops/utils.py
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popart.ir/ops/CMakeLists.txt
  tests/unittests/python/popart.ir/ops/test_l1.py
  tests/unittests/python/popart.ir/ops/test_l2.py
  tests/unittests/python/popart.ir/ops/test_logsum.py
  tests/unittests/python/popart.ir/ops/test_logsumexp.py
  tests/unittests/python/popart.ir/ops/test_max.py
  tests/unittests/python/popart.ir/ops/test_mean.py
  tests/unittests/python/popart.ir/ops/test_median.py
  tests/unittests/python/popart.ir/ops/test_min.py
  tests/unittests/python/popart.ir/ops/test_prod.py
  tests/unittests/python/popart.ir/ops/test_sum.py
  tests/unittests/python/popart.ir/ops/test_sumsquare.py
Due: copyright-linter, popart-test-linter

Changed documentation regarding gradsRequired and added test
  python/popart.ir/python_files/transforms/autodiff.py
  tests/testutil/include/testutil/test_graphs/graph_test_models.hpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/python/popart.ir/transforms/test_autodiff.py
  tests/unittests/transforms/unittest_autodiff.cpp
  willow/include/popart/transforms/autodiff.hpp
  willow/src/devicemanager.cpp
Due: copyright-linter, popart-test-linter

Initialise RNN Repeat counters properly
  tests/integration/operators_test/rnn_test.py
  willow/include/popart/popx/op/rnnx.hpp
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter, popart-test-linter

Use snap bindings of poplibs addCodelets
  tests/integration/popir_simple_example_test.cpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Fix PowArg0GradOpPattern for fp16
  willow/src/patterns/powarg0gradoppattern.cpp
Due: copyright-linter

Make gradient graphs so their inputs start with gradsProvided
  python/popart.ir/python_files/transforms/autodiff.py
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
  willow/include/popart/transforms/autodiff.hpp
  willow/src/transforms/autodiff.cpp
  willow/src/transforms/autodiff/backwardsgraphcreator.cpp
  willow/src/transforms/autodiff/backwardsgraphcreator.hpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.hpp
  willow/src/transforms/autodiff/gradgrowergraph.cpp
  willow/src/transforms/autodiff/gradgrowergraph.hpp
  willow/src/transforms/autodiff/gradgrowermaingraph.cpp
  willow/src/transforms/autodiff/recomputestitcher.cpp
Due: copyright-linter, popart-test-linter

Add support for implicit loop inputs
  python/popart._internal.ir/bindings/graph.cpp
  python/popart.ir/python_files/ops/call.py
  python/popart.ir/python_files/ops/repeat.py
  tests/unittests/python/popart.ir/CMakeLists.txt
  tests/unittests/python/popart.ir/ops/test_repeat.py
  tests/unittests/python/popart.ir/test_create_seed.py
Due: copyright-linter, popart-test-linter

Fix dtype clone in SparseAccumulateOpx::createInputTensor
  willow/src/popx/op/accumulatex.cpp
Due: copyright-linter

add context manager to popart.ir user guide
  docs/popart_ir/index.rst
  docs/popart_ir/popartir_context.rst
  docs/user_guide/files/in_sequence_popart_ir.py
  python/popart.ir/python_files/context.py
Due: copyright-linter, popart-test-linter

Make stream class public API
  python/popart.ir/python_files/streams.py
Due: copyright-linter, popart-test-linter

Refactor RTS + Remote variables
  python/popart.ir/python_files/ops/collectives/replicated_all_gather.py
  python/popart.ir/python_files/remote_buffer.py
  python/popart.ir/python_files/tensor.py
  tests/integration/popart.ir/test_rts_autodiff.py
  tests/unittests/python/popart.ir/test_variable_location.py
Due: copyright-linter, popart-test-linter

PopXL doc: change supported-ops script to generate links to API in this document
  docs/gen_popartir_supported_ops.py
Due: copyright-linter, popart-test-linter

Revert "Refactor RTS + Remote variables"
  python/popart.ir/python_files/ops/collectives/replicated_all_gather.py
  python/popart.ir/python_files/remote_buffer.py
  python/popart.ir/python_files/tensor.py
  tests/integration/popart.ir/test_rts_autodiff.py
  tests/unittests/python/popart.ir/test_variable_location.py
Due: copyright-linter, popart-test-linter

revert contex manager in user guide to fix issues with rebase
  docs/popart_ir/index.rst
  docs/popart_ir/popartir_context.rst
  docs/user_guide/files/in_sequence_popart_ir.py
  python/popart.ir/python_files/context.py
Due: copyright-linter, popart-test-linter

Add dict unpacking to TensorSpec and repr
  python/popart.ir/python_files/ir.py
  python/popart.ir/python_files/tensor.py
  tests/unittests/python/popart.ir/test_ir.py
  tests/unittests/python/popart.ir/test_tensor.py
Due: copyright-linter, popart-test-linter

Combine pairs of matmuls into single matmul for RNN op.
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Allow repeat op with repeat_count = 0 or 1
  python/popart.ir/python_files/ops/repeat.py
  tests/unittests/python/popart.ir/ops/test_repeat.py
Due: copyright-linter, popart-test-linter
