Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Fix for missing tensors in popef file
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/popefserializer.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Add argument type check to popxl.Session.get_tensors_data, and share code with get_tensor_data
  python/popxl/python_files/session.py
  tests/integration/popxl/test_session.py
  tests/integration/popxl/test_tensor_data.py
Due: copyright-linter, popart-test-linter, pylint

Add support for custom programs, introduce special custom program for implicit pipeline forward only
  python/popart/popart_core/popart.cpp
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  tests/integration/pipelining_tests/pipeline_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/pipeline.hpp
  willow/src/ir.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/stashx.cpp
  willow/src/popx/popprograms.cpp
  willow/src/session.cpp
  willow/src/transforms/autodiff/autodiffiradapter.cpp
  willow/src/transforms/autodiff/autodiffiradapter.hpp
  willow/src/transforms/autodiff/autodiffirinterface.hpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
  willow/src/transforms/interipucopy.cpp
  willow/src/transforms/pipeline.cpp
Due: copyright-linter, popart-test-linter, pylint

add argmax and argmin in PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/argminmax.cpp
  python/popart._internal.ir/bindings/op/argminmax.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/argminmax.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_argmax.py
  tests/integration/popxl/test_argmin.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_argmax.py
  tests/unittests/python/popxl/ops/test_argmin.py
Due: copyright-linter, popart-test-linter, pylint

PopART C++ API: Fixes to comments for patterns.hpp
  willow/include/popart/patterns/patterns.hpp
Due: copyright-linter

PopART C++ API: Fixing comments for dataflow.hpp
  docs/api_cpp/api-cpp.rst
  willow/include/popart/dataflow.hpp
Due: copyright-linter

Avoid using deprecated variables in GCL
  willow/src/popx/executablexserializer.cpp
Due: copyright-linter

Add stubs for code loading API in popxl.
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/graph_copy.py
Due: copyright-linter, popart-test-linter, pylint

Add timers to 'Session::configureFromOnnx'
  willow/src/onnxutil.cpp
  willow/src/onnxutil.hpp
  willow/src/session.cpp
Due: copyright-linter

Remove isOptimizerOp check from CastOp RTS
  willow/include/popart/op/cast.hpp
Due: copyright-linter, clone-linter

export exp to popXL
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/exp.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_exp.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_exp.py
  willow/include/popart/op/exp.hpp
  willow/src/op/exp.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Implement fwdPropagateIsReplicaEqual for multi_replicatedallreduce
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
Due: copyright-linter, clone-linter

PopART C++ API: Add Doxygen comments to inputshapeinfo.hpp
  willow/include/popart/inputshapeinfo.hpp
Due: copyright-linter

Split up pipeline_test to prevent timeouts on CI
  tests/integration/pipelining_tests/CMakeLists.txt
Due: copyright-linter

Fix alias zero copy setting verification.
  willow/src/ir.cpp
Due: copyright-linter

Add `in_sequence('pass')` to allow transforms to add topocons after op creation
  python/popxl/python_files/context.py
  tests/unittests/python/popxl/context/test_in_sequence.py
Due: copyright-linter, popart-test-linter, pylint

Add switch to retain variables and constants in `removeIsolatedTensors`. Also ensure d2h_streams are not removed by adding them to the anchor remap.
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/ir.cpp
  python/popart._internal.ir/bindings/tensors.cpp
  python/popxl/python_files/random_seed.py
  python/popxl/python_files/streams.py
  willow/include/popart/graph.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/tensors.hpp
  willow/src/ir.cpp
  willow/src/tensors.cpp
Due: copyright-linter, popart-test-linter, pylint

Speed up deserialising model proto
  willow/src/filereader.cpp
Due: copyright-linter

Fix for serialization of random seed tensor during reserialization
  tests/integration/executable_serialization_test.cpp
  willow/src/popx/executablexserializer.cpp
Due: copyright-linter

PopART C++ API: Fixes to Doxygen comments in builder.hpp
  docs/api_cpp/api-cpp.rst
  willow/include/popart/builder.hpp
Due: copyright-linter

Anchors programs' and programs map saving to popef
  willow/include/popart/popx/popprograms.hpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/popprograms.cpp
Due: copyright-linter

PopXL - Remove serialisation from matmul. Fix partialTypeMatMuls support
  python/popart._internal.ir/bindings/op/matmul.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/matmul.py
  tests/unittests/python/popxl/ops/test_matmul.py
Due: copyright-linter, popart-test-linter, pylint

Re-enable most doc example tests
  docs/popxl/files/tests/CMakeLists.txt
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/user_guide/files/tests/CMakeLists.txt
  docs/user_guide/files/tests/test_popart_doc_examples.py
Due: copyright-linter, pylint

Logic fix for all-reduce
  tests/integration/streammode_tests/grouped_initialization_test.py
  willow/src/tensors.cpp
Due: copyright-linter, popart-test-linter, pylint

Improve forward-only pipeline program.
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  willow/include/popart/popx/popprograms.hpp
  willow/src/popx/popprograms.cpp
  willow/src/transforms/interipucopy.cpp
  willow/src/transforms/serializematmuls.cpp
Due: copyright-linter, popart-test-linter, pylint

Add missing value to operator<<
  willow/src/popx/popprograms.cpp
Due: copyright-linter

Put custom op tests in separate ctest and run separately.
  .arclint
  .pre-commit-config.yaml
  docs/popxl/files/tests/CMakeLists.txt
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py
  docs/user_guide/files/tests/CMakeLists.txt
  docs/user_guide/files/tests/test_popart_doc_examples.py
  docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py
Due: copyright-linter, popart-test-linter, pylint

PopART API: session.py and session.hpp updates
  docs/api_python/api-python.rst
  python/popart/python_files/session.py
  willow/include/popart/session.hpp
Due: copyright-linter, popart-test-linter, pylint

PopXL Doc: Added figure to autodiff section to explain difference between fwd_graph_ins and fwd_parent_ins
  docs/popxl/images/autodiff_fwd_graph_ins_vs_fwd_parent_ins.drawio
  docs/popxl/images/autodiff_fwd_graph_ins_vs_fwd_parent_ins.png
  docs/popxl/images/autodiff_overview.drawio
  docs/popxl/images/autodiff_overview.png
  docs/popxl/transforms.rst
Due: none

.arcconfig: let arc search for linters
  .arcconfig
Due: none

Add sqrt and maximum ops to PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/max.py
  python/popxl/python_files/ops/sqrt.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_max.py
  tests/unittests/python/popxl/ops/test_sqrt.py
Due: copyright-linter, popart-test-linter, pylint

PopXL API: improve links to related functions.
  python/popxl/python_files/ops/add.py
  python/popxl/python_files/ops/argminmax.py
  python/popxl/python_files/ops/cast.py
  python/popxl/python_files/ops/concat.py
  python/popxl/python_files/ops/detach.py
  python/popxl/python_files/ops/div.py
  python/popxl/python_files/ops/dropout.py
  python/popxl/python_files/ops/equal.py
  python/popxl/python_files/ops/exp.py
  python/popxl/python_files/ops/fmod.py
  python/popxl/python_files/ops/gather.py
  python/popxl/python_files/ops/logical_and.py
  python/popxl/python_files/ops/logical_not.py
  python/popxl/python_files/ops/logical_or.py
  python/popxl/python_files/ops/logsumexp.py
  python/popxl/python_files/ops/matmul.py
  python/popxl/python_files/ops/max.py
  python/popxl/python_files/ops/mean.py
  python/popxl/python_files/ops/median.py
  python/popxl/python_files/ops/min.py
  python/popxl/python_files/ops/mul.py
  python/popxl/python_files/ops/negate.py
  python/popxl/python_files/ops/negative_log_likelihood.py
  python/popxl/python_files/ops/prod.py
  python/popxl/python_files/ops/random.py
  python/popxl/python_files/ops/relu.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/ops/reshape.py
  python/popxl/python_files/ops/scatter.py
  python/popxl/python_files/ops/slice.py
  python/popxl/python_files/ops/softmax.py
  python/popxl/python_files/ops/split.py
  python/popxl/python_files/ops/squeeze.py
  python/popxl/python_files/ops/sub.py
  python/popxl/python_files/ops/sum.py
  python/popxl/python_files/ops/tanh.py
  python/popxl/python_files/ops/transpose.py
  python/popxl/python_files/ops/where.py
Due: copyright-linter, popart-test-linter, pylint

Split up sgd_mixed_mode_test_py_1 test.
  tests/integration/optimizer_tests/CMakeLists.txt
Due: copyright-linter

Fix inconsistent missing override clang Werror in collectives.hpp
  willow/include/popart/op/collectives/collectives.hpp
Due: copyright-linter, clone-linter

Fix explicit recompute (annotation issue and recompute to recompute connections)
  tests/integration/transformation_tests/CMakeLists.txt
  tests/integration/transformation_tests/explicitrecomputation.py
  willow/include/popart/transforms/explicitrecompute.hpp
  willow/src/op.cpp
  willow/src/recompute.cpp
  willow/src/transforms/explicitrecompute.cpp
Due: copyright-linter, popart-test-linter, pylint

Add custom ops to PopXL user guide
  docs/CMakeLists.txt
  docs/api_cpp/api-cpp.rst
  docs/popxl/custom_ops.rst
  docs/popxl/files/leaky_relu_op.py
  docs/popxl/files/run_leaky_relu.py
  docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py
  docs/shared/custom_ops_cppimport.rst
  docs/shared/custom_ops_environment.rst
  docs/shared/custom_ops_grad_op_class.rst
  docs/shared/custom_ops_grad_opx_class.rst
  docs/shared/custom_ops_op_class.rst
  docs/shared/custom_ops_opx_class.rst
  docs/shared/custom_ops_param_struct.rst
  docs/shared/files/leaky_relu_op_impl.cpp
  docs/user_guide/custom_ops.rst
  docs/user_guide/files/run_leaky_relu.py
  docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py
  willow/include/popart/op/custom/parameterizedopbinder.hpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

ignore graph.isSchedulable to speedup applyInplacePattern
  willow/src/ir.cpp
Due: copyright-linter
