Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: tests/popart_test_linter/check_test_has_cmake_entry.py
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

Add NUM_WORKERS parameter to add_popart_py_unit_test
  requirements/run.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/optimizer_tests/CMakeLists.txt
  tests/onnx_backend/CMakeLists.txt
Due: copyright-linter

Remove use of mapTensorLinearly so it can be removed from snap.
  willow/src/popx/op/histogramx.cpp
  willow/src/popx/op/sortutilx.cpp
Due: copyright-linter

Revert "Remove use of mapTensorLinearly so it can be removed from snap."
  willow/src/popx/op/histogramx.cpp
  willow/src/popx/op/sortutilx.cpp
Due: copyright-linter

Create second flag `retainAllIOTensors` and rename `retainIOTensors` -> `retainUsedIOTensors`
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/ir.cpp
  python/popart._internal.ir/bindings/tensors.cpp
  willow/include/popart/graph.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/tensors.hpp
  willow/src/ir.cpp
  willow/src/tensors.cpp
Due: copyright-linter

Avoid installing dataclasses for Python >3.6
  requirements/dev.txt
Due: copyright-linter

Fix for rng state when replicated graph option is set
  tests/integration/rng_mapping_test.cpp
  tests/integration/session_api_tests/rng_test.py
  willow/src/popx/devicex.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter, popart-test-linter, pylint

add 1d and 3d unit test of conv and pool in popxl, add MultiConvOptions for conv
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/conv.py
  python/popxl/python_files/ops/pool.py
  tests/integration/popxl/test_averagepool.py
  tests/integration/popxl/test_conv.py
  tests/integration/popxl/test_maxpool.py
  tests/unittests/python/popxl/ops/test_averagepool.py
  tests/unittests/python/popxl/ops/test_conv.py
  tests/unittests/python/popxl/ops/test_maxpool.py
Due: copyright-linter, popart-test-linter, pylint

Implement separate load and store landing pad tensors for remote exchanges when required.
  tests/integration/transformation_tests/mergeexchange_test.cpp
  willow/include/popart/popx/exchangebundle.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/exchangebundle.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/exchange/multiexchangex.cpp
Due: copyright-linter

Add API reference documentation for popxl.Session
  docs/popxl/api.rst
  docs/popxl/api/session.rst
Due: none

In `popxl.Session.get_tensor_data`, only run a `WeightsToHost` program when host weights are out-of-sync with device
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/popxl_test_device_helpers.py
  tests/integration/popxl/test_session.py
  tests/integration/popxl/test_session_lazy_weights_to_host.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/tensordata.hpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Avoid specific version of ninja because it fails on ubuntu 20.04
  requirements/dev.txt
Due: copyright-linter

PopART User Guide: Fixes to section Importing graphs
  docs/api_python/api-python.rst
  docs/user_guide/importing.rst
  python/popart/popart_core/popart.cpp
Due: copyright-linter

PopXL user guide: Fixing RST syntax issues, review/fix remote.rst, session.rst
  docs/api_python/api-python.rst
  docs/popxl/application_example.rst
  docs/popxl/concepts.rst
  docs/popxl/context.rst
  docs/popxl/datatype.rst
  docs/popxl/graph.rst
  docs/popxl/op.rst
  docs/popxl/remote.rst
  docs/popxl/replication.rst
  docs/popxl/session.rst
  docs/popxl/simple_example.rst
  docs/popxl/tensor.rst
  docs/popxl/transforms.rst
Due: none

Change Session.run_with_outputs example in User Guide to use np.empty to initialise output buffers
  docs/popxl/files/simple_addition.py
Due: copyright-linter, popart-test-linter, pylint

Amend conan version to avoid jinja2 dependency resolution issues.
  requirements/dev.txt
  scripts/requirements.txt
Due: copyright-linter

Add subgraph provided input to sum in growGradSumOp
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  willow/include/popart/bwdgraphinfo.hpp
  willow/include/popart/tensornames.hpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.hpp
  willow/src/transforms/autodiff/gradgrower.cpp
  willow/src/transforms/autodiff/gradgrowersumop.cpp
  willow/src/transforms/autodiff/opgradregistry.cpp
  willow/src/transforms/autodiff/opgradregistry.hpp
  willow/src/transforms/autodiff/recomputestitcher.cpp
Due: copyright-linter

log and onehot ops
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/log.py
  python/popxl/python_files/ops/onehot.py
  python/popxl/python_files/ops/topk.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_log.py
  tests/unittests/python/popxl/ops/test_onehot.py
  tests/unittests/python/popxl/ops/test_topk.py
Due: copyright-linter, popart-test-linter, pylint

Use same replicationFactor as when cbr was created
  willow/src/popx/executablexserializer.cpp
Due: copyright-linter

Use new gcl::CollectiveBalancedReorder api
  willow/src/popx/devicex.cpp
Due: copyright-linter

Documentation for VariableSettings
  docs/api_python/api-python.rst
  docs/user_guide/files/replication_popart.py
  docs/user_guide/files/tests/test_popart_doc_examples.py
  docs/user_guide/index.rst
  docs/user_guide/performance.rst
  docs/user_guide/variablesettings.rst
  willow/include/popart/commgroup.hpp
  willow/include/popart/variablesettings.hpp
Due: copyright-linter, popart-test-linter, pylint

Enable engine caching with inference-only pipelining.
  python/popart/popart_core/popart.cpp
  tests/integration/saved_executable.py
  willow/capnp/IrLowering.capnp
  willow/include/popart/popx/irlowering.hpp
  willow/src/popx/executablexserializer.cpp
Due: copyright-linter, popart-test-linter, pylint

SubgraphableOpCluster typo
  willow/include/popart/transforms/subgraphoutline.hpp
Due: copyright-linter

PopART C++ API Reference: Fixing pattern names in Doxygen comments for patterns.hpp
  willow/include/popart/patterns/patterns.hpp
Due: copyright-linter

Don't attept to do floating point comparison to default values. If the user specifies a value we should use it
  gen_operators.py
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest_gen_operators.cpp
  willow/src/builder.gen.cpp
Due: copyright-linter, popart-test-linter, pylint

Add retrieval mode to replica grouping in PopXL
  docs/popxl/replication.rst
  docs/user_guide/files/replication_popxl.py
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_grouped_initialization.py
  tests/integration/streammode_tests/CMakeLists.txt
  tests/unittests/python/popxl/test_replica_grouping.py
  willow/include/popart/tensors.hpp
  willow/include/popart/variablesettings.hpp
  willow/src/graph.cpp
  willow/src/tensors.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix bug: Reload engine and connect streams on every RE-attach through popxl.Session context manager
  docs/popxl/session.rst
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  tests/integration/popxl/popxl_test_device_helpers.py
  tests/integration/popxl/test_session_ctxtmgr.py
  willow/include/popart/session.hpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Bump version to 2.5.1 on release branch
  version.json
Due: none

Backport "Use same replicationFactor as when cbr was created" to sdk-release-2.5
  willow/src/popx/executablexserialization.cpp
Due: copyright-linter

Backport of number of merged multi-collectives changes into sdk-release-2.5
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/src/ir.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/replicatedtensorsharding.cpp
  willow/src/transforms/accumulateouterfragmentparallelizer.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter, clone-linter

Backport of implicit pipelining forward-only changes to sdk-release-2.5
  python/popart/popart_core/popart.cpp
  tests/integration/loss_scaling_update_period1_test.py
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  tests/integration/pipelining_tests/pipeline_test.py
  tests/integration/saved_executable.py
  willow/capnp/IrLowering.capnp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/pipeline.hpp
  willow/src/ir.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablexserialization.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/stashx.cpp
  willow/src/popx/popprograms.cpp
  willow/src/session.cpp
  willow/src/transforms/autodiff/autodiffiradapter.cpp
  willow/src/transforms/autodiff/autodiffiradapter.hpp
  willow/src/transforms/autodiff/autodiffirinterface.hpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
  willow/src/transforms/interipucopy.cpp
  willow/src/transforms/pipeline.cpp
  willow/src/transforms/serializematmuls.cpp
Due: copyright-linter, popart-test-linter, pylint

Improve memory profile with forward-only pipeline program.
  tests/integration/loss_scaling_update_period1_test.py
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  tests/integration/saved_executable.py
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/transforms/mainloops.hpp
  willow/include/popart/transforms/pipeline.hpp
  willow/src/ir.cpp
  willow/src/popx/popprograms.cpp
  willow/src/transforms/interipucopy.cpp
  willow/src/transforms/mainloops.cpp
  willow/src/transforms/pipeline.cpp
Due: copyright-linter, popart-test-linter, pylint

Add plan option flag "enableReducedClassesInLabel" as an attribute for CtcOp.
  willow/include/popart/op/ctc.hpp
  willow/src/op/ctc.cpp
  willow/src/popx/op/ctcx.cpp
Due: copyright-linter, clone-linter

Don't disable streaming and storing for optimizer tensors
  willow/src/ir.cpp
Due: copyright-linter

PopART C++ API Reference: Adding missing classes to api-cpp.rst
  docs/api_cpp/api-cpp.rst
Due: none

add interface of resize to support upsample in PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/resize.cpp
  python/popart._internal.ir/bindings/op/resize.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/interpolate.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_interpolate.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_interpolate.py
Due: copyright-linter, popart-test-linter, pylint

Ensure deterministism in MergeCollectivesTransform, MultiCollectivesTransform and AccumulateOuterFragmentParallelizerTransform
  willow/include/popart/transforms/accumulateouterfragmentparallelizer.hpp
  willow/src/transforms/accumulateouterfragmentparallelizer.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

