Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

.pre-commit-config.yaml:

# Copyright (c) 2022 Graphcore Ltd. All rights reserved.
---
repos:
    - repo: local
      hooks:
          - id: version-checker
            name: Version checker
            description: Ensures that the correct version of the linters are used.
            entry: python3 -m scripts.lint.install.check_versions
            language: python
            exclude: ".*"  # Does not run on files
            always_run: true
            additional_dependencies:
                - pyyaml
          - id: copyright-linter
            name: Copyright linter
            description: Ensures that files have the proper copyright line.
            entry: python3 -m scripts.lint.linters.copyright_linter
            language: python
            exclude: |
                (?x)^(
                    LICENSE|
                    build_scripts/.*|
                    willow/include/popart/vendored/.*|
                    .arclint|
                    .arcconfig|
                    .buildignore|
                    .clang-format|
                    .style.yapf|
                    .*Doxyfile.in|
                    .*.drawio|
                    .*.json|
                    .*.md|
                    .*.png|
                    .*.pdf|
                    .*.rst
                )$
            additional_dependencies:
                # dataclasses was introduced in Python 3.7
                # For python 3.6 it therefore needs to be added as a dependency
                - dataclasses
          - id: popart-test-linter
            name: PopART test-linter
            description: |
              checks that pytest test files have a corresponding
              `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
              file
            entry: tests/popart_test_linter/check_test_has_cmake_entry.py
            language: python
            files: .*.py
            exclude: |
                (?x)^(
                    docs/user_guide/files/tests/test_examples.py|
                    tests/linters/.*
                )$
    # The following linters are currently disabled
    # -   repo: https://github.com/pre-commit/pre-commit-hooks
    #     rev: v2.3.0
    #     hooks:
    #     -   id: check-yaml
    #     -   id: check-json
    #     -   id: check-merge-conflict
    #     -   id: debug-statements
    #     -   id: end-of-file-fixer
    #     -   id: mixed-line-ending
    #     -   id: trailing-whitespace
    # - repo: https://github.com/pre-commit/mirrors-yapf
    #   rev: v0.27.0
    #   hooks:
    #       - id: yapf
    # - repo: https://github.com/pocc/pre-commit-hooks
    #   rev: v1.3.5
    #   hooks:
    #       # Install with pip3 install clang-format==9.0.0
    #       - id: clang-format
    #         exclude: willow/include/popart/vendored/
    #         args: [
    #             -i,  # Fix inplace
    #             --style=file  # Use .clang-tidy
    #         ]
    #      - id: clang-tidy
    #      - id: oclint
    #      - id: uncrustify
    #      - id: cppcheck
    #        exclude: willow/include/popart/vendored/
    #        args: [
    #            --suppressions-list=scripts/lint/linters/cppcheck-suppressions-list.txt
    #        ]
    #      - id: cpplint
    #      - id: include-what-you-use

Allow non-broadcasted indices to the scatterreduceop
  tests/integration/operators_test/scatterreduce_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/scatterutilx.hpp
  willow/include/popart/popx/op/sliceplanx.hpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter

Enable comm-groups when using Remote Buffer and ReplicatedTensorSharding
  python/popart/popart_core/popart.cpp
  tests/integration/streammode_tests/grouped_initialization_test.py
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest_complement.cpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/patterns/optimizerdecompose.hpp
  willow/include/popart/variablesettings.hpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter

PopART API: updates to poart.ir tensor.py
  python/popart.ir/python_files/tensor.py
Due: copyright-linter, popart-test-linter

fix typing extension version conflicts
  requirements/dev.txt
Due: copyright-linter

Add string representation function to GradGraphInfo object
  python/popart.ir/python_files/tensor.py
  python/popart.ir/python_files/transforms/autodiff.py
  tests/unittests/python/popart.ir/transforms/test_autodiff.py
Due: copyright-linter, popart-test-linter

Use snap::compileGraph
  willow/CMakeLists.txt
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Inference Workaround patch when using VariableSettings
  tests/integration/streammode_tests/grouped_initialization_test.py
  willow/include/popart/variablesettings.hpp
  willow/src/ir.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter

Handle constant inputs to ops.call
  python/popart.ir/python_files/ops/call.py
Due: copyright-linter, popart-test-linter

Fix dynamic slice missing tile mapping.
  willow/src/popx/op/dynamic/dynamicslicex.cpp
Due: copyright-linter

PopART popart.ir API — add all classes to documentation
  docs/api_python/api-popart-ir.rst
  docs/api_python/api-python.rst
  docs/api_python/genindex.rst
  docs/api_python/index.rst
Due: popart-test-linter

Revert "Added new datatype FLOAT8 and two ops to convert to/from FLOAT8"
  tests/unittests/willow/op/CMakeLists.txt
  tests/unittests/willow/op/test_castfromfp8.cpp
  tests/unittests/willow/op/test_casttofp8.cpp
  willow/CMakeLists.txt
  willow/capnp/Ir.capnp
  willow/include/popart/op/castfromfp8.hpp
  willow/include/popart/op/casttofp8.hpp
  willow/include/popart/opidentifier.hpp
  willow/include/popart/popx/op/castfromfp8x.hpp
  willow/include/popart/popx/op/casttofp8x.hpp
  willow/include/popart/tensorinfo.hpp
  willow/src/builder_impl.cpp
  willow/src/builderdebuginfo.cpp
  willow/src/op/castfromfp8.cpp
  willow/src/op/casttofp8.cpp
  willow/src/popx/executablexserialization.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/castfromfp8x.cpp
  willow/src/popx/op/casttofp8x.cpp
  willow/src/tensorinfo.cpp
Due: copyright-linter

remove FLOAT8 type in executablexserialization.cpp
  willow/src/popx/executablexserialization.cpp
Due: copyright-linter

Add adamvarupdate op to popart.ir
  python/popart._internal.ir/CMakeLists.txt
  python/popart.ir/python_files/ops/var_updates/__init__.py
  python/popart.ir/python_files/ops/var_updates/adam_var_update.py
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popart.ir/ops/CMakeLists.txt
  tests/unittests/python/popart.ir/ops/test_adam_var_update.py
Due: copyright-linter, popart-test-linter

Inplacing ambiguity detection for popart.ir
  python/popart.ir/python_files/ir.py
  python/popart/popart_core/popart.cpp
  tests/unittests/python/popart.ir/CMakeLists.txt
  tests/unittests/python/popart.ir/test_inplacing.py
  tests/unittests/python/popart.ir/test_variable_location.py
  willow/include/popart/alias/aliasmodelgrower.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/alias/aliasmodelgrower.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter

Add insertNG2aryModifier to aliasmodel
  willow/include/popart/alias/aliasmodel.hpp
  willow/src/alias/aliasmodel.cpp
Due: copyright-linter

Remove strong check: Number of batches per step must be larger/equal than update period.
  tests/integration/CMakeLists.txt
  tests/integration/loss_scaling_infrequent_oversteps.py
  tests/unittests/ir/executeOpNTimesEveryMTimes.cpp
  willow/src/onnxutil.cpp
  willow/src/tensors.cpp
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter, popart-test-linter

Add split_random_seed, concat and fmod Ops to popart.ir
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/concat.cpp
  python/popart._internal.ir/bindings/op/concat.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popart.ir/python_files/ir.py
  python/popart.ir/python_files/module.py
  python/popart.ir/python_files/ops/__init__.py
  python/popart.ir/python_files/ops/concat.py
  python/popart.ir/python_files/ops/fmod.py
  python/popart.ir/python_files/ops/random_seed.py
  python/popart.ir/python_files/tensor.py
  tests/unittests/python/popart.ir/ops/CMakeLists.txt
  tests/unittests/python/popart.ir/ops/test_concat.py
  tests/unittests/python/popart.ir/ops/test_fmod.py
  tests/unittests/python/popart.ir/ops/test_random_seed.py
  willow/include/popart/popx/op/dropoutx.hpp
  willow/src/popx/op/dropoutx.cpp
Due: copyright-linter, popart-test-linter

Enable unusedPrivateFunction check
  scripts/lint/linters/cppcheck-suppressions-list.txt
  tests/unittests/unittest_complement.cpp
  willow/include/popart/numerics.hpp
Due: copyright-linter

Fix missing override
  scripts/lint/linters/cppcheck-suppressions-list.txt
  willow/src/transforms/autodiff/gradgrowerloss.hpp
  willow/src/transforms/autodiff/gradgrowermaingraph.hpp
  willow/src/transforms/autodiff/gradgrowerop.hpp
  willow/src/transforms/autodiff/gradgrowersumop.hpp
Due: copyright-linter

Fix Clang Werrors
  tests/integration/transformation_tests/automatic_loss_scaling_test.cpp
  willow/include/popart/op/rnnbase.hpp
Due: copyright-linter

PopART Python API: testing fix for doc output from tensorlocation.py
  python/popart.ir/python_files/tensorlocation.py
Due: copyright-linter, popart-test-linter

add autodiff transforms in popart ir user guide
  docs/user_guide/builderpopartir.rst
  docs/user_guide/files/autodiff_popart_ir.py
  docs/user_guide/popartir_subgraph.rst
  docs/user_guide/popartir_transforms.rst
  python/popart.ir/python_files/transforms/autodiff.py
Due: copyright-linter, popart-test-linter

Assure exchange.enablePrefetch has a value on the Device.
  willow/src/popx/devicex.cpp
Due: copyright-linter

PopART IR API doc: initial updates to wording and formatting
  python/popart.ir/__init__.py.in
  python/popart.ir/python_files/context.py
  python/popart.ir/python_files/graph.py
  python/popart.ir/python_files/ir.py
  python/popart.ir/python_files/module.py
  python/popart.ir/python_files/ops/cast.py
  python/popart.ir/python_files/ops/reshape.py
  python/popart.ir/python_files/ops/transpose.py
  python/popart.ir/python_files/ops/where.py
  python/popart.ir/python_files/remote_buffer.py
  python/popart.ir/python_files/streams.py
Due: copyright-linter, popart-test-linter

Altering RNG state error message to account for replication
  willow/src/popx/devicex.cpp
Due: copyright-linter

popart.ir User Guide: fixes while reviewing
  docs/user_guide/builderpopartir.rst
  docs/user_guide/popartir.rst
  docs/user_guide/popartir_concepts.rst
  docs/user_guide/popartir_op.rst
  docs/user_guide/popartir_subgraph.rst
  docs/user_guide/popartir_tensor.rst
Due: none

Addressed Bug
  tests/integration/streammode_tests/grouped_initialization_test.py
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter

Add shape inference for SplitOp
  tests/integration/operators_test/split_test.py
  willow/include/popart/shapeinference.hpp
  willow/src/popx/devicex.cpp
  willow/src/shapeinference.cpp
Due: copyright-linter, popart-test-linter

Fix bug in ReplicatedTensorShardingTracer
  tests/testutil/include/testutil/test_graphs/graph_test_models.hpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/unittest_graphutils.cpp
  willow/include/popart/graphutils.hpp
  willow/src/graphutils.cpp
  willow/src/replicatedtensorsharding.cpp
  willow/src/transforms/mergeexchange.cpp
Due: copyright-linter

Fix bug in promoted aliases and modifies with LoopOp
  willow/include/popart/op/subgraph.hpp
  willow/src/op/loop.cpp
  willow/src/op/subgraph.cpp
Due: copyright-linter

IO operation improvements
  willow/include/popart/op.hpp
  willow/include/popart/op/exchange/hostcopy.hpp
  willow/include/popart/transforms/hostiosetup.hpp
  willow/src/op.cpp
  willow/src/transforms/hostiosetup.cpp
Due: copyright-linter, popart-test-linter

Fix DynamicSliceOpx createInput bug
  willow/src/popx/op/dynamic/dynamicslicex.cpp
Due: copyright-linter

Improve dot visualizer: show inplace modified and aliased tensors
  willow/src/dotvisualizer.cpp
Due: copyright-linter

Removed deprecated include
  willow/include/popart/popx/op/collectives/collectivesx.hpp
Due: copyright-linter

Remove non-existant forward op inputs from `gradInputInfo` of RNN ops.
  willow/include/popart/op/gru.hpp
  willow/include/popart/op/lstm.hpp
  willow/include/popart/op/rnn.hpp
  willow/include/popart/op/rnnbase.hpp
  willow/src/op/gru.cpp
  willow/src/op/lstm.cpp
  willow/src/op/rnn.cpp
  willow/src/op/rnnbase.cpp
Due: copyright-linter

Add ExpandCast pattern
  tests/integration/pattern_tests/CMakeLists.txt
  tests/integration/pattern_tests/test_expandcast.py
  willow/include/popart/patterns/expandcast.hpp
  willow/include/popart/patterns/patterns.hpp
  willow/src/patterns/expandcast.cpp
  willow/src/patterns/patterns.cpp
Due: copyright-linter, popart-test-linter

PopART IR: split into separate doc
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/api_python/api-python.rst
  docs/api_python/index.rst
  docs/popart_ir/api-popart-ir.rst
  docs/popart_ir/builderpopartir.rst
  docs/popart_ir/genindex.rst
  docs/popart_ir/images/popart_ir_building_blocks.drawio
  docs/popart_ir/images/popart_ir_building_blocks.png
  docs/popart_ir/images/popart_ir_calling_a_graph.drawio
  docs/popart_ir/images/popart_ir_calling_a_graph.png
  docs/popart_ir/images/repeat_op.drawio
  docs/popart_ir/images/repeat_op.png
  docs/popart_ir/index.rst
  docs/popart_ir/legal.rst
  docs/popart_ir/popartir.rst
  docs/popart_ir/popartir_concepts.rst
  docs/popart_ir/popartir_datatype.rst
  docs/popart_ir/popartir_op.rst
  docs/popart_ir/popartir_subgraph.rst
  docs/popart_ir/popartir_tensor.rst
  docs/popart_ir/popartir_transforms.rst
  docs/user_guide/index.rst
Due: copyright-linter, popart-test-linter

<<Replace this line with your revision title>
  willow/include/popart/op/subgraph.hpp
  willow/src/op/loop.cpp
  willow/src/op/subgraph.cpp
Due: copyright-linter

Added scope to popart.ir tensor object string representation
  python/popart.ir/python_files/tensor.py
  tests/unittests/python/popart.ir/test_tensor.py
Due: copyright-linter, popart-test-linter
