Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: tests/popart_test_linter/check_test_has_cmake_entry.py
  language: python

Merge class and `__init__` docstring for `Ir`, `Session` and `RemoteBuffer`. Make remote buffer default to `entries=1`
  python/popxl/python_files/ir.py
  python/popxl/python_files/remote_buffer.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_remote_buffer_store_load.py
  tests/integration/popxl/test_rts_autodiff.py
  tests/unittests/python/popxl/ops/test_remote_load.py
  tests/unittests/python/popxl/ops/test_remote_store.py
  tests/unittests/python/popxl/test_remote_buffer.py
  tests/unittests/python/popxl/test_variable_location.py
Due: copyright-linter, popart-test-linter

Update links to tutorials repo for release 2.5
  docs/user_guide/custom_ops.rst
  docs/user_guide/performance.rst
Due: none

Update default ALS binEdgeLocation to higher value
  python/popart/popart_core/popart.cpp
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter

Update popxl docs to include Session guide.
  docs/popxl/index.rst
  docs/popxl/op.rst
  docs/popxl/session.rst
  docs/user_guide/files/autodiff_popxl.py
  docs/user_guide/files/basic_graph_popxl.py
  docs/user_guide/files/call_with_info_popxl.py
  docs/user_guide/files/create_multi_graphs_from_same_func_popxl.py
  docs/user_guide/files/in_sequence_popxl.py
  docs/user_guide/files/multi_call_graph_input_popxl.py
  docs/user_guide/files/multi_callsites_of_a_graph_popxl.py
  docs/user_guide/files/repeat_graph_popxl_0.py
  docs/user_guide/files/repeat_graph_popxl_1.py
  docs/user_guide/files/repeat_graph_popxl_2.py
  docs/user_guide/files/simple_addition_popxl.py
  docs/user_guide/files/tensor_addition_popxl.py
  docs/user_guide/files/tensor_get_write_popxl.py
  docs/user_guide/files/tests/test_examples.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter

Add verify step that users aren't using modifying (inplace) operations in `autodiff`
  tests/unittests/python/popxl/transforms/test_autodiff.py
  willow/src/transforms/autodiff/gradgrowergraph.cpp
Due: copyright-linter, popart-test-linter

Add Jenkins stat scraping script
  scripts/jenkins_scraper.py
Due: copyright-linter, popart-test-linter

remove pipeline stage context from PopXL
  docs/popxl/api.rst
  python/popxl/__init__.py.in
  python/popxl/python_files/context.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/context/test_pipeline_stage.py
Due: copyright-linter, popart-test-linter

Revert "Add inplace implementations to WhereOp"
  tests/integration/operators_test/operators_test_2.py
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/where.hpp
  willow/include/popart/popx/op/wherex.hpp
  willow/src/op/where.cpp
  willow/src/popx/op/wherex.cpp
Due: copyright-linter, popart-test-linter

Remove stray return statement in rnn op
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter

Correcting incorrect state-tensor initial vector dimensions.
  python/popart/popart_core/popart.cpp
  tests/integration/streammode_tests/CMakeLists.txt
  willow/src/patterns/optimizerdecompose.cpp
Due: copyright-linter

Add Tanh to popxl
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/tanh.py
Due: copyright-linter, popart-test-linter

construct fewer dummyGraphs
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Refactor explicit pipelining
  tests/integration/pipelining_tests/explicit_pipeline_test.py
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  tests/integration/pipelining_tests/pipeline_grad_accl_test.py
  tests/integration/pipelining_tests/pipeline_multiple_restores_per_stash.py
  tests/integration/pipelining_tests/pipeline_test.py
  tests/integration/pipelining_tests/replicated_pipeline_test.py
  tests/testutil/include/testutil/test_graphs/graph_test_models.hpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/transforms/unittest_decomposeloops.cpp
  tests/unittests/transforms/unittest_pipeline.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphutils.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/op/exchange/multiexchange.hpp
  willow/include/popart/op/subgraph.hpp
  willow/include/popart/tensor.hpp
  willow/include/popart/transforms/overlapio.hpp
  willow/include/popart/transforms/pipeline.hpp
  willow/src/graphutils.cpp
  willow/src/ir.cpp
  willow/src/op.cpp
  willow/src/op/exchange/multiexchange.cpp
  willow/src/op/ipucopy.cpp
  willow/src/patterns/contiguateipucopyindices.cpp
  willow/src/patterns/patterns.cpp
  willow/src/recompute.cpp
  willow/src/tensor.cpp
  willow/src/transforms/decomposeloops.cpp
  willow/src/transforms/decomposeloops_pipelining.cpp
  willow/src/transforms/iocomputetilecopy.cpp
  willow/src/transforms/mainloops.cpp
  willow/src/transforms/overlapio.cpp
  willow/src/transforms/pipeline.cpp
Due: copyright-linter, popart-test-linter

Added ReplicaGrouping to PopXL API
  docs/popxl/api.rst
  python/popxl/__init__.py.in
  python/popxl/python_files/ir.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/tensor.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_replica_grouping.py
Due: copyright-linter, popart-test-linter

Move TopoCons binding to new file and add TopoCons.transferToSubgraph method
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/topocons.cpp
  python/popart._internal.ir/bindings/topocons.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
Due: copyright-linter

PopXL User Guide: Minor improvements
  docs/popxl/api.rst
  docs/popxl/concepts.rst
  docs/popxl/context.rst
  docs/popxl/datatype.rst
  docs/popxl/graph.rst
  docs/popxl/introduction.rst
  docs/popxl/op.rst
  docs/popxl/simple_example.rst
  docs/popxl/tensor.rst
  docs/popxl/transforms.rst
Due: none

add remote variables in PopXL user guide
  docs/popxl/api.rst
  docs/popxl/images/RTS_var.drawio
  docs/popxl/images/RTS_var.png
  docs/popxl/index.rst
  docs/popxl/remote.rst
  docs/user_guide/files/remote_rts_var_popxl.py
  docs/user_guide/files/remote_variable_popxl.py
  docs/user_guide/files/rts_var_popxl.py
  docs/user_guide/files/tests/test_examples.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter

Organise session methods. Add `num_ipus` param. Detach from device when setting device. Allow torch inputs
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_session.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_tensor.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter

Use new snap method, addLinearlyMappedVariable
  tests/integration/rng_mapping_test.cpp
  willow/src/popx/creatorx.cpp
  willow/src/popx/op/basesortx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/topkx.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Improve errors in call op. Add tests for tensor coercion. Allow tensor coercion for inputs_dict
  python/popxl/python_files/graph.py
  python/popxl/python_files/ops/call.py
  python/popxl/python_files/tensor.py
  tests/unittests/python/popxl/ops/test_call.py
Due: copyright-linter, popart-test-linter

Popxl dtype: enable pytorch conversion. Add name property
  python/popxl/python_files/dtypes.py
  tests/unittests/python/popxl/test_dtype.py
Due: copyright-linter, popart-test-linter

Improve UX for linter installment
  .pre-commit-config.yaml
  scripts/lint/install/install_linters.py
  scripts/lint/linters/check_versions.py
Due: copyright-linter, popart-test-linter

PopXL User Guide: Resolving merge issue
  docs/popxl/concepts.rst
Due: none

Fix and enable check for known conditions
  scripts/lint/linters/cppcheck-suppressions-list.txt
  tests/integration/executable_serialization_test.cpp
  tests/integration/optimizer_tests/get_results.hpp
  tests/integration/pipelining_tests/pipeline_quadratic_epsilon_test_0.cpp
  tests/integration/pipelining_tests/pipeline_quadratic_epsilon_test_1.cpp
  tests/integration/pipelining_tests/pipeline_recompute_numerical_test_0.cpp
  willow/include/popart/op/gru.hpp
  willow/src/builder_helper.cpp
  willow/src/dotvisualizer.cpp
  willow/src/graphutils.cpp
  willow/src/ir.cpp
  willow/src/op/subgraph.cpp
  willow/src/region.cpp
  willow/src/transforms/batchserialize.cpp
  willow/src/transforms/decomposeloops_pipelining.cpp
  willow/src/transforms/mergecollectives.cpp
  willow/src/transforms/mergeloops.cpp
  willow/src/transforms/pipeline.cpp
  willow/src/transforms/subgraphoutline.cpp
Due: copyright-linter

Support and test overlapped IO with explicit pipelining
  tests/integration/transformation_tests/overlapio.py
Due: copyright-linter, popart-test-linter

Add information to the documentation related to exporting a model
  python/popart/python_files/session.py
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter, popart-test-linter

Adding zsh compatible backup to bash only var
  CMakeLists.txt
  enable-shell.in
Due: copyright-linter

Allow ops in AOF to be absorbed into the gradient clipping cluster
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/src/ir.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/transforms/accumulateouterfragmentparallelizer.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter

PopART and PopXL API References: Fixes to autodiff.hpp and autodiff.py documentation
  docs/api_cpp/api-cpp.rst
  python/popxl/python_files/transforms/autodiff.py
  willow/include/popart/transforms/autodiff.hpp
Due: copyright-linter, popart-test-linter

Try releasing device earlier.
  tests/integration/transformation_tests/overlapio.py
Due: copyright-linter, popart-test-linter

Fix Clang Werrors
  willow/include/popart/op/loop.hpp
  willow/include/popart/op/roialign.hpp
Due: copyright-linter

Enable checking of python doc parameters
  python/popart/python_files/builder.py
  python/popart/python_files/session.py
  python/popxl/python_files/ir.py
  python/popxl/python_files/ops/call.py
  python/popxl/python_files/ops/gather.py
  python/popxl/python_files/ops/group_norm.py
  python/popxl/python_files/ops/host_store.py
  python/popxl/python_files/ops/increment_mod.py
  python/popxl/python_files/ops/init.py
  python/popxl/python_files/ops/ipu_copy.py
  python/popxl/python_files/ops/matmul.py
  python/popxl/python_files/ops/random_seed.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/ops/reshape.py
  python/popxl/python_files/ops/split.py
  python/popxl/python_files/ops/squeeze.py
  python/popxl/python_files/ops/var_updates/accumulate.py
  python/popxl/python_files/ops/var_updates/adam_updater.py
  python/popxl/python_files/ops/where.py
  python/popxl/python_files/remote_buffer.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/transforms/autodiff.py
  python/popxl/python_files/transforms/merge_exchange.py
  python/popxl/python_files/utils.py
  scripts/gen_op_bindings.py
  scripts/gen_op_metadata.py
  scripts/jenkins_scraper.py
  scripts/lint/install/install_linters.py
  scripts/lint/linters/pylintrc
  scripts/util.py
  tests/integration/operators_test/ctc_beam_search_decoder.py
  tests/integration/operators_test/roialign_test.py
  tests/integration/popxl/pipelining/test_1_pipelined_inference.py
  tests/integration/streamingmemory_tests/host_stream_test.py
  tests/integration/test_util.py
  tests/unittests/python/popxl/ops/test_repeat.py
  tests/unittests/python/popxl/test_inplacing.py
Due: copyright-linter, popart-test-linter

Use createHostTransferrableTensor to improve overlapped IO with rearrangeOnHost=false
  tests/integration/transformation_tests/overlapio.py
  willow/include/popart/popx/op/exchange/exchangex.hpp
  willow/include/popart/popx/op/exchange/hostcopyx.hpp
  willow/include/popart/popx/op/exchange/multiexchangex.hpp
  willow/src/op/exchange/exchange.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/exchange/hostcopyx.cpp
  willow/src/popx/op/exchange/multiexchangex.cpp
Due: copyright-linter, popart-test-linter

Make HostLoadOp outplace by default and let the inplace pattern decide if it should be inplaced
  tests/integration/streamingmemory_tests/host_stream_op_schedule_test.cpp
  tests/integration/streamingmemory_tests/host_stream_test.py
  tests/unittests/transforms/unittest_overlapio.cpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/exchange/exchange.hpp
  willow/include/popart/op/exchange/hostbase.hpp
  willow/include/popart/op/exchange/hostcopy.hpp
  willow/include/popart/popx/op/exchange/hostcopyx.hpp
  willow/src/op/exchange/exchange.cpp
  willow/src/op/exchange/hostbase.cpp
  willow/src/op/exchange/hostcopy.cpp
  willow/src/op/exchange/remote.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/exchange/hostcopyx.cpp
Due: copyright-linter, popart-test-linter

Path conditions:
  copyright-linter: any file but: (?x)^(
    LICENSE|
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py, but not: (?x)^(
    docs/user_guide/files/tests/test_examples.py|
    tests/linters/.*
)$

