Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Refactor parsedTensorId
  tests/unittests/unittest_parsedtensorid.cpp
  tests/unittests/unittest_utils.cpp
  willow/include/popart/scope.hpp
  willow/src/parsedtensorid.cpp
  willow/src/parsedtensorid.hpp
  willow/src/scope.cpp
Due: copyright-linter

PopART Python API Reference: Fixing issues for 2.6.0 version
  docs/api_python/api-python.rst
Due: none

PopART User Guide: fixing broken formatting and links in performance.rst
  docs/api_cpp/api-cpp.rst
  docs/user_guide/performance.rst
Due: none

Fix Orthogonal CommGroup to match GCL
  docs/user_guide/files/replication_popart.py
  python/popart._internal.ir/bindings/tensor.cpp
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/replica_grouping.py
  tests/unittests/python/popxl/test_replica_grouping.py
  willow/include/popart/commgroup.hpp
  willow/include/popart/variablesettings.hpp
  willow/src/builder_impl.cpp
  willow/src/graph.cpp
  willow/src/op/collectives/collectives.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensordata.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter, pylint

Enable test of linters in CI
  .pre-commit-config.yaml
  scripts/lint/linters/base_linter.py
  scripts/lint/linters/check_python_test_has_cmake_entry.py
  scripts/lint/linters/clang_format_linter.py
  scripts/lint/precommit/PreCommitLinter.php
  tests/CMakeLists.txt
  tests/linters/CMakeLists.txt
  tests/linters/test_base_linter.py
  tests/linters/test_check_python_test_has_cmake_entry.py
  tests/linters/test_check_versions.py
  tests/linters/test_copyright_linter.py
Due: copyright-linter, popart-test-linter, pylint

Add implementation for the "operator<<" for "AccumulateOuterFragmentSchedule"
  willow/include/popart/sessionoptions.hpp
  willow/src/sessionoptions.cpp
Due: copyright-linter

Fix masked fill used in evaluating scatter max to zero out non-updated values
  willow/src/popx/op/scatterreducex.cpp
Due: copyright-linter

Enable skipped tests for scatterreduce operator
  tests/integration/operators_test/scatterreduce_test.py
Due: copyright-linter, popart-test-linter, pylint

Update links to tutorials repo for SDK 2.6 release [Cherry Pick for 2.6]
  docs/user_guide/custom_ops.rst
  docs/user_guide/performance.rst
Due: none

Split the tied gather correctnes test
  tests/integration/tiedgather_tests/CMakeLists.txt
Due: copyright-linter

Let GCL find itself
  CMakeLists.txt
  cmake/Modules/Findgcl.cmake
  willow/CMakeLists.txt
Due: copyright-linter

Revert "Let GCL find itself"
  CMakeLists.txt
  cmake/Modules/Findgcl.cmake
  willow/CMakeLists.txt
Due: copyright-linter

Introduce API into the session class to allow obtaining all tensor IDs
  python/popart/popart_core/popart.cpp
  tests/integration/session_api_tests/CMakeLists.txt
  tests/integration/session_api_tests/get_tensor_ids_test.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/popx/executablex.hpp
  willow/include/popart/session.hpp
  willow/src/ir.cpp
  willow/src/popx/executablex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter

Add ipu_version to Popxl session
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter, pylint

Refactor DevicexInfo::previouslyLoadedDevicexs
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

Add cpplint-based header guard linter
  .pre-commit-config.yaml
  requirements/dev.txt
  scripts/lint/install/install_linters.py
  scripts/lint/install/versions.yaml
Due: copyright-linter, popart-test-linter, pylint

Fix cmake script omitting variants
  scripts/configure_build.py
Due: copyright-linter, popart-test-linter, pylint

Ensure disable TensorStream session options are hashed
  willow/src/sessionoptions.cpp
Due: copyright-linter

Disable flaky aliaszerocopy_model test
  tests/integration/CMakeLists.txt
Due: copyright-linter

Show pre-commit error messages on arc lint failure
  scripts/lint/precommit/PreCommitLinter.php
Due: copyright-linter

Re-enable saved_executable test
  tests/integration/CMakeLists.txt
Due: copyright-linter

Fix PopXL replication code snippet and ensure it's tested
  docs/popxl/files/replication.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/replication.rst
Due: copyright-linter, popart-test-linter, pylint

Add multi reducescatter and allgather
  python/popart/popart_core/popart.cpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/multi_replicatedallgather.hpp
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/include/popart/op/collectives/multi_replicatedreducescatter.hpp
  willow/include/popart/popx/op/collectives/collectivesx.hpp
  willow/include/popart/popx/op/collectives/multi_replicatedallgatherx.hpp
  willow/include/popart/popx/op/collectives/multi_replicatedallreducex.hpp
  willow/include/popart/popx/op/collectives/multi_replicatedreducescatterx.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/mergecollectives.hpp
  willow/src/ir.cpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/multi_replicatedallgather.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/op/collectives/multi_replicatedreducescatter.cpp
  willow/src/popx/op/collectives/multi_replicatedallgatherx.cpp
  willow/src/popx/op/collectives/multi_replicatedreducescatterx.cpp
  willow/src/sessionoptions.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter, clone-linter

Add `setTitle` to print op and ensure `_gradient` is always appened to title for grad ops
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/printtensor.cpp
  python/popart._internal.ir/bindings/op/printtensor.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  willow/include/popart/op/printtensor.hpp
  willow/src/op/printtensor.cpp
  willow/src/popx/op/printtensorx.cpp
Due: copyright-linter, clone-linter

Allow streams to be created inside subgraphs
  python/popxl/python_files/streams.py
  tests/unittests/python/popxl/ops/test_host_load.py
  tests/unittests/python/popxl/ops/test_host_store.py
Due: copyright-linter, popart-test-linter, pylint

Fix bugs in bindings/test_ops.py related to VarUpdateWithUpdaterOps
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
Due: copyright-linter, popart-test-linter, pylint

Fix RemoteLoadOp::getInplaceVariant to construct RemoteLoadInplaceOp with the correct opid
  tests/unittests/willow/op/CMakeLists.txt
  tests/unittests/willow/op/test_remoteload.cpp
  willow/src/op/exchange/remote.cpp
Due: copyright-linter

Fix PopTensors::verify to compare the squeezed shapes of BOTH the Ir and Snap tensors
  tests/unittests/willow/popx/CMakeLists.txt
  tests/unittests/willow/popx/test_poptensors.cpp
  willow/src/popx/poptensors.cpp
Due: copyright-linter

Remove remnants of yapf
  CONTRIBUTING.md
  python/popxl/python_files/dtypes.py
  requirements/dev.txt
  scripts/lint/install/install_linters.py
  tests/integration/popxl/test_session.py
  tests/integration/randomsetup_test.py
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

Adding debug context information in various places.
  tests/integration/debug_info_test.cpp
  tests/integration/optimizer_tests/adam_mixed_mode_test_py_0.py
  tests/integration/optimizer_tests/adaptive_mixed_mode_test_py_0.py
  tests/integration/optimizer_tests/sgd_mixed_mode_test_py_0.py
  tests/unittests/python/popxl/context/test_debug_info.py
  willow/include/popart/op.hpp
  willow/include/popart/patterns/likeopspattern.hpp
  willow/src/adam.cpp
  willow/src/adaptive.cpp
  willow/src/ir.cpp
  willow/src/opmanager.cpp
  willow/src/opsharding.cpp
  willow/src/patterns/lambserialisedweight.cpp
  willow/src/patterns/packeddatablockpattern.cpp
  willow/src/patterns/tiedgatherpattern.cpp
  willow/src/patterns/upsampletoresizepattern.cpp
  willow/src/sgd.cpp
  willow/src/transforms/autodiff/gradgrowersumop.cpp
  willow/src/transforms/automaticlossscaling.cpp
  willow/src/transforms/dynamicoptransform.cpp
  willow/src/transforms/ensurefp32lossscale.cpp
  willow/src/transforms/hostiosetup.cpp
  willow/src/transforms/interipucopy.cpp
  willow/src/transforms/iocomputetilecopy.cpp
  willow/src/transforms/mainloops.cpp
  willow/src/transforms/mergecollectives.cpp
  willow/src/transforms/mergecopies.cpp
  willow/src/transforms/pipeline.cpp
  willow/src/transforms/randomsetup.cpp
  willow/src/transforms/subgraphoutline.cpp
  willow/src/transforms/transformbuilder.cpp
Due: copyright-linter, popart-test-linter, pylint

Transpose to identity reshape test
  tests/integration/pattern_tests/CMakeLists.txt
Due: copyright-linter

PopXL DecomposeSum transform
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/transforms/decomposesum.cpp
  python/popart._internal.ir/bindings/transforms/decomposesum.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/graph.py
  python/popxl/python_files/transforms/__init__.py
  python/popxl/python_files/transforms/decompose_sum.py
  tests/integration/decompose_gradient_summation_test.cpp
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/transforms/test_decompose_sum.py
  willow/include/popart/transforms/decomposegradsum.hpp
  willow/include/popart/transforms/decomposesum.hpp
  willow/src/transforms/decomposegradsum.cpp
  willow/src/transforms/decomposesum.cpp
Due: copyright-linter, popart-test-linter, pylint

Add support for if operation in PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/if.cpp
  python/popart._internal.ir/bindings/op/if.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/call.py
  python/popxl/python_files/ops/conditional.py
  python/popxl/python_files/ops/repeat.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_conditional.py
  tests/integration/popxl/test_conditional_variable.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_call.py
  tests/unittests/python/popxl/ops/test_conditional.py
Due: copyright-linter, popart-test-linter, pylint

Backout D71951
  tests/integration/pattern_tests/CMakeLists.txt
Due: copyright-linter
