Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: python3 -m scripts.lint.linters.check_python_test_has_cmake_entry
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc
  - -j 1

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

Remove remnants of PopIR from PopART.
  CMakeLists.txt
  cbt.json
  scripts/lint/linters/iwyu/include_what_you_use_linter.sh
  scripts/pybind11_mkdoc/gen_python_docs.sh
  willow/CMakeLists.txt
  willow/popart-config.cmake.in
  willow/src/popx/irlowering.cpp
Due: copyright-linter, popart-test-linter

Add `conv_pow2scaled` op to popxl
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/conv.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_conv_pow2scaled.py
  tests/unittests/op/conv.cpp
  willow/include/popart/op/conv.hpp
  willow/include/popart/op/convbase.hpp
  willow/include/popart/popx/op/convbasex.hpp
  willow/include/popart/popx/op/convx.hpp
  willow/src/op/conv.cpp
  willow/src/op/convbase.cpp
  willow/src/popx/op/convbasex.cpp
  willow/src/popx/op/convx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

PopXL User Guide: add popxl.ops.var_updates to API section
  docs/popart/api-cpp.rst
  docs/popart/glossary.rst
  docs/popxl/api/available_ops.rst
  docs/popxl/api/contexts.rst
  docs/popxl/api/dtypes.rst
  docs/popxl/api/random-seeds.rst
  docs/popxl/api/tensors.rst
  docs/popxl/application_example.rst
  docs/popxl/custom_ops.rst
  docs/popxl/distributed.rst
  docs/popxl/env_vars.rst
  docs/popxl/graph.rst
  docs/popxl/remote.rst
  docs/popxl/replication.rst
  docs/popxl/transforms.rst
  docs/shared/custom_ops_cppimport.rst.inc
  docs/shared/custom_ops_environment.rst.inc
  docs/shared/custom_ops_grad_op_class.rst.inc
  docs/shared/custom_ops_grad_opx_class.rst.inc
  docs/shared/custom_ops_op_class.rst.inc
  docs/shared/custom_ops_opx_class.rst.inc
  docs/shared/custom_ops_param_struct.rst.inc
  docs/shared/env_vars_logging.rst.inc
  python/popxl/python_files/ir.py
  python/popxl/python_files/ops/cast.py
  python/popxl/python_files/ops/collectives/all_reduce.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/ops/roialign.py
  python/popxl/python_files/ops/var_updates/accumulate.py
  python/popxl/python_files/ops/var_updates/adam_updater.py
  python/popxl/python_files/ops/var_updates/adam_var_update.py
  python/popxl/python_files/ops/var_updates/copy_var_update.py
  python/popxl/python_files/session.py
  tests/unittests/python/popxl/ops/test_adam_updater.py
  willow/include/popart/commgroup.hpp
Due: copyright-linter, popart-test-linter, pylint

Add support for float8 popef serialisation in popXL
  tests/integration/popxl/conftest.py
  tests/integration/popxl/test_cached_executables.py
  tests/integration/popxl/test_cast_float8.py
  tests/integration/popxl/utils.py
  tests/unittests/willow/popx/test_popefserializer.cpp
  willow/src/popx/popefserializerimpl.cpp
Due: copyright-linter, popart-test-linter, pylint

Headers required for Boost 1.80 upgrade
  tests/integration/dot_tests/basic_0_dot_test.cpp
  willow/src/filereader.cpp
  willow/src/scheduler.cpp
Due: copyright-linter

fix for T70960 to change the way to download MNIST dataset
  docs/popxl/files/mnist.py
  docs/popxl/files/mnist_rts.py
Due: copyright-linter, pylint

Add FP8 operations to user manual
  docs/popxl/datatype.rst
Due: none

Speedup MNIST tests in test_popxl_doc_examples
  .pre-commit-config.yaml
  docs/popart/files/tests/test_popart_doc_examples.py
  docs/popxl/application_example.rst
  docs/popxl/files/mnist.py
  docs/popxl/files/mnist_rts.py
  docs/popxl/files/mnist_utils.py
  docs/popxl/files/tests/CMakeLists.txt
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/shared/files/tests/examples_tester.py
Due: copyright-linter, popart-test-linter, pylint

Add support for host-based conversion between float8 and float16
  docs/popxl/datatype.rst
  python/popart._internal.ir/bindings/float8conversion.cpp
  python/popxl/python_files/utils.py
  tests/unittests/python/popart._internal.ir/bindings/test_fp8_conversion.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

Fixup PopXL User Guide for MNIST example changes
  docs/popxl/application_example.rst
  docs/popxl/files/mnist_utils.py
Due: copyright-linter, popart-test-linter, pylint

Add conv transpose op to PopXL.
  python/popart._internal.ir/bindings/op/conv.cpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/conv.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_convtranspose.py
  tests/unittests/CMakeLists.txt
  tests/unittests/op/convtranspose.cpp
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_convtranspose.py
  willow/src/op/conv.cpp
  willow/src/op/convtranspose.cpp
  willow/src/patterns/convtransposepattern.cpp
Due: copyright-linter, popart-test-linter, pylint

Flip inheritance direction of Opx<->PopOpx
  willow/include/popart/popx/creatorx.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/opx.hpp
  willow/include/popart/popx/opxmanager.hpp
  willow/include/popart/popx/popopx.hpp
  willow/src/popx/creatorx.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/opx.cpp
  willow/src/popx/opxmanager.cpp
  willow/src/popx/popopx.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

label doc only tests
  docs/popart/files/tests/CMakeLists.txt
  docs/popxl/files/tests/CMakeLists.txt
Due: copyright-linter

Example of float 8 inference graph.
  docs/popxl/datatype.rst
  docs/popxl/files/float8_inference.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
Due: copyright-linter, popart-test-linter, pylint

Add batch norm operation to PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/batch_norm.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_batch_norm.py
Due: copyright-linter, popart-test-linter, pylint

Fix replication factor as otherwise erros when using poprun
  willow/src/popx/popefserializerimpl.cpp
Due: copyright-linter

Float8 docs corrections
  docs/popxl/datatype.rst
  docs/popxl/files/float8_inference.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  python/popxl/python_files/ops/cast.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_cast_float8.py
  tests/integration/popxl/test_float8_view_changes.py
  tests/integration/popxl/utils.py
  tests/unittests/python/popxl/test_tensor.py
Due: copyright-linter, popart-test-linter, pylint

Add conv_transpose_pow2scaled op to PopXL.
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/conv.py
  tests/integration/popxl/test_conv_pow2scaled.py
  tests/unittests/CMakeLists.txt
  tests/unittests/op/convtranspose.cpp
  tests/unittests/patterns/convtranspose.cpp
  willow/include/popart/op/convtranspose.hpp
  willow/src/op/convtranspose.cpp
  willow/src/patterns/convtransposepattern.cpp
  willow/src/popx/op/convx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Fix replica grouping from assignments transpose bug
  python/popxl/python_files/replica_grouping.py
  tests/unittests/python/popxl/test_replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

Update torch version for python 3.10 and fixes for torch 1.11.0
  README.md
  docs/popart/files/importing_session.py
  requirements/run.txt
  tests/integration/doc_test.py
  tests/integration/operators_test/loss_test.py
  tests/integration/operators_test/lstm_test_2.py
  tests/integration/operators_test/resize_test_0.py
  tests/integration/operators_test/resize_test_1.py
  tests/integration/popxl/test_interpolate.py
Due: copyright-linter, popart-test-linter, pylint

Resolve poplar build failing while building wheel
  README.md
  requirements/run.txt
Due: copyright-linter

Place PopArt assertion macros on the same line as end of Boost test macros in expression checking tests
  tests/unittests/util/unittest_expressionchecking.cpp
Due: copyright-linter

Include <any> before define private public to work-around compiler error on Ubuntu 22
  tests/integration/inplace_tests/accumulator_0_ip_test.cpp
  tests/integration/inplace_tests/elementwisebinary_testcase.hpp
  tests/integration/poprithmstransitiveclosure_test.cpp
  tests/integration/recompute_tests/recompute_test_popx_normonly_calls0.cpp
  tests/integration/recompute_tests/recompute_test_popx_standard_calls0.cpp
  tests/integration/slice_pad_dual_tests/slice_train_1.cpp
  tests/integration/synthetic_data_test.cpp
  tests/integration/test_runner.hpp
  tests/integration/transform_test.cpp
  tests/unittests/testutil/irquery/unittest_graphtestwrapper.cpp
  tests/unittests/testutil/irquery/unittest_irtestwrapper.cpp
  tests/unittests/testutil/irquery/unittest_opstestwrapper.cpp
  tests/unittests/testutil/irquery/unittest_optestwrapper.cpp
  tests/unittests/testutil/irquery/unittest_tensorindexmaptestwrapper.cpp
  tests/unittests/testutil/irquery/unittest_tensortestwrapper.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
Due: copyright-linter

Add custom transform applier
  python/popart/__init__.py.in
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/custom_transform_test.cpp
  tests/integration/options_test.py
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/transform.hpp
  willow/src/customtransformapplier.cpp
  willow/src/customtransformapplier.hpp
  willow/src/ir.cpp
  willow/src/transforms/transform.cpp
Due: copyright-linter, popart-test-linter, pylint

Require Boost >= 1.80
  CMakeLists.txt
  tests/CMakeLists.txt
Due: copyright-linter

Revert requiring Boost >= 1.80
  CMakeLists.txt
  tests/CMakeLists.txt
Due: copyright-linter

Resolve pytest bug and test errors
  requirements/build.txt
  requirements/run.txt
  tests/integration/constant_op_test.py
  tests/integration/type_casting_test.py
  tests/unittests/python/popxl/test_remote_buffer.py
Due: copyright-linter, popart-test-linter, pylint

Infer executable hash from name
  tests/integration/popxl/test_cached_executables.py
  willow/include/popart/popx/popefserializer.hpp
  willow/src/ir.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Replace `popart::any` with `anylite`
  README.md
  willow/CMakeLists.txt
  willow/include/popart/vendored/any.hpp
  willow/include/popart/vendored/anylite.hpp
  willow/src/builder_helper.cpp
  willow/src/builder_impl.cpp
  willow/src/builderdebuginfo.cpp
Due: copyright-linter

Bind getter/setter for MultiConvOptions to MultiConvBase
  python/popart._internal.ir/bindings/op/conv.cpp
  tests/unittests/python/popxl/ops/test_conv.py
Due: copyright-linter, popart-test-linter, pylint

Don't infer modified regions by default for call op when input by ref
  python/popxl/python_files/ops/call.py
Due: copyright-linter, popart-test-linter, pylint

Remove extraneous semi-colon after method in custom_transform_test.cpp
  tests/integration/custom_transform_test.cpp
Due: copyright-linter

Add an assert on the value of the log2scale tensor in the FP8 cast ops whenever throwIfLog2ScaleNotInRange is enabled
  python/popxl/python_files/ops/cast.py
  tests/integration/popxl/test_cast_float8.py
  tests/unittests/python/popxl/ops/test_cast.py
  willow/src/popx/op/castthenpow2scalex.cpp
  willow/src/popx/op/pow2scalethencastx.cpp
Due: copyright-linter, popart-test-linter, pylint

Refactor Devicex to only create d2hWeightBuffers when the TensorData cannot be reused directly
  tests/integration/executable_serialization_test.cpp
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_d2hWeightBuffer_elision.py
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter, pylint

Replace Devicex::h2dWeightBuffers with poplar::StreamCallbacks on the tensor data
  willow/include/popart/popx/devicex.hpp
  willow/src/popx/devicex.cpp
Due: copyright-linter

Add PopXL API to initialise variable with memory-mapped numpy array, and remove internal memcpys where possible
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/tensor.cpp
  python/popart._internal.ir/bindings/tensordata.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_mmap_variable.py
  tests/unittests/python/popart._internal.ir/bindings/test_tensor.py
  tests/unittests/willow/popx/test_executablexserializer.cpp
  tests/unittests/willow/popx/test_popefserializer.cpp
  willow/include/popart/tensor.hpp
  willow/include/popart/tensordata.hpp
  willow/include/popart/tensors.hpp
  willow/src/adam.cpp
  willow/src/adaptive.cpp
  willow/src/graph.cpp
  willow/src/ir.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/sgd.cpp
  willow/src/tensor.cpp
  willow/src/tensordata.cpp
  willow/src/tensors.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
Due: copyright-linter, popart-test-linter, pylint

Warn if creating variable in PopXL with np.memmap and non-const replica grouping
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_mmap_variable.py
Due: copyright-linter, popart-test-linter, pylint

Optimise away some TensorData copies during const-folding
  willow/include/popart/ces/constexpr.hpp
  willow/include/popart/tensors.hpp
  willow/src/ces/constexpr.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
Due: copyright-linter

Revert 38f5c32d315f013a60779cab890359b04e767f77
  willow/include/popart/ces/constexpr.hpp
  willow/include/popart/tensors.hpp
  willow/src/ces/constexpr.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
Due: copyright-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

