Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Dont prune print op
  python/popxl/python_files/ops/print_tensor.py
  tests/integration/printtensor.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_print_tensor.py
  willow/include/popart/op/printtensor.hpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Manually Bind Gather to access availableMemoryProportion
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/gather.cpp
  python/popart._internal.ir/bindings/op/gather.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ir.py
  python/popxl/python_files/tensor.py
  willow/include/popart/op/gather.hpp
  willow/include/popart/op/scatter.hpp
  willow/include/popart/op/scatterreduce.hpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Change intro for PopXL doc
  docs/popxl/introduction.rst
Due: none

Add map and set classes for deterministic iteration over Op, Tensor, and ICreatorCandidate pointers
  tests/unittests/unittest_pointercomparators.cpp
  willow/include/popart/op.hpp
  willow/include/popart/pointercomparators.hpp
  willow/include/popart/popx/creatorx.hpp
  willow/include/popart/tensor.hpp
  willow/src/pointercomparators.cpp
  willow/src/popx/creatorx.cpp
Due: copyright-linter

Non-determinism fixes
  tests/integration/transformation_tests/automatic_loss_scaling_test.cpp
  willow/include/popart/graph.hpp
  willow/include/popart/ir.hpp
  willow/include/popart/op.hpp
  willow/include/popart/popx/creatorx.hpp
  willow/include/popart/replicatedtensorsharding.hpp
  willow/include/popart/transforms/prune.hpp
  willow/include/popart/transforms/subgraphoutline.hpp
  willow/include/popart/util.hpp
  willow/src/alias/aliasmodelgrower.cpp
  willow/src/graph.cpp
  willow/src/graphutils.cpp
  willow/src/ir.cpp
  willow/src/op.cpp
  willow/src/recompute.cpp
  willow/src/subgraph/iosubgraphcostmodel.cpp
  willow/src/subgraph/wrappedop.cpp
  willow/src/transforms/automaticlossscaling.cpp
  willow/src/transforms/iocomputetilecopy.cpp
  willow/src/transforms/mergeloops.cpp
  willow/src/transforms/prune.cpp
  willow/src/util.cpp
Due: copyright-linter, popart-test-linter

Add a comparator for a vector of Tensor pointers
  tests/unittests/unittest_pointercomparators.cpp
  willow/include/popart/pointercomparators.hpp
  willow/src/pointercomparators.cpp
Due: copyright-linter

Fix non-determinism in IR preparation
  willow/src/ir.cpp
Due: copyright-linter

Broadcast creator for binary ops
  python/popxl/python_files/ir.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_add_broadcast_creator.py
  willow/include/popart/popx/op/elementwisex.hpp
  willow/src/popx/op/elementwisex.cpp
Due: copyright-linter, popart-test-linter, pylint

Add shapeddropout in PopXl
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/shaped_dropout.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_shaped_dropout.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_shaped_dropout.py
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: Supported Ops chapter (fixes and improvements)
  docs/gen_popart_supported_ops.py
  docs/user_guide/supported_ops.rst
Due: copyright-linter, popart-test-linter, pylint

Remove use of private members in tests
  tests/integration/inplace_tests/elementwisebinary_testcase.hpp
  tests/integration/outlining_ir_test.cpp
  tests/integration/transformation_tests/batchserialize_ir_test.cpp
Due: copyright-linter

support swish and greater in popxl
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/greater.py
  python/popxl/python_files/ops/swish.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_greater.py
  tests/integration/popxl/test_swish.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_greater.py
  tests/unittests/python/popxl/ops/test_swish.py
  willow/include/popart/op/swish.hpp
  willow/src/op/swish.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

export cumsum to popxl
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/cumsum.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_cumsum.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_cumsum.py
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: Improving References chapter
  docs/user_guide/references.rst
Due: none

Revert 'Broadcast creator for binary ops' due to regression
  python/popxl/python_files/ir.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_add_broadcast_creator.py
  willow/include/popart/popx/op/elementwisex.hpp
  willow/src/popx/op/elementwisex.cpp
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: fixes to Grouping Graph Replicas chapter
  docs/api_cpp/api-cpp.rst
  docs/api_python/api-python.rst
  docs/api_python/intro.rst
  docs/user_guide/images/commgrouptypes.drawio
  docs/user_guide/images/commgrouptypes.png
  docs/user_guide/variablesettings.rst
Due: none

PopART User Guide: Custom ops chapter review/fixes
  docs/user_guide/custom_ops.rst
Due: none

Ensuring order of "replacedDebugContextIds" matches "outlinedDebugContextIds" in Call debug info.
  willow/src/transforms/subgraphoutline.cpp
Due: copyright-linter

PopART User Guide: adding information to supported ops chapter on how to convert ONNX models
  docs/gen_popart_supported_ops.py
  docs/user_guide/supported_ops.rst
Due: copyright-linter, popart-test-linter, pylint

change replicated_all_gather op so that the output tensor has shape (size, *shape)
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  tests/unittests/python/popxl/ops/test_replicated_all_gather.py
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: fixes to the Overlapping IO with compute chapter
  docs/user_guide/overlap_io.rst
Due: none

Prepare vgid and tileset after Ir::setIsPrepared
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/tensor.cpp
Due: copyright-linter

Host memory optimisations for TensorData
  python/popart._internal.ir/bindings/tensor.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/unittests/python/popxl/test_utils.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/executablex.hpp
  willow/include/popart/session.hpp
  willow/include/popart/tensordata.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/tensordata.cpp
Due: copyright-linter, popart-test-linter, pylint

Remove run_lint.py
  scripts/run_lint.py
Due: copyright-linter, popart-test-linter, pylint

Move popart to use the gccs python unit test file
  tests/AddPythonUnitTest.cmake
  tests/CMakeLists.txt
Due: copyright-linter

Move tensor data from popart opaque blob to the tensor data blobs
  tests/integration/executable_serialization_test.cpp
  tests/unittests/willow/popx/CMakeLists.txt
  tests/unittests/willow/popx/test_executablexserializer.cpp
  tests/unittests/willow/popx/test_popefserializer.cpp
  willow/capnp/Ir.capnp
  willow/include/popart/popx/popefserializer.hpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/executablexserializer.hpp
  willow/src/popx/popefserializer.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter

Revert "Move tensor data from popart opaque blob to the tensor data blobs"
  tests/integration/executable_serialization_test.cpp
  tests/unittests/willow/popx/CMakeLists.txt
  tests/unittests/willow/popx/test_executablexserializer.cpp
  tests/unittests/willow/popx/test_popefserializer.cpp
  willow/capnp/Ir.capnp
  willow/include/popart/popx/popefserializer.hpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/executablexserializer.hpp
  willow/src/popx/popefserializer.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter

Prepend the directory to the test name in add_popart_py_unit_test function
  tests/CMakeLists.txt
Due: copyright-linter

Skip verifyPadBase when tensor shape not known
  willow/src/builder_helper.cpp
Due: copyright-linter

Add convenience PopART macros for various comparison checks
  tests/unittests/CMakeLists.txt
  tests/unittests/util/CMakeLists.txt
  tests/unittests/util/unittest_expressionchecking.cpp
  willow/CMakeLists.txt
  willow/include/popart/util.hpp
  willow/include/popart/util/expressionchecking.hpp
  willow/src/util/expressionchecking.cpp
Due: copyright-linter

Enable matmulgradpattern
  tests/integration/matmul_tests/CMakeLists.txt
  tests/integration/matmul_tests/matmulgradpattern_test.cpp
  willow/include/popart/patterns/matmulgradpattern.hpp
  willow/src/transforms/autodiff/gradgrowerop.cpp
Due: copyright-linter

Fix bug of nesterov SGD when using pipeline.
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
Due: copyright-linter

Split transpose to identity reshape test
  tests/integration/pattern_tests/CMakeLists.txt
Due: copyright-linter

Add batchnorm with unbiased variance for PopTorch
  .pre-commit-config.yaml
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/batchnorm_test.py
  tests/unittests/willow/op/CMakeLists.txt
  tests/unittests/willow/op/test_batchnorm_attributes.cpp
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/batchnorm.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/batchnorm.cpp
  willow/src/popx/op/batchnormx.cpp
  willow/src/shapeinference.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

PopART User Guide: fixes to Environment Variables chapter
  docs/popart/env_vars.rst
  docs/shared/env_vars_logging.rst
Due: none
