Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Implement SplineBasis and SplineWeighting ops for PyG SplineConv
  docs/popart/api-cpp.rst
  python/popart/popart_core/popart.cpp
  requirements/run.txt
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/splinebasis_test.py
  tests/integration/operators_test/splineweighting_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/splinebasis.hpp
  willow/include/popart/op/splineweighting.hpp
  willow/include/popart/popx/op/splinebasisx.hpp
  willow/include/popart/popx/op/splineweightingx.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/splinebasis.cpp
  willow/src/op/splineweighting.cpp
  willow/src/popx/op/splinebasisx.cpp
  willow/src/popx/op/splineweightingx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Add poplar and popart version for hash calculating
  willow/src/ir.cpp
Due: copyright-linter

Update SDK version to 3.4.0
  version.json
Due: none

Add more efficient way of calculating copy costs in outliner
  tests/integration/CMakeLists.txt
  tests/integration/iosubgraphcostmodel_test.cpp
  willow/include/popart/subgraph/iosubgraphcostmodel.hpp
  willow/src/subgraph/iosubgraphcostmodel.cpp
Due: copyright-linter

Use Popops IS_NAN for PopART IsNaN
  willow/src/popx/op/isnanx.cpp
Due: copyright-linter

Add setup quick start chapters to PopXL and PopART user guides
  docs/popart/index.rst
  docs/popart/setup_quick_start.rst
  docs/popxl/index.rst
  docs/popxl/introduction.rst
  docs/popxl/setup_quick_start.rst
Due: none

Switch usage of deprecated `deviceIteration` to `deviceIterations`
  tests/integration/executable_serialization_test.cpp
  willow/src/popx/popefserializerimpl.cpp
Due: copyright-linter

PopART/PopXL docs: Fixing heading hierarchy for new sections
  docs/popart/setup_quick_start.rst
  docs/popxl/setup_quick_start.rst
Due: none

Remove empty constant tensor
  tests/integration/operators_test/constexpr_slice.py
  willow/src/graph.cpp
  willow/src/opmanager.cpp
Due: copyright-linter, popart-test-linter, pylint

Correct test to match chip behaviour, cast inf to quarter is always nan
  tests/unittests/python/popxl/test_fp8_utils.py
Due: copyright-linter, popart-test-linter, pylint

Support detached mean and var input tensors in batchnorm
  tests/integration/operators_test/batchnorm_test.py
  willow/src/op/batchnorm.cpp
Due: copyright-linter, popart-test-linter, pylint

add createHostTransferableTensorWithOffset session option to create host transferable tensors with tile mapping balance
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/inittensoroffsetmap_test.cpp
  tests/integration/options_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/inittensoroffsetmap.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/popx/inittensoroffsetmap.cpp
  willow/src/popx/op/exchange/exchangex.cpp
Due: copyright-linter, popart-test-linter, pylint

add more efficient way to add constrains in OverlapIO
  python/popart/popart_core/popart.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/transforms/unittest_efficient_overlapio.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/transforms/decomposeloops.hpp
  willow/src/transforms/decomposeloops.cpp
Due: copyright-linter, popart-test-linter

Fix vgid inheritance for CopyVarUpdate op
  willow/src/opattributehelper.cpp
Due: copyright-linter

improving AliasModel to reduce compilation time
  willow/include/popart/alias/aliasmodel.hpp
  willow/src/alias/aliasmodel.cpp
  willow/src/alias/aliasmodelgrower.cpp
Due: copyright-linter

improve inplace performance
  willow/include/popart/ir.hpp
  willow/include/popart/op.hpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/op.cpp
  willow/src/tensor.cpp
Due: copyright-linter

rm numIOTiles <= 192 limit
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Enable CustomOp with floats (python list) as attributes
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/customop_attr_pylist_tests/CMakeLists.txt
  tests/integration/customop_attr_pylist_tests/attr_pylist_float_customOp.cpp
  tests/integration/customop_attr_pylist_tests/customop_attr_pylist_float_test.py
Due: copyright-linter, popart-test-linter, pylint

PopART and PopXL user guides: update copyright dates
  docs/popart/legal.rst
  docs/popxl/legal.rst
Due: none

github-migration/master (#1)
  .arcconfig
  .ci/view_component_trigger/Jenkinsfile
  .ci/view_component_trigger/jobs.groovy
  .github/CODEOWNERS
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: copyright-linter

Disable tests that fail on C600 Hw in CI (#3)
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/anchor_tests/CMakeLists.txt
  tests/integration/optimizer_tests/CMakeLists.txt
  tests/integration/pipelining_tests/CMakeLists.txt
  tests/integration/popxl/CMakeLists.txt
  tests/integration/session_api_tests/CMakeLists.txt
  tests/integration/streamingmemory_tests/CMakeLists.txt
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/tiedgather_tests/CMakeLists.txt
Due: copyright-linter

popxl.ops.repeat - remove 'see also' links (#4)
  python/popxl/python_files/ops/repeat.py
Due: copyright-linter, popart-test-linter, pylint
