Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

.pre-commit-config.yaml:

# Copyright (c) 2022 Graphcore Ltd. All rights reserved.
---
repos:
    - repo: local
      hooks:
          - id: version-checker
            name: Version checker
            description: Ensures that the correct version of the linters are used.
            entry: python3 -m scripts.lint.install.check_versions
            language: python
            exclude: ".*"  # Does not run on files
            always_run: true
            additional_dependencies:
                - pyyaml
          - id: copyright-linter
            name: Copyright linter
            description: Ensures that files have the proper copyright line.
            entry: python3 -m scripts.lint.linters.copyright_linter
            language: python
            exclude: |
                (?x)^(
                    LICENSE|
                    build_scripts/.*|
                    willow/include/popart/vendored/.*|
                    .arclint|
                    .arcconfig|
                    .buildignore|
                    .clang-format|
                    .style.yapf|
                    .*Doxyfile.in|
                    .*.drawio|
                    .*.json|
                    .*.md|
                    .*.png|
                    .*.pdf|
                    .*.rst
                )$
            additional_dependencies:
                # dataclasses was introduced in Python 3.7
                # For python 3.6 it therefore needs to be added as a dependency
                - dataclasses
          - id: popart-test-linter
            name: PopART test-linter
            description: |
              checks that pytest test files have a corresponding
              `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
              file
            entry: tests/popart_test_linter/check_test_has_cmake_entry.py
            language: python
            files: .*.py
            exclude: |
                (?x)^(
                    docs/user_guide/files/tests/test_examples.py|
                    tests/linters/.*
                )$
    # The following linters are currently disabled
    # -   repo: https://github.com/pre-commit/pre-commit-hooks
    #     rev: v2.3.0
    #     hooks:
    #     -   id: check-yaml
    #     -   id: check-json
    #     -   id: check-merge-conflict
    #     -   id: debug-statements
    #     -   id: end-of-file-fixer
    #     -   id: mixed-line-ending
    #     -   id: trailing-whitespace
    # - repo: https://github.com/pre-commit/mirrors-yapf
    #   rev: v0.27.0
    #   hooks:
    #       - id: yapf
    # - repo: https://github.com/pocc/pre-commit-hooks
    #   rev: v1.3.5
    #   hooks:
    #       # Install with pip3 install clang-format==9.0.0
    #       - id: clang-format
    #         exclude: willow/include/popart/vendored/
    #         args: [
    #             -i,  # Fix inplace
    #             --style=file  # Use .clang-tidy
    #         ]
    #      - id: clang-tidy
    #      - id: oclint
    #      - id: uncrustify
    #      - id: cppcheck
    #        exclude: willow/include/popart/vendored/
    #        args: [
    #            --suppressions-list=scripts/lint/linters/cppcheck-suppressions-list.txt
    #        ]
    #      - id: cpplint
    #      - id: include-what-you-use

Add an overload of Builder::setAvailableMemoryProportion for multi-output nodes
  python/popart/popart_core/popart.cpp
  tests/integration/available_memory_proportion_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/lstm.hpp
  willow/src/builder.cpp
  willow/src/op/lstm.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/popartlstmx.cpp
Due: copyright-linter, popart-test-linter

Fix index error in unwinding logic.
  tests/integration/CMakeLists.txt
  tests/integration/unwinding_tests/CMakeLists.txt
  tests/integration/unwinding_tests/unwinding_test0.cpp
  willow/src/popx/creatorx.cpp
Due: copyright-linter

PopART User Guide: clarification of Horovod use for distributed training with PopDist/PopRun
  docs/user_guide/tensor_locations.rst
Due: none

Add parallel writable checks and loop mitigations to avoid issues with internal and external tensor aliases.
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/loop_alias_test.cpp
  willow/include/popart/op/scale.hpp
  willow/include/popart/popx/inittensor.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/op/ifx.hpp
  willow/include/popart/popx/op/loopx.hpp
  willow/include/popart/popx/op/subgraphx.hpp
  willow/include/popart/popx/popopx.hpp
  willow/include/popart/popx/preparedtensor.hpp
  willow/src/op/scale.cpp
  willow/src/popx/inittensor.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/ifx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/subgraphx.cpp
  willow/src/popx/popopx.cpp
  willow/src/popx/preparedtensor.cpp
Due: copyright-linter

Fix dependency-free creator fetching.
  willow/src/popx/irlowering.cpp
Due: copyright-linter

<<Replace this line with your revision title>
  tests/integration/CMakeLists.txt
  tests/integration/unwinding_tests/CMakeLists.txt
  tests/integration/unwinding_tests/unwinding_test0.cpp
  willow/src/popx/creatorx.cpp
Due: copyright-linter

Fix unwinding issue in MaxOpx
  tests/integration/CMakeLists.txt
  tests/integration/min_max_unwinding_test.py
  willow/include/popart/popx/op/maxx.hpp
  willow/include/popart/popx/op/minx.hpp
  willow/src/popx/op/maxx.cpp
  willow/src/popx/op/minx.cpp
Due: copyright-linter, popart-test-linter

Add optional-lite licence
  README.md
Due: none

Added new datatype FLOAT8 and two ops to convert to/from FLOAT8
  tests/unittests/willow/op/CMakeLists.txt
  tests/unittests/willow/op/test_castfromfp8.cpp
  tests/unittests/willow/op/test_casttofp8.cpp
  willow/CMakeLists.txt
  willow/capnp/Ir.capnp
  willow/include/popart/op/castfromfp8.hpp
  willow/include/popart/op/casttofp8.hpp
  willow/include/popart/opidentifier.hpp
  willow/include/popart/popx/op/castfromfp8x.hpp
  willow/include/popart/popx/op/casttofp8x.hpp
  willow/include/popart/tensorinfo.hpp
  willow/src/builder_impl.cpp
  willow/src/builderdebuginfo.cpp
  willow/src/op/castfromfp8.cpp
  willow/src/op/casttofp8.cpp
  willow/src/popx/executablexserialization.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/castfromfp8x.cpp
  willow/src/popx/op/casttofp8x.cpp
  willow/src/tensorinfo.cpp
Due: copyright-linter

Do not track f32 als tensors when mixed precision.
  tests/integration/loss_scaling_test.py
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter, popart-test-linter

Address bugs with dynamic* ops
  willow/include/popart/popx/op/dynamic/dynamiczerox.hpp
  willow/src/op/dynamic/dynamicslice.cpp
  willow/src/popx/op/dynamic/dynamiczerox.cpp
Due: copyright-linter

Fix unwinding in L1
  willow/include/popart/popx/op/l1x.hpp
  willow/src/popx/op/l1x.cpp
Due: copyright-linter

Use snap::poputil::mapTensorLinearly
  willow/src/popx/creatorx.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/basesortx.cpp
  willow/src/popx/op/histogramx.cpp
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/sortutilx.cpp
  willow/src/popx/op/subsamplex.cpp
  willow/src/popx/op/topkx.cpp
Due: copyright-linter

Speed up booleanlogic with sorted sets.
  willow/include/popart/boollogic.hpp
  willow/src/boollogic.cpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter

popart.ir: make ops.call output always a tuple
  docs/user_guide/files/basic_subgraph_popart_ir.py
  docs/user_guide/files/create_multi_subgraphs_from_same_func_popart_ir.py
  docs/user_guide/files/multi_call_subgraph_input_popart_ir.py
  docs/user_guide/files/multi_callsites_of_a_subgraph_popart_ir.py
  python/popart.ir/python_files/module.py
  python/popart.ir/python_files/ops/call.py
  python/popart.ir/python_files/tensor.py
  tests/integration/popart.ir/test_milestone1_basic_subgraph.py
  tests/integration/popart.ir/test_modified_call.py
  tests/unittests/python/popart.ir/ops/test_call.py
  tests/unittests/python/popart.ir/test_ir.py
Due: copyright-linter, popart-test-linter

Use snap calls for newly bound Graph methods
  willow/src/popx/creatorx.cpp
  willow/src/popx/inittensor.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/linearmapper.cpp
  willow/src/popx/op/accumulatex.cpp
  willow/src/popx/op/adadeltaupdaterx.cpp
  willow/src/popx/op/basesortx.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/copyvarupdatex.cpp
  willow/src/popx/op/dynamic/dynamicslicex.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/gatherx.cpp
  willow/src/popx/op/ifx.cpp
  willow/src/popx/op/iotilecopyx.cpp
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/lrnx.cpp
  willow/src/popx/op/nllx.cpp
  willow/src/popx/op/onehotx.cpp
  willow/src/popx/op/padx.cpp
  willow/src/popx/op/randomnormalx.cpp
  willow/src/popx/op/randomuniformx.cpp
  willow/src/popx/op/reducemedianx.cpp
  willow/src/popx/op/resizex.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/rnnx.cpp
  willow/src/popx/op/shapeddropoutx.cpp
  willow/src/popx/op/sortutilx.cpp
  willow/src/popx/op/stashx.cpp
  willow/src/popx/op/tiedgatherx.cpp
  willow/src/popx/op/topkx.cpp
  willow/src/popx/popopx.cpp
  willow/src/popx/rng/rngstatelowering.cpp
Due: copyright-linter, popart-test-linter

popart.ir: BUGFIX HostTensor included wrong type for torch.Tensor
  python/popart.ir/python_files/tensor.py
Due: copyright-linter, popart-test-linter

Fix incomplete tile mapping error when using the rnn op
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/rnn_test.py
  willow/src/popx/op/rnnx.cpp
Due: copyright-linter, popart-test-linter

Improve tensor layouts for ElementwiseBinaryOps/AddOp
  python/popart._internal.ir/bindings/op.cpp
  python/popart.ir/python_files/ops/dynamic_update.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/op.hpp
  willow/include/popart/patterns/initaccumulatepattern.hpp
  willow/include/popart/popx/creatorx.hpp
  willow/include/popart/popx/op/addx.hpp
  willow/src/opsharding.cpp
  willow/src/patterns/initaccumulatepattern.cpp
  willow/src/patterns/patterns.cpp
  willow/src/popx/creatorx.cpp
  willow/src/popx/op/addx.cpp
  willow/src/popx/op/dynamic/dynamicslicex.cpp
  willow/src/popx/op/dynamic/dynamicupdatex.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/transforms/decomposegradsum.cpp
  willow/src/transforms/dynamicoptransform.cpp
Due: copyright-linter, popart-test-linter

Add repeat op in popart.ir user guide
  docs/user_guide/files/repeat_subgraph_popart_ir_0.py
  docs/user_guide/files/repeat_subgraph_popart_ir_1.py
  docs/user_guide/files/tests/test_examples.py
  docs/user_guide/images/repeat_op.drawio
  docs/user_guide/images/repeat_op.png
  docs/user_guide/popartir_subgraph.rst
  python/popart.ir/python_files/ops/call.py
  python/popart.ir/python_files/ops/repeat.py
  scripts/lint/linter_config.json
Due: copyright-linter, popart-test-linter

Replace gcdocs with sphinx_resources
  CMakeLists.txt
  cbt.json
  docs/CMakeLists.txt
  docs/active_buildir.sh.in
  docs/gen_docs.sh.in
  docs/gen_popart_supported_ops.py
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/__init__.py.in
  python/popart/__init__.py.in
Due: copyright-linter, popart-test-linter

Als tracked fp16 error message.
  tests/integration/loss_scaling_test.py
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter, popart-test-linter

Add pylint to pre-commit
  .pre-commit-config.yaml
  requirements/dev.txt
  scripts/lint/install/install_linters.py
  scripts/lint/install/versions.yaml
  scripts/lint/linters/pylintrc
Due: copyright-linter, popart-test-linter

Fix IdentityLossOpx tensor layout behaviour
  willow/include/popart/popx/op/identityx.hpp
  willow/src/popx/op/identityx.cpp
Due: copyright-linter

Enable bufferingDepth when enablePrefetchDatastreams isn't set.
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/deprecated_session_options.cpp
  tests/integration/deprecated_session_options.py
  tests/integration/exception_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/popx/irlowering.cpp
  willow/src/sessionoptions.cpp
Due: copyright-linter, popart-test-linter

Added additional API for loading executables from stream
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/executablexserialization.hpp
  willow/include/popart/session.hpp
  willow/src/popx/executablexserialization.cpp
  willow/src/session.cpp
Due: copyright-linter

popart.ir: use pir.ipu instead of pir.virtual_graph
  python/popart.ir/python_files/context.py
  python/popart.ir/python_files/ops/io_tile_copy.py
  python/popart.ir/python_files/ops/ipu_copy.py
  python/popart.ir/python_files/tensor.py
  tests/integration/popart.ir/test_fwd_pipeline.py
  tests/integration/test_all_reduce_op.py
  tests/unittests/python/popart.ir/CMakeLists.txt
  tests/unittests/python/popart.ir/context/test_ipu.py
  tests/unittests/python/popart.ir/ops/test_ipu_copy.py
Due: copyright-linter, popart-test-linter

Use snap::Tensor::isParallelWriteable
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/copyvarupdatex.cpp
  willow/src/popx/op/dynamic/dynamicaddx.cpp
  willow/src/popx/op/dynamic/dynamicslicex.cpp
  willow/src/popx/op/dynamic/dynamicupdatex.cpp
  willow/src/popx/op/dynamic/dynamiczerox.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/poptensors.cpp
Due: copyright-linter, popart-test-linter

Fix index error in unwinding logic.
  tests/integration/CMakeLists.txt
  tests/integration/unwinding_tests/CMakeLists.txt
  tests/integration/unwinding_tests/unwinding_test0.cpp
  tests/unittests/unittest_region.cpp
  willow/include/popart/popx/creatorx.hpp
  willow/include/popart/region.hpp
  willow/src/popx/creatorx.cpp
  willow/src/region.cpp
Due: copyright-linter

Use more snap bindings.
  willow/src/popx/op/callx.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/matmulx.cpp
  willow/src/popx/op/reshapex.cpp
  willow/src/popx/popopx.cpp
Due: copyright-linter

Add popart.ir pipelining test
  tests/integration/popart.ir/CMakeLists.txt
  tests/integration/popart.ir/pipelining/CMakeLists.txt
  tests/integration/popart.ir/pipelining/__init__.py
  tests/integration/popart.ir/pipelining/pipeline_test_runner.py
  tests/integration/popart.ir/pipelining/reference_models.py
  tests/integration/popart.ir/pipelining/test_0_serial_inference.py
  tests/integration/popart.ir/pipelining/test_1_pipelined_inference.py
  tests/integration/popart.ir/test_fwd_pipeline.py
Due: copyright-linter, popart-test-linter

Use poplar max limit for halfs
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter

TensorRemapOp
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/conftest.py
  tests/integration/operators_test/tensorremap_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/tensorremap.hpp
  willow/include/popart/popx/op/tensorremapx.hpp
  willow/src/builder.cpp
  willow/src/op/tensorremap.cpp
  willow/src/popx/op/tensorremapx.cpp
Due: copyright-linter, popart-test-linter

Add popart.ir supported ops to user guide.
  CMakeLists.txt
  docs/CMakeLists.txt
  docs/gen_popartir_supported_ops.py
  docs/user_guide/popartir_op.rst
  docs/user_guide/supported_ops.rst
Due: copyright-linter, popart-test-linter

Change uses of popops::addInPlace to snap
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/addx.cpp
  willow/src/popx/op/getrandomseedx.cpp
  willow/src/popx/op/grux.cpp
  willow/src/popx/op/identityx.cpp
  willow/src/popx/op/lrnx.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/rnnx.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/stashx.cpp
Due: copyright-linter

Use snap binding for Graph::addVariable
  willow/src/popx/creatorx.cpp
Due: copyright-linter

Add test_test_target.py to CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/test_test_targets.py
Due: copyright-linter, popart-test-linter
