Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: tests/popart_test_linter/check_test_has_cmake_entry.py
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

Disable test test_popart_doc_examples_custom_op
  docs/user_guide/files/tests/CMakeLists.txt
Due: copyright-linter

Disable test Hw_default_saved_executable
  tests/integration/CMakeLists.txt
Due: copyright-linter

Enable profiling of cached executables
  tests/integration/saved_executable.py
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest_profilecacher.cpp
  willow/include/popart/popx/irlowering.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/profilecacher.cpp
  willow/src/profilecacher.hpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Clean up context even if entering the `Session` context manager fails
  python/popxl/python_files/session.py
  tests/integration/popxl/CMakeLists.txt
Due: copyright-linter, popart-test-linter, pylint

Fix documentation for `DeveloperSettings`
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter, popart-test-linter

PopXL distributed data parallel support
  python/popxl/__init__.py.in
  python/popxl/python_files/ir.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_replica_sharding.py
  willow/include/popart/op/collectives/collectives.hpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/tensors.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Implicitly set `debug.retainDebugInfromation` to `true` if it hasn't been set
  willow/src/engineoptionscreator.cpp
Due: copyright-linter

Remove the CIFAR /torch tests from popart.
  tests/CMakeLists.txt
  tests/torch/CMakeLists.txt
  tests/torch/cifar10/README.md
  tests/torch/cifar10/c10datadir.py.in
  tests/torch/cifar10/c10driver.py
  tests/torch/cifar10/cmdline.py
  tests/torch/cifar10/download_dataset.py
  tests/torch/cifar10/download_dataset/__init__.py
  tests/torch/cifar10/download_dataset/actual_download.py
  tests/torch/cifar10/download_dataset/common.py
  tests/torch/cifar10/download_dataset/extract_tar_file.py
  tests/torch/cifar10/download_dataset/mkdir_and_check_space.py
  tests/torch/cifar10/download_dataset/verify_tar_file.py
  tests/torch/cifar10/model0.py
  tests/torch/cifar10/model0_evaluate.py
  tests/torch/cifar10/model0_infer.py
  tests/torch/cifar10/model1.py
  tests/torch/cifar10/model2.py
  tests/torch/cifar10/model5.py
  tests/torch/cifar10/model6.py
  tests/torch/cifar10/model7.py
  tests/torch/cifar10/model8.py
  tests/torch/cifar10/model_batchnorm.py
  tests/torch/cifar10/model_broadcasts.py
  tests/torch/cifar10/model_cat.py
  tests/torch/cifar10/model_conv_bias.py
  tests/torch/cifar10/model_instancenorm.py
  tests/torch/cifar10/model_loss_scaling.py
  tests/torch/cifar10/model_lstm.py
  tests/torch/cifar10/model_lstm2.py
  tests/torch/cifar10/model_matmul.py
  tests/torch/cifar10/model_matmul_bcast.py
  tests/torch/cifar10/model_nll.py
  tests/torch/cifar10/model_reduce_sum.py
  tests/torch/cifar10/model_reshape.py
  tests/torch/cifar10/model_softmax.py
  tests/torch/cifar10/reset_weights.py
  tests/torch/cifar10/run_example.sh
Due: copyright-linter, popart-test-linter, pylint

Revert D69601
  tests/CMakeLists.txt
  tests/torch/CMakeLists.txt
  tests/torch/cifar10/README.md
  tests/torch/cifar10/c10datadir.py.in
  tests/torch/cifar10/c10driver.py
  tests/torch/cifar10/cmdline.py
  tests/torch/cifar10/download_dataset.py
  tests/torch/cifar10/download_dataset/__init__.py
  tests/torch/cifar10/download_dataset/actual_download.py
  tests/torch/cifar10/download_dataset/common.py
  tests/torch/cifar10/download_dataset/extract_tar_file.py
  tests/torch/cifar10/download_dataset/mkdir_and_check_space.py
  tests/torch/cifar10/download_dataset/verify_tar_file.py
  tests/torch/cifar10/model0.py
  tests/torch/cifar10/model0_evaluate.py
  tests/torch/cifar10/model0_infer.py
  tests/torch/cifar10/model1.py
  tests/torch/cifar10/model2.py
  tests/torch/cifar10/model5.py
  tests/torch/cifar10/model6.py
  tests/torch/cifar10/model7.py
  tests/torch/cifar10/model8.py
  tests/torch/cifar10/model_batchnorm.py
  tests/torch/cifar10/model_broadcasts.py
  tests/torch/cifar10/model_cat.py
  tests/torch/cifar10/model_conv_bias.py
  tests/torch/cifar10/model_instancenorm.py
  tests/torch/cifar10/model_loss_scaling.py
  tests/torch/cifar10/model_lstm.py
  tests/torch/cifar10/model_lstm2.py
  tests/torch/cifar10/model_matmul.py
  tests/torch/cifar10/model_matmul_bcast.py
  tests/torch/cifar10/model_nll.py
  tests/torch/cifar10/model_reduce_sum.py
  tests/torch/cifar10/model_reshape.py
  tests/torch/cifar10/model_softmax.py
  tests/torch/cifar10/reset_weights.py
  tests/torch/cifar10/run_example.sh
Due: copyright-linter, popart-test-linter, pylint

Fix anomalous backslash
  gen_operators.py
  python/popart/python_files/session.py
  python/popxl/python_files/ops/call.py
  python/popxl/python_files/ops/histogram.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/utils.py
  requirements/dev.txt
  scripts/jenkins_scraper.py
  scripts/lint/linters/pylintrc
  tests/integration/pipelining_tests/pipeline_grad_tensor_consumed_by_multiple_pipeline_stages.py
  tests/integration/pipelining_tests/pipeline_multiple_restores_per_stash.py
  tests/integration/printtensor.py
  tests/popart_test_linter/check_test_has_cmake_entry.py
  tests/torch/cifar10/reset_weights.py
  tests/unittests/python/popxl/ops/test_repeat.py
Due: copyright-linter, popart-test-linter, pylint

Fix loss scale update factore cache issue
  willow/include/popart/tensornames.hpp
  willow/src/tensor.cpp
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter

Rename ops/test_utils to avoid pytest issue
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_ops_utils.py
Due: copyright-linter, popart-test-linter, pylint

Don't run integration tests on debug builds on CI
  tests/CMakeLists.txt
Due: copyright-linter

Fix bad merge
  tests/CMakeLists.txt
Due: copyright-linter

Add test checking get_tensors_data with caching
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_cached_executables.py
  tests/integration/saved_executable.py
Due: copyright-linter, popart-test-linter, pylint

get_tensors_data when cache
  tests/integration/popxl/test_cached_executables.py
  willow/include/popart/popx/devicex.hpp
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter, pylint

Replace os.environ with monkeypatch in tests
  tests/integration/convolution_options_test.py
  tests/integration/dot_tests/dot_env_test.py
  tests/integration/operators_test/resize_test_0.py
  tests/integration/popxl/test_dot_visualizer.py
  tests/integration/popxl/test_write_variables_data_cache.py
  tests/integration/saved_executable.py
  tests/unittests/python/popxl/test_session_options.py
Due: copyright-linter, popart-test-linter, pylint

T59435 run simple test with native and popir
  tests/integration/popir_simple_example_test.cpp
Due: copyright-linter

Don't download AlexNet weights
  docs/user_guide/files/executing_imported_model.py
  docs/user_guide/files/importing_graphs.py
Due: copyright-linter, popart-test-linter, pylint

Re-enable dynamicslice_large_test
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/dynamicslice_large_test.py
Due: copyright-linter, popart-test-linter, pylint

Serialise typo
  willow/src/popx/executablexserializer.hpp
Due: copyright-linter

Add support for scatterreduce with max and min reductions
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/scatterreduce_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/scatterreducex.hpp
  willow/include/popart/popx/op/scatterutilx.hpp
  willow/include/popart/popx/op/sliceplanx.hpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/scatterx.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Fix for replica grouping and writing variables
  python/popart._internal.ir/bindings/tensor.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_tensor_data.py
  willow/include/popart/tensordata.hpp
  willow/src/tensordata.cpp
Due: copyright-linter, popart-test-linter, pylint

Re-enable graph_caching_test
  tests/integration/CMakeLists.txt
  tests/integration/graph_caching_test.py
Due: copyright-linter, popart-test-linter, pylint

Add script to generate cmake commands
  scripts/configure_build.py
Due: copyright-linter, popart-test-linter, pylint

Avoid running the custom op test twice in parallel
  docs/user_guide/files/tests/CMakeLists.txt
  docs/user_guide/files/tests/test_popart_doc_examples.py
Due: copyright-linter, pylint

Let arcanist linter run pre-commit
  .arcconfig
  .arclint
  .pre-commit-config.yaml
  docs/popxl/files/code_loading_nested.py
  docs/user_guide/files/tests/CMakeLists.txt
  python/popxl/python_files/session.py
  scripts/configure_build.py
  scripts/lint/AutoPatchLinter.php
  scripts/lint/AutofixLinter.php
  scripts/lint/PreCommitLinter.php
  scripts/lint/__phutil_library_init__.php
  scripts/lint/__phutil_library_map__.php
  scripts/lint/config.py
  scripts/lint/linter_config.json
  scripts/lint/linters/check_test_has_cmake_entry.py
  scripts/lint/linters/copyright_linter.py
  scripts/lint/linters/yapf_linter.py
  tests/__init__.py
  tests/integration/popxl/test_tensor_data.py
  tests/linters/dummy_linters.py
  tests/linters/test_clang_linter.py
  tests/linters/test_clone_linter.py
  tests/linters/test_config.py
  tests/linters/test_copyright_linter.py
  tests/linters/test_lint.py
  tests/linters/test_yapf_linter.py
  tests/popart_test_linter/__phutil_library_init__.php
  tests/popart_test_linter/__phutil_library_map__.php
  tests/popart_test_linter/lint/linter/PopartTestLinter.php
  tests/unittests/python/popxl/ops/CMakeLists.txt
Due: copyright-linter, popart-test-linter, pylint

Bump version number
  version.json
Due: none

PopXL Various Tidies
  python/popart._internal.ir/bindings/op/loop.cpp
  python/popxl/python_files/ir.py
  python/popxl/python_files/session.py
  tests/integration/popxl/test_remote_code_load.py
  willow/src/popx/irlowering.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix -Wunreachable-code-loop-increment Clang Werror
  willow/src/devicemanager.cpp
Due: copyright-linter

Modify arc linter to run pre-commit once for all files
  .arcconfig
  .arclint
  scripts/lint/PreCommitLinter.php
  scripts/lint/__phutil_library_init__.php
  scripts/lint/__phutil_library_map__.php
  scripts/lint/precommit/PreCommitLintEngine.php
  scripts/lint/precommit/PreCommitLinter.php
Due: copyright-linter

export abs, cos, sin to popxl
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/abs.py
  python/popxl/python_files/ops/cos.py
  python/popxl/python_files/ops/sin.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_abs.py
  tests/integration/popxl/test_cos.py
  tests/integration/popxl/test_sin.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_abs.py
  tests/unittests/python/popxl/ops/test_cos.py
  tests/unittests/python/popxl/ops/test_sin.py
Due: copyright-linter, popart-test-linter, pylint

POPXL_OFFLINE_DEVICE to allow for compiling without ipus
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  willow/include/popart/devicemanager.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/devicemanager.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix for parameter pack unpacking
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
Due: copyright-linter

PopART User Guide: fixing broken formatting and links in performance.rst
  docs/api_cpp/api-cpp.rst
  docs/user_guide/performance.rst
Due: none

Automatically infer Python test names from path and file name
  scripts/lint/linters/check_test_has_cmake_entry.py
  tests/CMakeLists.txt
  tests/README.md
  tests/integration/CMakeLists.txt
  tests/integration/anchor_tests/CMakeLists.txt
  tests/integration/codelet_tests/CMakeLists.txt
  tests/integration/constexpr_tests/CMakeLists.txt
  tests/integration/dot_tests/CMakeLists.txt
  tests/integration/dropout_tests/CMakeLists.txt
  tests/integration/inplace_tests/CMakeLists.txt
  tests/integration/lambserialisedweight_tests/CMakeLists.txt
  tests/integration/matmul_tests/CMakeLists.txt
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/optimizer_tests/CMakeLists.txt
  tests/integration/pattern_tests/CMakeLists.txt
  tests/integration/pipelining_tests/CMakeLists.txt
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/pipelining/CMakeLists.txt
  tests/integration/recompute_tests/CMakeLists.txt
  tests/integration/scheduling_tests/CMakeLists.txt
  tests/integration/session_api_tests/CMakeLists.txt
  tests/integration/stepio_tests/CMakeLists.txt
  tests/integration/streamingmemory_tests/CMakeLists.txt
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/subgraph_tests/CMakeLists.txt
  tests/integration/tiedgather_tests/CMakeLists.txt
  tests/integration/transformation_tests/CMakeLists.txt
  tests/onnx_backend/CMakeLists.txt
  tests/unittests/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/CMakeLists.txt
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/ops/CMakeLists.txt
Due: copyright-linter, popart-test-linter, pylint

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

