Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Remove extraneous semi-colon
  willow/include/popart/basicoptionals.hpp
Due: copyright-linter

Fix autodiff missing gradient tensor for output of cast
  python/popxl/python_files/ops/cast.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/transforms/test_subgraph_autodiff_cast.py
Due: copyright-linter, popart-test-linter, pylint

PopART C++ API reference: fixes and additions to documentation of devicemanager.hpp
  willow/include/popart/devicemanager.hpp
Due: copyright-linter

Add code loading bindings
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/codecopy.cpp
  python/popart._internal.ir/bindings/op/codecopy.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/tensorlocation.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
Due: copyright-linter, popart-test-linter, pylint

Add disableOptimizerStateTensorStreams
  python/popart/popart_core/popart.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/ir.cpp
Due: copyright-linter, popart-test-linter

Switch popxl tests/examples to use new session api
  docs/popxl/files/mnist.py
  docs/popxl/files/mnist_rts.py
  tests/integration/popxl/pipelining/pipeline_test_runner.py
  tests/integration/popxl/popxl_test_device_helpers.py
  tests/integration/popxl/test_dot_visualizer.py
  tests/integration/popxl/test_gather_oor.py
  tests/integration/popxl/test_model_caching.py
  tests/integration/popxl/test_modified_call.py
  tests/integration/popxl/test_random_seed.py
  tests/integration/popxl/test_remote_buffer_store_load.py
  tests/integration/popxl/test_write_variables_data_cache.py
  tests/unittests/python/popxl/test_inplacing.py
Due: copyright-linter, popart-test-linter, pylint

PopART C++ API Reference: Improve comments for istepio.hpp
  willow/include/popart/istepio.hpp
Due: copyright-linter

PopART User Guide: Performance optimisation chapter -- Addressing review comments and adding more links
  docs/user_guide/images/syncpatterns.pdf
  docs/user_guide/images/syncpatterns.png
  docs/user_guide/performance.rst
Due: none

PopART User Guide: fixes to Building Graphs chapter
  docs/user_guide/builderonnx.rst
Due: none

PopART C++ API: Fixes to comments in op.hpp
  docs/api_cpp/api-cpp.rst
  willow/include/popart/op.hpp
Due: copyright-linter

Better cast test
  tests/unittests/python/popxl/ops/test_cast.py
  tests/unittests/python/popxl/transforms/test_subgraph_autodiff_cast.py
Due: copyright-linter, popart-test-linter, pylint

PopART C++ API Reference: Updating comments for stepio.hpp
  docs/api_cpp/api-cpp.rst
  docs/api_python/api-python.rst
  willow/include/popart/stepio.hpp
Due: copyright-linter

Add code loading to popxl
  python/popart._internal.ir/bindings/op/codecopy.cpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/code_copy.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_remote_code_load.py
  tests/integration/streamingmemory_tests/functionbuffers_test.cpp
  tests/integration/streamingmemory_tests/functionbuffers_test_nested.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_remote_code_load.py
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/exchange/codecopy.hpp
  willow/include/popart/op/exchange/exchange.hpp
  willow/include/popart/popx/op/exchange/codecopyx.hpp
  willow/include/popart/popx/op/exchange/exchangex.hpp
  willow/src/op/exchange/codecopy.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/exchange/codecopyx.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/transforms/mergeexchange.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

popxl negative log likelihood loss
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/negative_log_likelihood.py
  tests/unittests/python/popxl/ops/test_negative_log_likelihood.py
  willow/src/op/nll.cpp
Due: copyright-linter, popart-test-linter, pylint

Add LABELS to CMake test helper functions
  tests/CMakeLists.txt
  tests/integration/transformation_tests/CMakeLists.txt
Due: copyright-linter

Fixes to docstrings
  .pre-commit-config.yaml
  docs/popxl/files/nested_session_contexts.py
  python/popart/python_files/session.py
  python/popxl/python_files/ops/argminmax.py
  python/popxl/python_files/ops/conv.py
  python/popxl/python_files/ops/interpolate.py
  python/popxl/python_files/ops/onehot.py
  python/popxl/python_files/ops/pool.py
  python/popxl/python_files/ops/roialign.py
  python/popxl/python_files/random_seed.py
  python/popxl/python_files/session.py
  willow/include/popart/stepio.hpp
Due: copyright-linter, popart-test-linter, pylint

Refactor saved_executable.py
  tests/integration/saved_executable.py
Due: copyright-linter, popart-test-linter, pylint

Small enhancements to custom op sections of user guides
  docs/popxl/custom_ops.rst
  docs/popxl/files/leaky_relu_op.py
  docs/popxl/files/run_leaky_relu.py
  docs/shared/custom_ops_cppimport.rst
  docs/shared/custom_ops_grad_op_class.rst
  docs/shared/custom_ops_grad_opx_class.rst
  docs/shared/custom_ops_op_class.rst
  docs/shared/custom_ops_opx_class.rst
  docs/shared/custom_ops_param_struct.rst
  docs/shared/files/leaky_relu_op_impl.cpp
  docs/user_guide/custom_ops.rst
Due: copyright-linter, popart-test-linter, pylint

Replica Grouping changes
  docs/popxl/application_example_rts.rst
  docs/popxl/files/mnist_rts.py
  docs/popxl/files/remote_rts_var.py
  docs/popxl/files/rts_var.py
  python/popxl/python_files/ops/collectives/__init__.py
  python/popxl/python_files/ops/collectives/collectives.py
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  python/popxl/python_files/ops/collectives/replicated_all_reduce.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_grouped_initialization.py
  tests/unittests/python/popxl/test_replica_grouping.py
  tests/unittests/python/popxl/test_variable_location.py
  willow/src/graph.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter, pylint

Fixes for popxl.Session device management
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_session_passed_device.py
  tests/integration/popxl/test_session_remote_buffers.py
  willow/include/popart/devicemanager.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/devicemanager.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter, popart-test-linter, pylint

remove unused parameter in pytest and fix a bug in test
  tests/integration/operators_test/resize_test_1.py
Due: copyright-linter, popart-test-linter, pylint

Fix lint issues
  docs/popxl/files/tensor_get_write_adv.py
  docs/user_guide/files/replication_popart.py
  python/popxl/python_files/context.py
  python/popxl/python_files/ops/code_copy.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_averagepool.py
  tests/integration/popxl/test_session_set_device.py
  tests/integration/streammode_tests/grouped_initialization_test.py
  tests/integration/transformation_tests/explicitrecomputation.py
  tests/unittests/python/popxl/ops/test_negative_log_likelihood.py
  tests/unittests/python/popxl/ops/test_remote_code_load.py
  tests/unittests/python/popxl/test_session_options.py
  tests/unittests/python/popxl/transforms/test_subgraph_autodiff_prune.py
Due: copyright-linter, popart-test-linter, pylint

Add fileoperations capabilities
  tests/unittests/CMakeLists.txt
  tests/unittests/unittest_fileoperations.cpp
  willow/src/fileoperations.cpp
  willow/src/fileoperations.hpp
Due: copyright-linter

Run `gen_python_docs.sh`
  willow/include/popart/docs/pydocs_popart_core.hpp
Due: copyright-linter, popart-test-linter

Disable test_session_set_device.py::test_check_compatibility
  tests/integration/popxl/CMakeLists.txt
Due: copyright-linter

Sundry of fixes for causes of non-determinism in transforms
  willow/include/popart/transforms/accumulateouterfragmentparallelizer.hpp
  willow/include/popart/transforms/contiguatecollectivesformerging.hpp
  willow/src/transforms/accumulateouterfragmentparallelizer.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter

Add missing test
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/streammode_tests/grouped_initialization_test.py
Due: copyright-linter, popart-test-linter, pylint

PopART C++ API Reference: fix documentation for sessionoptions.hpp
  docs/api_cpp/api-cpp.rst
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter

Fixes for integration test: popir_simple_example_test
  tests/integration/CMakeLists.txt
  tests/integration/popir_simple_example_test.cpp
Due: copyright-linter

Replica grouping transpose and assignment functions
  python/popxl/python_files/ir.py
  python/popxl/python_files/replica_grouping.py
  tests/unittests/python/popxl/test_replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

Fix multiple definitions
  docs/user_guide/files/tests/test_popart_doc_examples.py
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  python/popxl/python_files/ops/collectives/replicated_all_reduce.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  scripts/lint/linters/copyright_linter.py
  scripts/lint/linters/pylintrc
  tests/integration/auto_loss_scaling_graph_replication_test.py
  tests/integration/operators_test/matmul_test_broadcasting_base.py
  tests/integration/streamingmemory_tests/streamingmemory_test_0.py
  tests/unittests/python/popart._internal.ir/bindings/test_tensorinfo.py
  tests/unittests/python/popxl/test_remote_buffer.py
  tests/unittests/python/popxl/test_tensor.py
Due: copyright-linter, popart-test-linter, pylint

add histogram popxl op
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/histogram.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_histogram.py
Due: copyright-linter, popart-test-linter, pylint

Start using find_package() for sphinx_resources
  docs/CMakeLists.txt
  docs/gen_docs.sh.in
Due: copyright-linter

Improve the error message of the call op when not enough inputs are provided
  python/popxl/python_files/ops/call.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/utils.py
  tests/unittests/python/popxl/ops/test_call.py
  tests/unittests/python/popxl/ops/test_repeat.py
Due: copyright-linter, popart-test-linter, pylint

Revert "Start using find_package() for sphinx_resources"
  docs/CMakeLists.txt
  docs/gen_docs.sh.in
Due: copyright-linter

Add code loading to the PopXL User Guide
  docs/popxl/files/code_loading.py
  docs/popxl/files/code_loading_nested.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/graph.rst
Due: copyright-linter, popart-test-linter, pylint

Print before erase to avoid memory error
  willow/src/tensors.cpp
Due: copyright-linter

Detach in test_session_passed_device.py
  tests/integration/popxl/test_session_passed_device.py
Due: copyright-linter, popart-test-linter, pylint
