Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


PopART User Guide: Fixing links to glossary
  docs/popart/glossary.rst
  docs/popart/overlap_io.rst
  docs/popart/tensor_locations.rst
Due: none

PopART User Guide: Replace explicit links to tutorials with 'extlinks' references
  docs/popart/custom_ops.rst
  docs/popart/performance.rst
Due: none

Add support for broadcasting weights between poprun instances
  .pre-commit-config.yaml
  CMakeLists.txt
  cbt.json
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/distributed_test.py
  willow/CMakeLists.txt
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/session.hpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Adding none reduction to popart scatterreduce op
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/scatterreduce_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/sliceplanx.hpp
  willow/src/defs.cpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Revert "Add support for broadcasting weights between poprun instances"
  .pre-commit-config.yaml
  CMakeLists.txt
  cbt.json
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/distributed_test.py
  willow/CMakeLists.txt
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/session.hpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Do not initialise more than necessary capnp tensors in executable serialiser
  willow/src/popx/executablexserializer.cpp
Due: copyright-linter

PopXL User Guide: Add description of PopXL env vars
  docs/popxl/application_example.rst
  docs/popxl/application_example_rts.rst
  docs/popxl/context.rst
  docs/popxl/custom_ops.rst
  docs/popxl/env_vars.rst
  docs/popxl/files/mnist_rts.py
  docs/popxl/graph.rst
  docs/popxl/index.rst
  docs/popxl/remote.rst
  docs/popxl/replication.rst
  docs/popxl/session.rst
  docs/popxl/simple_example.rst
  docs/popxl/tensor.rst
  docs/popxl/transforms.rst
Due: copyright-linter, popart-test-linter, pylint

Add support for compiling a model with boolean inputs when the synthetic data SessionOption is enabled
  python/popart/popart_core/popart.cpp
  tests/integration/synthetic_data_test.py
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/ir.cpp
  willow/src/util.cpp
Due: copyright-linter, popart-test-linter, pylint

Prepare for change from gcl_ct.so to gcl.so
  cmake/Modules/Findgcl.cmake
Due: copyright-linter

Add support for broadcasting weights between poprun instances
  .pre-commit-config.yaml
  CMakeLists.txt
  cbt.json
  cmake/Modules/Findpopdist.cmake
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/distributed_test.py
  willow/CMakeLists.txt
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/session.hpp
  willow/popart-config.cmake.in
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

disable doc custom op test
  docs/popxl/files/tests/CMakeLists.txt
Due: copyright-linter

Support `ReplicaGrouping`s in `popxl` variables
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/replica_grouping.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_random_seed.py
  tests/integration/popxl/test_replica_grouping.py
  tests/unittests/python/popxl/test_replica_grouping.py
  willow/capnp/Ir.capnp
  willow/include/popart/variablesettings.hpp
  willow/src/graph.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter, pylint

IpuCopy smallest to largest pipeline stage.
  tests/integration/CMakeLists.txt
  tests/integration/bert_test.py
  willow/src/transforms/interipucopy.cpp
Due: copyright-linter, popart-test-linter, pylint

When constructing a popxl.Ir, with replication='popdist', instruct PopDist to acquire the device with OnDemand conection type
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_session_ctxtmgr.py
Due: copyright-linter, popart-test-linter, pylint

Fix Poptorch numerical issue in HALF with batchnorm.
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/batchnorm_pytorch_fp16_test.py
  willow/src/popx/op/batchnormx.cpp
Due: copyright-linter, popart-test-linter, pylint

Automatically manage the popdist backend for the user
  python/popart/python_files/_popdist_backend_manager.py
  python/popart/python_files/session.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter, pylint

Use config file for finding popdist, delete find module
  cmake/Modules/Findpopdist.cmake
  willow/CMakeLists.txt
Due: copyright-linter

Revert "Automatically manage the popdist backend for the user"
  python/popart/python_files/_popdist_backend_manager.py
  python/popart/python_files/session.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter, pylint

Revert "Revert "Automatically manage the popdist backend for the user""
  python/popart/python_files/_popdist_backend_manager.py
  python/popart/python_files/session.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter, pylint

Revert "Revert "Revert "Automatically manage the popdist backend for the user"""
  python/popart/python_files/_popdist_backend_manager.py
  python/popart/python_files/session.py
  python/popxl/python_files/session.py
Due: copyright-linter, popart-test-linter, pylint

Remove the parallel PopDist collectives namespace
  willow/src/session.cpp
Due: copyright-linter

Initial implementation of script to check for 'TODO's in code which could be removed/fixed
  scripts/check_todo.py
  scripts/lint/linters/pylintrc
Due: copyright-linter, popart-test-linter, pylint

Test that all tests in the device log explicitly detach
  scripts/validate_device_access_log.py
  tests/integration/device_test.py
  tests/integration/saved_executable.py
Due: copyright-linter, popart-test-linter, pylint

Remove testGetReplicaGroupingInvalid
  tests/unittests/willow/test_variablesettings.cpp
Due: copyright-linter

Simplified post T68176
  willow/src/popx/op/collectives/collectivesx.cpp
Due: copyright-linter

Post T56806 warning can now be error
  willow/src/transforms/decomposeloops.cpp
Due: copyright-linter

Add PopART expression checks that throw internal errors
  tests/unittests/util/unittest_expressionchecking.cpp
  willow/include/popart/util/expressionchecking.hpp
  willow/src/util/expressionchecking.cpp
Due: copyright-linter

Post T22983 Re-enabled 'slow' test now timeout fixed
  tests/integration/operators_test/CMakeLists.txt
Due: copyright-linter

PopART User Guide: minor fixes to C++ API section
  docs/popart/api-cpp.rst
  willow/include/popart/ir.hpp
  willow/include/popart/transforms/mainloops.hpp
Due: copyright-linter

Allow early exit from loop if a .load is found
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter

Delete unused `VariableSettingsDomain` class
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_variablesettingsdomain.cpp
  willow/include/popart/variablesettings.hpp
  willow/src/variablesettings.cpp
  willow/src/variablesettingsdomain.cpp
  willow/src/variablesettingsdomain.hpp
Due: copyright-linter

PopART User Guide: using extlinks for tutorials repo in references chapter
  docs/popart/references.rst
Due: none

Support split op negative axis
  tests/integration/operators_test/split_test.py
  willow/src/op/split.cpp
Due: copyright-linter, popart-test-linter, pylint

Delete the NetWriter
  python/popart/python_files/torch/__init__.py
  python/popart/python_files/torch/torchwriter.py
  python/popart/python_files/writer.py
  tests/integration/loader_test.py
Due: copyright-linter, popart-test-linter, pylint

Fix the ONNX backend test to not depend on Graphcore-specific changes to the ONNX source code
  tests/onnx_backend/test_backend_test.py
Due: copyright-linter, popart-test-linter, pylint

Set tests as disabled rather than comment out
  tests/integration/CMakeLists.txt
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/sampletest.cpp
  tests/integration/streamingmemory_tests/CMakeLists.txt
  tests/integration/streamingmemory_tests/streamingmemory_overlap_test.py
Due: copyright-linter, popart-test-linter, pylint
