Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Create a `popart::ReplicaGrouping` class
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_replicagrouping.cpp
  willow/include/popart/replicagrouping.hpp
  willow/src/replicagrouping.cpp
Due: copyright-linter

PrintTensor format options
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/printtensor.cpp
  python/popart._internal.ir/bindings/op/printtensor.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/print_tensor.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_print_tensor.py
  tests/integration/printtensor.py
  tests/integration/synthetic_data_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/printtensor.hpp
  willow/include/popart/printtensorfmt.hpp
  willow/src/builder.cpp
  willow/src/op/printtensor.cpp
  willow/src/popx/op/printtensorx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Remove old comment
  tests/integration/pattern_tests/CMakeLists.txt
Due: copyright-linter

Add conversion between `popart::CommGroup` and `popart::ReplicaGrouping`
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_commgroup.cpp
  willow/include/popart/commgroup.hpp
  willow/src/commgroup.cpp
Due: copyright-linter

Add Python bindings for `popart::ReplicaGrouping`
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/commgroup.cpp
  python/popart._internal.ir/bindings/replicagrouping.cpp
  python/popart._internal.ir/bindings/replicagrouping.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  tests/unittests/python/popart._internal.ir/bindings/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/test_commgroup.py
  tests/unittests/python/popart._internal.ir/bindings/test_replicagrouping.py
  willow/include/popart/replicagrouping.hpp
  willow/src/replicagrouping.cpp
Due: copyright-linter, popart-test-linter, pylint

Change APIs of popxl.replica_sharded_buffer and popxl.replica_sharded_variable to take `int shard_over` instead of `shard_grouping`
  python/popxl/python_files/remote_buffer.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_replica_sharding.py
  tests/unittests/python/popxl/test_remote_buffer.py
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: updates/improvements to Glossry
  docs/popart/glossary.rst
Due: none

Refactor the PopXL ReplicaGrouping to use a `popart::ReplicaGrouping` behind the scenes
  python/popxl/python_files/replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: fixes to Tensor Locations chapter
  docs/popart/env_vars.rst
  docs/popart/executing.rst
  docs/popart/importing.rst
  docs/popart/overlap_io.rst
  docs/popart/performance.rst
  docs/popart/tensor_locations.rst
  docs/popart/variablesettings.rst
Due: none

Add `Op` constructors that use `ReplicaGrouping`, deprecate the ones that use `CommGroup`
  tests/integration/collectives_test.cpp
  willow/include/popart/names.hpp
  willow/include/popart/op.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/multi_replicatedallgather.hpp
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/include/popart/op/collectives/multi_replicatedreducescatter.hpp
  willow/include/popart/op/collectives/replicatedallgather.hpp
  willow/include/popart/op/collectives/replicatedallreduce.hpp
  willow/include/popart/op/collectives/replicatedreducescatter.hpp
  willow/include/popart/op/lamb.hpp
  willow/include/popart/op/reducesumsquare.hpp
  willow/include/popart/popx/op/collectives/collectivesx.hpp
  willow/src/op.cpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/multi_replicatedallgather.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/op/collectives/multi_replicatedreducescatter.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedallreduce.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/op/lamb.cpp
  willow/src/op/reducesumsquare.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/popx/op/collectives/multi_replicatedallgatherx.cpp
  willow/src/popx/op/collectives/multi_replicatedallreducex.cpp
  willow/src/popx/op/collectives/multi_replicatedreducescatterx.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/collectives/replicatedallreducex.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
Due: copyright-linter, clone-linter

Add support for striding in PopXL collectives
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  python/popxl/python_files/ops/collectives/replicated_all_reduce.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

Add `popart::ReplicaGrouping` support in `popart::VariableSettings`
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_variablesettings.cpp
  tests/unittests/willow/test_variablesettingsdomain.cpp
  willow/include/popart/variablesettings.hpp
  willow/src/variablesettings.cpp
  willow/src/variablesettingsdomain.cpp
  willow/src/variablesettingsdomain.hpp
Due: copyright-linter

Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/executablex.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter

Adding DOC macro to popart.cpp for references in user guide
  python/popart/popart_core/popart.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
Due: copyright-linter, popart-test-linter

Revert Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/executablex.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter

Revert Add `popart::ReplicaGrouping` support in `popart::VariableSettings`
  tests/unittests/willow/CMakeLists.txt
  tests/unittests/willow/test_variablesettings.cpp
  tests/unittests/willow/test_variablesettingsdomain.cpp
  willow/include/popart/variablesettings.hpp
  willow/src/variablesettings.cpp
  willow/src/variablesettingsdomain.cpp
  willow/src/variablesettingsdomain.hpp
Due: copyright-linter

Revert Add support for striding in PopXL collectives
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  python/popxl/python_files/ops/collectives/replicated_all_reduce.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

Revert Add `Op` constructors that use `ReplicaGrouping`, deprecate the ones that use `CommGroup`
  tests/integration/collectives_test.cpp
  willow/include/popart/names.hpp
  willow/include/popart/op.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/multi_replicatedallgather.hpp
  willow/include/popart/op/collectives/multi_replicatedallreduce.hpp
  willow/include/popart/op/collectives/multi_replicatedreducescatter.hpp
  willow/include/popart/op/collectives/replicatedallgather.hpp
  willow/include/popart/op/collectives/replicatedallreduce.hpp
  willow/include/popart/op/collectives/replicatedreducescatter.hpp
  willow/include/popart/op/lamb.hpp
  willow/include/popart/op/reducesumsquare.hpp
  willow/include/popart/popx/op/collectives/collectivesx.hpp
  willow/src/op.cpp
  willow/src/op/collectives/collectives.cpp
  willow/src/op/collectives/multi_replicatedallgather.cpp
  willow/src/op/collectives/multi_replicatedallreduce.cpp
  willow/src/op/collectives/multi_replicatedreducescatter.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedallreduce.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/op/lamb.cpp
  willow/src/op/reducesumsquare.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/popx/op/collectives/multi_replicatedallgatherx.cpp
  willow/src/popx/op/collectives/multi_replicatedallreducex.cpp
  willow/src/popx/op/collectives/multi_replicatedreducescatterx.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/collectives/replicatedallreducex.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
Due: copyright-linter, clone-linter

Revert Refactor the PopXL ReplicaGrouping to use a `popart::ReplicaGrouping` behind the scenes
  python/popxl/python_files/replica_grouping.py
Due: copyright-linter, popart-test-linter, pylint

Replica sharded variables issue
  tests/integration/CMakeLists.txt
  tests/integration/replica_sharded_with_optimizer.py
  willow/include/popart/patterns/optimizerdecompose.hpp
  willow/src/patterns/optimizerdecompose.cpp
Due: copyright-linter, popart-test-linter, pylint

Adding POPART_LAYER_REGEX_FOR_OUTLINER environment variable to manipulate outliner behaviour (for use with PopLiner).
  docs/popart/env_vars.rst
  willow/src/op.cpp
Due: copyright-linter

PopART C++ API doc: syntax highlighting for C++ examples
  willow/include/popart/adam.hpp
  willow/include/popart/adaptive.hpp
  willow/include/popart/builder.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/sgd.hpp
Due: copyright-linter

When constructing a popxl.Ir, with replication='popdist', instruct PopDist to acquire the device with OnDemand conection type
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_session_ctxtmgr.py
Due: copyright-linter, popart-test-linter, pylint

Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter

Revert "When constructing a popxl.Ir, with replication='popdist', instruct PopDist to acquire the device with OnDemand conection type"
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_session_ctxtmgr.py
Due: copyright-linter, popart-test-linter, pylint

Revert Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter

Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  tests/unittests/willow/test_variablesettings.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter

Remove uses of addLinearlyMappedConstant
  willow/src/popx/op/histogramx.cpp
  willow/src/popx/op/sortutilx.cpp
Due: copyright-linter

Support `ReplicaGrouping`s in `popxl` variables
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/replica_grouping.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_random_seed.py
  tests/integration/popxl/test_replica_grouping.py
  willow/src/graph.cpp
Due: copyright-linter, popart-test-linter, pylint

Use getters in GCL instead of deprecated member variables
  tests/integration/executable_serialization_test.cpp
Due: copyright-linter

Remove popir simple example test
  tests/integration/CMakeLists.txt
  tests/integration/popir_simple_example_test.cpp
Due: copyright-linter

Remove uses of addLinearlyMappedVariable
  willow/src/popx/creatorx.cpp
  willow/src/popx/op/basesortx.cpp
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/resizex.cpp
  willow/src/popx/op/subsamplex.cpp
  willow/src/popx/op/topkx.cpp
  willow/src/popx/rng/rngstatelowering.cpp
Due: copyright-linter

Revert
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/replica_grouping.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_random_seed.py
  tests/integration/popxl/test_replica_grouping.py
  willow/src/graph.cpp
Due: copyright-linter, popart-test-linter, pylint

Revert Change internal uses of `popart::VariableSettings` to use a `popart::ReplicaGrouping` internally.
  tests/integration/streamingmemory_tests/streamingmemoryopinserter_test.cpp
  tests/unittests/willow/test_variablesettings.cpp
  willow/include/popart/tensor.hpp
  willow/src/ir.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd1decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablex.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensor.cpp
  willow/src/tensors.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter

Add new export API to Session
  python/popart/popart_core/popart.cpp
  tests/integration/executable_serialization_test.cpp
  tests/unittests/willow/popx/test_executablexserializer.cpp
  tests/unittests/willow/popx/test_popefserializer.cpp
  willow/include/popart/adam.hpp
  willow/include/popart/adaptive.hpp
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/logging.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/popefserializer.hpp
  willow/include/popart/session.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/sgd.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/executablexserializer.hpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/popefserializerimpl.cpp
  willow/src/popx/popefserializerimpl.hpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, clone-linter

Change `popart::VariableSettings` to NOT use a `popart::ReplicaGrouping` internally, and just store stride and group size
  tests/unittests/willow/test_variablesettings.cpp
  willow/include/popart/variablesettings.hpp
  willow/src/variablesettings.cpp
Due: copyright-linter
