Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Remove ONNX from requirements
  requirements/build.txt
  requirements/run.txt
Due: copyright-linter

Support VariableSettings and RTS for remote variables on multi-instance programs, for PopXL only
  python/popxl/python_files/session.py
  tests/integration/distributed_replicated_graph_test.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_multi_instance_vs_rts.py
  willow/include/popart/popx/devicex.hpp
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter, pylint

Disable variable executable caching for PopXL
  python/popxl/python_files/ir.py
Due: copyright-linter, popart-test-linter, pylint

Update check_todo script to skip wontfix by default
  scripts/check_todo.py
Due: copyright-linter, popart-test-linter, pylint

Clean up dropout_replicate_pipeline test
  tests/integration/dropout_replicated_pipeline.py
Due: copyright-linter, popart-test-linter, pylint

Use poplar::ReplicatedStreamMode::REPLICATE when there is >1 groups, calculated from GLOBAL replicas not local
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Don't warn on task IDs hidden with ~strikethrough~ chars
  scripts/check_todo.py
Due: copyright-linter, popart-test-linter, pylint

Enable some tests post fixes
  tests/integration/operators_test/l1_test.py
  tests/integration/operators_test/loop_test.py
  tests/integration/operators_test/swish_test.py
  tests/integration/streamingmemory_tests/host_stream_test.py
Due: copyright-linter, popart-test-linter, pylint

Tidy up of HW availability detection in test code
  tests/integration/optimizer_tests/CMakeLists.txt
  tests/integration/optimizer_tests/get_results.hpp
  tests/integration/optimizer_tests/sgd_mixed_mode_test_cpp_1_10.cpp
  tests/integration/optimizer_tests/sgd_mixed_mode_test_cpp_1_8.cpp
  tests/integration/optimizer_tests/sgd_mixed_mode_test_cpp_1_9.cpp
  tests/integration/verify_cxx_11_interface/verify_cxx_11_interface.cpp
Due: copyright-linter

Bump version to 3.1.
  version.json
Due: none

Added help text to check_todo.py
  scripts/check_todo.py
Due: copyright-linter, popart-test-linter, pylint

Raise exception in PyWeightsIO constructor if any weight arrays are not c-contiguous
  python/popart/popart_core/popart.cpp
  tests/integration/CMakeLists.txt
  tests/integration/contiguous_memory_test.py
Due: copyright-linter, popart-test-linter, pylint

Add scatter-reduce op to PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/scatter_reduce.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_scatter_reduce.py
Due: copyright-linter, popart-test-linter, pylint

Implement an error message when trying to write constant weights
  tests/integration/CMakeLists.txt
  tests/integration/constant_weights_error_test.py
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Correct copyright date
  tests/integration/contiguous_memory_test.py
Due: copyright-linter, popart-test-linter, pylint

Set ALS status from experimental to in preview in PopART docs
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
Due: copyright-linter, popart-test-linter

Fixed typos
  willow/include/popart/devicemanager.hpp
Due: copyright-linter

Make a couple of IrLowering member vars private
  willow/include/popart/popx/irlowering.hpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Return cls in parameterized op
  willow/include/popart/op/custom/parameterizedop.hpp
  willow/include/popart/op/custom/parameterizedopbinder.hpp
Due: copyright-linter, clone-linter

Simplify smart pointer access
  tests/integration/is_nonlinearity_test.cpp
  tests/integration/is_norm_test.cpp
  willow/src/devicemanager.cpp
  willow/src/graph.cpp
  willow/src/popx/popefserializerimpl.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
  willow/src/transforms/subgraphoutline.cpp
Due: copyright-linter

Add replica grouped remote variable example to PopXL User Guide
  docs/popxl/files/remote_variable_replica_grouped.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/replication.rst
Due: copyright-linter, popart-test-linter, pylint

Make DevicexInfo.isAttached_ private
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

Documentation related changes
  python/popart/python_files/session.py
  scripts/pybind11_mkdoc/README.md
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/devicemanager.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/include/popart/popx/executablex.hpp
  willow/include/popart/session.hpp
  willow/src/patterns/transposetoidentityorreshape.cpp
Due: copyright-linter, popart-test-linter, pylint

Remove unused DeviceProvider ref from DeviceInfo class
  willow/include/popart/devicemanager.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/devicemanager.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

cmake: clean up $prefix/python
  python/popart/CMakeLists.txt
  python/popxl/CMakeLists.txt
Due: copyright-linter

Deprecate DeviceManager copy constructor rather than delete to give clients a smoother upgrade path.
  willow/include/popart/devicemanager.hpp
Due: copyright-linter

python: try import instead of bailing out based on version
  python/popart/__init__.py.in
  python/popxl/__init__.py.in
Due: copyright-linter, popart-test-linter

Add missing API Reference docs for popxl.replica_sharded_buffer
  docs/popxl/api/tensors.rst
Due: none

Disable test_replace_with_reshape
  tests/integration/pattern_tests/test_transpose_to_identity_or_reshape.py
Due: copyright-linter, popart-test-linter, pylint

python: try import instead of bailing out based on version (part 2)
  python/popart._internal.ir/__init__.py.in
Due: copyright-linter, popart-test-linter

Add PopXL User Guide section on multiple instances + VariableSettings and RTS
  docs/popxl/distributed.rst
  docs/popxl/files/distributed_rts_complex_example.py
  docs/popxl/files/distributed_rts_simple_example.py
  docs/popxl/files/distributed_rts_simple_example_manual_remote_buffer.py
  docs/popxl/files/distributed_simple_example.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/graph.rst
  docs/popxl/images/multi_instance_vs_rts_complex_example.drawio.png
  docs/popxl/images/multi_instance_vs_simple_example.drawio.png
  docs/popxl/index.rst
Due: copyright-linter, popart-test-linter, pylint

Upgrade PopART internals to C++17
  python/CMakeLists.txt
  tests/integration/constexpr_tests/reduceprod_ce_test.cpp
  tests/integration/inplaceaccumulategradpartialsintooptimizeraccumtensor_tests/CMakeLists.txt
  tests/testutil/CMakeLists.txt
  tests/testutil/testdevice/CMakeLists.txt
  tests/unittests/ces/reduceprodce.cpp
  tests/unittests/transforms/unittest_autodiff.cpp
  willow/CMakeLists.txt
  willow/capnp/CMakeLists.txt
  willow/include/popart/op/lstm.hpp
  willow/src/op/softplus.cpp
  willow/src/op/softsign.cpp
Due: copyright-linter, clone-linter

Disable failing test
  tests/unittests/python/popart._internal.ir/bindings/test_op.py
Due: copyright-linter, popart-test-linter, pylint

Remove uses of snap::program::Sequence::add
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/abortx.cpp
  willow/src/popx/op/callx.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
  willow/src/popx/op/copyvarupdatex.cpp
  willow/src/popx/op/dynamic/dynamicslicex.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/exchange/multiexchangex.cpp
  willow/src/popx/op/grux.cpp
  willow/src/popx/op/identityx.cpp
  willow/src/popx/op/ifx.cpp
  willow/src/popx/op/initx.cpp
  willow/src/popx/op/iotilecopyx.cpp
  willow/src/popx/op/ipucopyx.cpp
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/lossscaleupdatex.cpp
  willow/src/popx/op/lrnx.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/padx.cpp
  willow/src/popx/op/printtensorx.cpp
  willow/src/popx/op/resizex.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/rnnx.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterx.cpp
  willow/src/popx/op/sortutilx.cpp
  willow/src/popx/op/stashx.cpp
  willow/src/popx/op/subsamplex.cpp
  willow/src/popx/op/syncx.cpp
  willow/src/popx/op/tensorremapx.cpp
  willow/src/popx/popopx.cpp
  willow/src/popx/popprograms.cpp
  willow/src/popx/rng/rngstatelowering.cpp
Due: copyright-linter, popart-test-linter

Fix C++17 clang issues
  tests/integration/verify_cxx_11_interface/CMakeLists.txt
  tests/unittests/unittest_pointercomparators.cpp
  willow/src/op/split.cpp
Due: copyright-linter
