Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: tests/popart_test_linter/check_test_has_cmake_entry.py
  language: python

Stop WhereOp unwinding.
  willow/src/popx/op/wherex.cpp
Due: copyright-linter

Allow for variable creation with VariableSettings in popXL
  python/popart._internal.ir/bindings/graph.cpp
  python/popart._internal.ir/bindings/tensor.cpp
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ir.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/tensor.py
  tests/unittests/python/popxl/test_replica_grouping.py
  willow/include/popart/graph.hpp
  willow/include/popart/tensors.hpp
  willow/src/graph.cpp
  willow/src/tensors.cpp
Due: copyright-linter, popart-test-linter

Fix subgraph autodiff pruner.
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/transforms/test_subgraph_autodiff_prune.py
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
Due: copyright-linter, popart-test-linter

Add check for imperative mood in docstrings
  .pre-commit-config.yaml
  python/popart/python_files/builder.py
  python/popxl/python_files/context.py
  python/popxl/python_files/dtypes.py
  python/popxl/python_files/graph.py
  python/popxl/python_files/ir.py
  python/popxl/python_files/ops/repeat.py
  python/popxl/python_files/ops/tanh.py
  python/popxl/python_files/ops/var_updates/accumulate.py
  python/popxl/python_files/remote_buffer.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/session.py
  python/popxl/python_files/streams.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/transforms/autodiff.py
  python/popxl/python_files/transforms/merge_exchange.py
  python/popxl/python_files/utils.py
  scripts/gen_op_metadata.py
  scripts/lint/install/install_linters.py
  scripts/lint/linters/base_linter.py
Due: copyright-linter, popart-test-linter

Allow AiGraphcoreOpset1::reshape to use -1 dim
  tests/integration/operators_test/reshape_test.py
  willow/include/popart/op/reshape.hpp
  willow/src/onnxpasses/nodepatterns/constfoldops.cpp
  willow/src/op/reshape.cpp
Due: copyright-linter, popart-test-linter

Move PopXL doc tests out of the user_guide directory
  .arclint
  .pre-commit-config.yaml
  docs/CMakeLists.txt
  docs/popxl/CMakeLists.txt
  docs/popxl/concepts.rst
  docs/popxl/context.rst
  docs/popxl/files/CMakeLists.txt
  docs/popxl/files/autodiff.py
  docs/popxl/files/basic_graph.py
  docs/popxl/files/call_with_info.py
  docs/popxl/files/create_multi_graphs_from_same_func.py
  docs/popxl/files/in_sequence.py
  docs/popxl/files/multi_call_graph_input.py
  docs/popxl/files/multi_callsites_of_a_graph.py
  docs/popxl/files/remote_rts_var.py
  docs/popxl/files/remote_variable.py
  docs/popxl/files/repeat_graph_0.py
  docs/popxl/files/repeat_graph_1.py
  docs/popxl/files/repeat_graph_2.py
  docs/popxl/files/rts_var.py
  docs/popxl/files/simple_addition.py
  docs/popxl/files/tensor_addition.py
  docs/popxl/files/tensor_get_write.py
  docs/popxl/files/tests/CMakeLists.txt
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/graph.rst
  docs/popxl/index.rst
  docs/popxl/op.rst
  docs/popxl/remote.rst
  docs/popxl/session.rst
  docs/popxl/simple_example.rst
  docs/popxl/tensor.rst
  docs/popxl/transforms.rst
  docs/shared/files/tests/examples_tester.py
  docs/user_guide/CMakeLists.txt
  docs/user_guide/files/CMakeLists.txt
  docs/user_guide/files/tests/CMakeLists.txt
  docs/user_guide/files/tests/test_examples.py
  docs/user_guide/files/tests/test_popart_doc_examples.py
Due: copyright-linter, popart-test-linter

Fix for missing tensors in popef file
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/executablexserialization.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablexserialization.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Change error for popart-test-linter to include pre-commit config file
  tests/popart_test_linter/check_test_has_cmake_entry.py
Due: copyright-linter, popart-test-linter

Do not save Counter__ tensor in serialised executable
  willow/src/ir.cpp
  willow/src/patterns/optimizerdecompose.cpp
Due: copyright-linter

Revert "Fix for missing tensors in popef file"
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/executablexserialization.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablexserialization.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Add MNIST example in PopXL user guide
  .arclint
  .pre-commit-config.yaml
  docs/popxl/application_example.rst
  docs/popxl/files/mnist.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/graph.rst
  docs/popxl/images/MNIST_train_ir.drawio
  docs/popxl/images/MNIST_train_ir.png
  docs/popxl/index.rst
  docs/popxl/transforms.rst
Due: copyright-linter, popart-test-linter

Fix alleged popart bug uncovered by change in CBR padding behaviour
  tests/integration/popxl/test_rts_autodiff.py
  tests/unittests/python/popxl/test_variable_location.py
  willow/include/popart/popx/inittensor.hpp
  willow/src/op/exchange/hostcopy.cpp
  willow/src/popx/inittensor.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
Due: copyright-linter, popart-test-linter

Up version to 2.6
  version.json
Due: none

Integrating custom ops to popART / popXL
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/popxl/files/leaky_relu_op_popxl.py
  docs/popxl/files/run_leaky_relu_popxl.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/shared/files/leaky_relu_op_impl.cpp
  docs/shared/files/tests/examples_tester.py
  docs/user_guide/files/run_leaky_relu_popart.py
  docs/user_guide/files/tests/test_popart_doc_examples.py
  requirements/run.txt
  tests/integration/verify_cxx_11_interface/generate_all_headers_hpp.sh
  willow/include/popart/op/custom/parameterizedop.hpp
  willow/include/popart/op/custom/parameterizedopbinder.hpp
Due: copyright-linter, popart-test-linter

Fix bug where VariableSettings CommGroup is not respected by AllReduce in gradient and accumulator reduction.
  python/popart/popart_core/popart.cpp
  tests/integration/collectives_test.py
  tests/integration/streammode_tests/grouped_initialization_test.py
  tests/unittests/patterns/optimizerdecompose.cpp
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/replicatedallgather.hpp
  willow/include/popart/op/collectives/replicatedreducescatter.hpp
  willow/include/popart/patterns/optimizerdecompose.hpp
  willow/src/builder.cpp
  willow/src/builder_impl.cpp
  willow/src/ir.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedallreduce.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
Due: copyright-linter, popart-test-linter

Revert "Fix bug where VariableSettings CommGroup is not respected by AllReduce in gradient and accumulator reduction."
  python/popart/popart_core/popart.cpp
  tests/integration/collectives_test.py
  tests/integration/streammode_tests/grouped_initialization_test.py
  tests/unittests/patterns/optimizerdecompose.cpp
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/op/collectives/replicatedallgather.hpp
  willow/include/popart/op/collectives/replicatedreducescatter.hpp
  willow/include/popart/patterns/optimizerdecompose.hpp
  willow/src/builder.cpp
  willow/src/builder_impl.cpp
  willow/src/ir.cpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedallreduce.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/patterns/adamdecompose.cpp
  willow/src/patterns/adaptivedecompose.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/patterns/sgd0decompose.cpp
  willow/src/patterns/sgd2decompose.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/op/collectives/replicatedallgatherx.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
Due: copyright-linter, popart-test-linter

PopXL API: Add links to ONNX ops
  python/popxl/python_files/ops/add.py
  python/popxl/python_files/ops/cast.py
  python/popxl/python_files/ops/concat.py
  python/popxl/python_files/ops/div.py
  python/popxl/python_files/ops/dropout.py
  python/popxl/python_files/ops/equal.py
  python/popxl/python_files/ops/gather.py
  python/popxl/python_files/ops/logical_and.py
  python/popxl/python_files/ops/logical_not.py
  python/popxl/python_files/ops/logical_or.py
  python/popxl/python_files/ops/matmul.py
  python/popxl/python_files/ops/max.py
  python/popxl/python_files/ops/mean.py
  python/popxl/python_files/ops/min.py
  python/popxl/python_files/ops/mul.py
  python/popxl/python_files/ops/negate.py
  python/popxl/python_files/ops/negative_log_likelihood.py
  python/popxl/python_files/ops/random.py
  python/popxl/python_files/ops/relu.py
  python/popxl/python_files/ops/reshape.py
  python/popxl/python_files/ops/scatter.py
  python/popxl/python_files/ops/slice.py
  python/popxl/python_files/ops/softmax.py
  python/popxl/python_files/ops/split.py
  python/popxl/python_files/ops/squeeze.py
  python/popxl/python_files/ops/sub.py
  python/popxl/python_files/ops/sum.py
  python/popxl/python_files/ops/tanh.py
  python/popxl/python_files/ops/transpose.py
  python/popxl/python_files/ops/where.py
Due: copyright-linter, popart-test-linter

PopXL doc: put each API section in a separate file
  docs/popxl/api.rst
  docs/popxl/api/available_ops.rst
  docs/popxl/api/contexts.rst
  docs/popxl/api/dtypes.rst
  docs/popxl/api/graphs.rst
  docs/popxl/api/ir.rst
  docs/popxl/api/modules.rst
  docs/popxl/api/random-seeds.rst
  docs/popxl/api/remote-buffers.rst
  docs/popxl/api/replica-grouping.rst
  docs/popxl/api/streams.rst
  docs/popxl/api/tensor-locations.rst
  docs/popxl/api/tensors.rst
  docs/popxl/api/transforms.rst
  docs/popxl/concepts.rst
  docs/popxl/graph.rst
Due: none

Fix Clang Werrors
  willow/include/popart/op/exchange/hostbase.hpp
  willow/include/popart/popx/inittensor.hpp
Due: copyright-linter

Ensure VariableSettings and TensorData are serialised correctly in model cache
  tests/integration/executable_serialization_test.cpp
  tests/unittests/willow/popx/CMakeLists.txt
  tests/unittests/willow/popx/test_executablexserializer.cpp
  willow/capnp/Ir.capnp
  willow/include/popart/popx/popefserializer.hpp
  willow/include/popart/tensor.hpp
  willow/include/popart/tensordata.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/executablexserializer.hpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/session.cpp
  willow/src/tensor.cpp
  willow/src/tensordata.cpp
Due: copyright-linter

Add replication and RTS in MNIST PopXL example
  .arclint
  .pre-commit-config.yaml
  docs/popxl/application_example_rts.rst
  docs/popxl/files/mnist_rts.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  docs/popxl/index.rst
  docs/popxl/remote.rst
  docs/popxl/session.rst
  requirements/run.txt
Due: copyright-linter, popart-test-linter

add the interface of conv, averagepool and roialign in popxl
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/conv.cpp
  python/popart._internal.ir/bindings/op/conv.hpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/pool.cpp
  python/popart._internal.ir/bindings/op/pool.hpp
  python/popart._internal.ir/bindings/op/roialign.cpp
  python/popart._internal.ir/bindings/op/roialign.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/conv.py
  python/popxl/python_files/ops/pool.py
  python/popxl/python_files/ops/roialign.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_averagepool.py
  tests/integration/popxl/test_conv.py
  tests/integration/popxl/test_maxpool.py
  tests/integration/popxl/test_roialign.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_averagepool.py
  tests/unittests/python/popxl/ops/test_conv.py
  tests/unittests/python/popxl/ops/test_maxpool.py
  tests/unittests/python/popxl/ops/test_roialign.py
Due: copyright-linter, popart-test-linter

Documentation of Replica Grouping in PopXL
  docs/popxl/graph.rst
  docs/popxl/index.rst
  docs/popxl/replication.rst
  docs/popxl/tensor.rst
  docs/user_guide/files/replication_popxl.py
Due: copyright-linter, popart-test-linter

Fix bug in popxl.ops.equal and add unit test
  python/popxl/python_files/ops/equal.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_equal.py
Due: copyright-linter, popart-test-linter

ReplicatedTensorSharding updated graph traversal
  willow/src/replicatedtensorsharding.cpp
Due: copyright-linter

Fix 'Unable to find inverse loss scale tensor' bug when applying the AutomaticLossScaling transform on some models
  tests/integration/transformation_tests/automatic_loss_scaling_test.cpp
  willow/src/util.cpp
Due: copyright-linter

Pytest to verify behaviour of ReplicaGrouping in popXL
  python/popart._internal.ir/bindings/tensor.cpp
  python/popart._internal.ir/bindings/tensorinfo.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_grouped_initialization.py
  tests/integration/popxl/test_tensor_data.py
  tests/unittests/python/popart._internal.ir/bindings/test_tensorinfo.py
  willow/include/popart/tensorinfo.hpp
  willow/include/popart/variablesettings.hpp
  willow/src/op/collectives/replicatedreducescatter.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/op/collectives/collectivesx.cpp
  willow/src/variablesettings.cpp
Due: copyright-linter, popart-test-linter

PopART C++ API: session.hpp --> fixing Doxygen comments
  willow/include/popart/session.hpp
Due: copyright-linter

PopART User Guide: Minor fixes to Introduction
  docs/user_guide/intro.rst
Due: none

Add AiGraphcoreOpset1::slice to mimic Slice-1
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/slice_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/slice.cpp
  willow/src/popx/op/slicex.cpp
Due: copyright-linter, popart-test-linter

Remove cases of creating snap tensors with invalid poplar tensors.
  willow/include/popart/popx/op/grux.hpp
  willow/include/popart/popx/op/lstmx.hpp
  willow/include/popart/popx/op/popartlstmx.hpp
  willow/src/popx/op/grux.cpp
  willow/src/popx/op/ipucopyx.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/popartlstmx.cpp
Due: copyright-linter, popart-test-linter

Disable PopXL/PopART doc tests that are failing on CI.
  docs/popxl/files/tests/CMakeLists.txt
  docs/user_guide/files/tests/CMakeLists.txt
Due: copyright-linter

New implementation of resize gradient reduceDimension
  willow/src/popx/op/resizex.cpp
Due: copyright-linter

Fix for missing tensors in popef file
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/popefserializer.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Remove cases of a clone followed by a mapTensorLinearly
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/subsamplex.cpp
Due: copyright-linter

Remove unnecessary uses of mapTensorLinearly
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Revert "Fix for missing tensors in popef file" (Breaks PopTorch)
  tests/integration/executable_serialization_test.cpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/popefserializer.hpp
  willow/src/popx/devicex.cpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/rng/rngstatelowering.cpp
  willow/src/popx/rng/rngstatelowering.hpp
Due: copyright-linter

Fix missing RTSGroup error
  willow/include/popart/popx/irlowering.hpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Path conditions:
  copyright-linter: any file but: (?x)^(
    LICENSE|
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py, but not: (?x)^(
    docs/user_guide/files/tests/test_examples.py|
    tests/linters/.*
)$

