Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$


Find gcl using their config file and remove our find module
  cmake/Modules/Findgcl.cmake
  willow/CMakeLists.txt
Due: copyright-linter

Remove use of snap::program::Copy
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/callx.cpp
  willow/src/popx/op/collectives/multi_replicatedreducescatterx.cpp
  willow/src/popx/op/collectives/replicatedreducescatterx.cpp
  willow/src/popx/op/copyvarupdatex.cpp
  willow/src/popx/op/dynamic/dynamicslicex.cpp
  willow/src/popx/op/elementwisex.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/op/grux.cpp
  willow/src/popx/op/identityx.cpp
  willow/src/popx/op/ifx.cpp
  willow/src/popx/op/iotilecopyx.cpp
  willow/src/popx/op/ipucopyx.cpp
  willow/src/popx/op/logsoftmaxx.cpp
  willow/src/popx/op/loopx.cpp
  willow/src/popx/op/lossscaleupdatex.cpp
  willow/src/popx/op/lrnx.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/padx.cpp
  willow/src/popx/op/resizex.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/rnnx.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterx.cpp
  willow/src/popx/op/sortutilx.cpp
  willow/src/popx/op/stashx.cpp
  willow/src/popx/op/subsamplex.cpp
  willow/src/popx/op/tensorremapx.cpp
  willow/src/popx/popopx.cpp
  willow/src/popx/popprograms.cpp
  willow/src/popx/rng/rngstatelowering.cpp
Due: copyright-linter, popart-test-linter

Remove use of more snap programs
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/abortx.cpp
  willow/src/popx/op/callx.cpp
  willow/src/popx/op/initx.cpp
  willow/src/popx/op/iotilecopyx.cpp
  willow/src/popx/op/printtensorx.cpp
  willow/src/popx/op/syncx.cpp
Due: copyright-linter, popart-test-linter

Add synchronized run to PopArt when using PopRun
  willow/src/popx/devicex.cpp
Due: copyright-linter

tryAttachUntilTimeout can exit within 1s if successful
  willow/src/devicemanager.cpp
  willow/src/popx/devicex.cpp
Due: copyright-linter

Clean up device events
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

FP8 conversion on host
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/fp8conversion.cpp
  python/popart._internal.ir/bindings/fp8conversion.hpp
  python/popart._internal.ir/bindings/tensorinfo.cpp
  python/popart._internal.ir/popart._internal.ir.cpp
  tests/unittests/python/popart._internal.ir/bindings/CMakeLists.txt
  tests/unittests/python/popart._internal.ir/bindings/conftest.py
  tests/unittests/python/popart._internal.ir/bindings/test_fp8_conversion.py
  willow/include/popart/datatype.hpp
  willow/src/builder_impl.cpp
  willow/src/builderdebuginfo.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/irlowering.cpp
  willow/src/tensorinfo.cpp
Due: copyright-linter, popart-test-linter, pylint

Slice support steps > 1 and steps <-1
  tests/integration/operators_test/slice_test.py
  willow/include/popart/patterns/sliceoppattern.hpp
  willow/src/op/slice.cpp
  willow/src/patterns/patterns.cpp
  willow/src/patterns/sliceoppattern.cpp
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: fixing references to API content
  docs/popart/custom_ops.rst
  docs/shared/custom_ops_grad_op_class.rst
  docs/shared/custom_ops_grad_opx_class.rst
  docs/shared/custom_ops_op_class.rst
  docs/shared/custom_ops_opx_class.rst
  docs/shared/custom_ops_param_struct.rst
Due: none

Lock down access to some member vars (plus spellings)
  tests/integration/recompute_compatibility_test.py
  willow/include/popart/ir.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/src/devicemanager.cpp
  willow/src/ir.cpp
  willow/src/popx/devicex.cpp
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter, popart-test-linter, pylint

Add FP8_143 and FP8_152 dtypes
  python/popxl/__init__.py.in
  python/popxl/python_files/dtypes.py
  python/popxl/python_files/testing/_dtypes.py
  tests/unittests/python/popxl/test_dtype.py
Due: copyright-linter, popart-test-linter, pylint

Make SubtractArg1GradOpPattern mandatory
  tests/unittests/CMakeLists.txt
  tests/unittests/patterns/subtractarg1gradop.cpp
  willow/src/patterns/subtractarg1gradoppattern.cpp
Due: copyright-linter

Recommend using cSpell VS-code extension
  .vscode/popart.code-workspace
  cspell.json
  docs/shared/custom_ops_op_class.rst
  tests/integration/accumulateouterfragmentparallelizer_test.cpp
  tests/integration/logical_if_tests/namescope_1_logical_if_test.cpp
  tests/integration/pipelining_tests/pipeline_full_recompute_test.py
  tests/integration/popart._internal.ir_cpp/basic_graph.cpp
  tests/integration/popxl/test_multi_instance_vs_rts.py
  tests/integration/popxl/test_session_ctxtmgr.py
  tests/integration/random_test.py
  tests/integration/streamingmemory_tests/host_stream_op_schedule_test.cpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/op/elementwise.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/sgd.hpp
  willow/src/graphutils.cpp
  willow/src/ir.cpp
  willow/src/liveness.cpp
  willow/src/schedulegraphgrower.cpp
  willow/src/scheduler.cpp
  willow/src/tensor.cpp
  willow/src/transforms/decomposeloops_pipelining.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Fix typo in format string for CommGroup error
  willow/src/commgroup.cpp
Due: copyright-linter

Use const for options param in Device constructors
  willow/include/popart/devicemanager.hpp
  willow/src/devicemanager.cpp
Due: copyright-linter

cumsum support float16 dtype
  tests/integration/operators_test/cumsum_test.py
  willow/src/op/cumsum.cpp
  willow/src/popx/op/cumsumx.cpp
Due: copyright-linter, popart-test-linter, pylint

Add public FP8 host-based conversion API to PopXL
  python/popart._internal.ir/bindings/fp8conversion.cpp
  python/popxl/python_files/utils.py
  tests/unittests/python/popart._internal.ir/bindings/test_fp8_conversion.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

Slice op support negative axis
  tests/integration/operators_test/slice_test.py
  willow/src/op/slice.cpp
Due: copyright-linter, popart-test-linter, pylint

Support resize op with both scales and sizes inputs (one of the two tensor is empty)
  tests/integration/operators_test/resize_test_1.py
  willow/src/op/resize.cpp
Due: copyright-linter, popart-test-linter, pylint

Add FP8 host_store and host_load
  python/popart/shared_cpp/np_utils.cpp
  python/popxl/python_files/dtypes.py
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_fp8_hostcopy.py
  tests/unittests/python/popxl/test_dtype.py
  tests/unittests/python/popxl/test_utils.py
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter, pylint

Add float8 dtype description to the user manual
  docs/popxl/api.rst
  docs/popxl/api/utils.rst
  docs/popxl/datatype.rst
Due: none

Cast operators to/from fp8
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/float8conversion.cpp
  python/popart._internal.ir/bindings/float8conversion.hpp
  python/popart._internal.ir/bindings/fp8conversion.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/cast.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_cast_float8.py
  tests/unittests/python/popxl/ops/test_cast.py
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/castthenpow2scale.hpp
  willow/include/popart/op/pow2scalethencast.hpp
  willow/include/popart/popx/op/castthenpow2scalex.hpp
  willow/include/popart/popx/op/pow2scalethencastx.hpp
  willow/include/popart/popx/opx.hpp
  willow/src/onnxutil.cpp
  willow/src/op/castthenpow2scale.cpp
  willow/src/op/pow2scalethencast.cpp
  willow/src/popx/executablexserializer.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/castthenpow2scalex.cpp
  willow/src/popx/op/pow2scalethencastx.cpp
  willow/src/shapeinference.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Add float8 variable support
  python/popart._internal.ir/bindings/tensor.cpp
  python/popxl/python_files/dtypes.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_float8_variables.py
  tests/unittests/python/popxl/test_variable_location.py
Due: copyright-linter, popart-test-linter, pylint

Fix T70571: autodiff bug when graph includes PrintTensor
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_autodiff_hassideeffect_op.py
  tests/unittests/transforms/autodiff/unittest_subgraph_autodiff.cpp
  willow/src/transforms/autodiff/backwardsgraphcreatorhelper.cpp
Due: copyright-linter, popart-test-linter, pylint

Make PrintTensor hasSideEffects condition on printSelf
  tests/unittests/CMakeLists.txt
  tests/unittests/op/printtensor.cpp
  willow/include/popart/op/printtensor.hpp
Due: copyright-linter, clone-linter

Fix all deprecation warnings around use of CommGroups
  cspell.json
  tests/integration/collectives_test.cpp
  tests/testutil/src/test_graphs/graph_test_models.cpp
  tests/unittests/transforms/unittest_streamingmemory.cpp
  tests/unittests/unittest_complement.cpp
  willow/include/popart/op/collectives/collectives.hpp
  willow/include/popart/tensorlocation.hpp
  willow/src/op/collectives/collectives.cpp
  willow/src/patterns/optimizerdecompose.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
  willow/src/transforms/streamingmemoryopinserter.cpp
Due: copyright-linter, clone-linter

Add matmul_pow2scaled op to popxl
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/matmul.py
  tests/integration/matmul_tests/basic0_matmul_test.cpp
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_matmul_pow2scaled.py
  tests/integration/transformation_tests/serializematmul.py
  willow/include/popart/names.hpp
  willow/include/popart/op/matmul.hpp
  willow/include/popart/popx/op/matmulx.hpp
  willow/src/op/matmul.cpp
  willow/src/patterns/matmulgradpattern.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/matmulx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Use snap from snap repo
  CMakeLists.txt
  cbt.json
  willow/popart-config.cmake.in
Due: copyright-linter

Float 8 constants
  python/popxl/__init__.py.in
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/unittests/python/popxl/test_tensor.py
  willow/src/poprithmshosttensor.cpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter, popart-test-linter, pylint

Expose the Popart subsample op in PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/subsample.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_subsample.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_subsample.py
Due: copyright-linter, popart-test-linter, pylint

Auto-diffable all_gather and replicated slice
  python/popxl/python_files/ops/collectives/__init__.py
  python/popxl/python_files/ops/collectives/collectives.py
  python/popxl/python_files/ops/collectives/replicated_all_gather.py
  python/popxl/python_files/ops/collectives/replicated_reduce_scatter.py
  python/popxl/python_files/ops/init.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_grouped_initialization.py
  tests/integration/popxl/test_replica_grouping.py
  tests/integration/popxl/test_replicated_all_gather.py
  tests/integration/popxl/test_replicated_slice.py
  tests/unittests/python/popxl/ops/test_replicated_all_gather.py
  willow/include/popart/op/collectives/replicatedallgather.hpp
  willow/include/popart/op/collectives/replicatedreducescatter.hpp
  willow/src/op/collectives/replicatedallgather.cpp
  willow/src/op/collectives/replicatedreducescatter.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Move snap to poparts optional dependencies.
  cbt.json
Due: none

Use poplar::compileGraph instead of snap::compileGraph.
  willow/src/popx/irlowering.cpp
Due: copyright-linter

Add `pow` op
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/pow.py
  python/popxl/python_files/tensor.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_pow.py
  willow/src/op/pow.cpp
Due: copyright-linter, popart-test-linter, pylint

Add tests for float 8 view changers
  python/popxl/python_files/ops/concat.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_float8_view_changes.py
  tests/unittests/python/popxl/ops/test_slice.py
  willow/include/popart/op/concat.hpp
  willow/src/op/concat.cpp
  willow/src/op/dynamic/dynamicslice.cpp
  willow/src/op/gather.cpp
  willow/src/op/reshape.cpp
  willow/src/op/slice.cpp
  willow/src/op/subsample.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Allow step greater than 1 to popxl slice
  python/popxl/python_files/ops/subsample.py
  python/popxl/python_files/tensor.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_subsample.py
  tests/integration/popxl/test_tensor.py
  tests/unittests/python/popxl/ops/test_subsample.py
  tests/unittests/python/popxl/test_tensor.py
Due: copyright-linter, popart-test-linter, pylint

Set engineOptions["debug.retainDebugInformation"] = "false" as default
  python/popxl/python_files/ir.py
  tests/integration/aliaszerocopy_model_test.py
  tests/integration/graph_caching_test.py
  tests/integration/matmul_tests/matmul_partials_tests.py
  tests/integration/operators_test/tensorremap_test.py
  tests/integration/outlining_execution_context_test.py
  tests/integration/partials_tests.py
  tests/integration/pattern_tests/test_expandcast.py
  tests/integration/pipelining_tests/pipeline_recompute_numerical_test_0.cpp
  tests/integration/report_test.py
  tests/integration/streamingmemory_tests/functionbuffers_test.cpp
  tests/integration/streamingmemory_tests/functionbuffers_test_nested.cpp
  tests/integration/test_groupHostSync.py
  tests/integration/transformation_tests/overlapio.py
  willow/src/engineoptionscreator.cpp
Due: copyright-linter, popart-test-linter, pylint

Add the diag method to the Tensor class
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_tensor.py
  tests/unittests/python/popxl/test_tensor.py
Due: copyright-linter, popart-test-linter, pylint

Add float8-related utility functions for Ops and Opxs
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/matmul.py
  tests/integration/matmul_tests/basic0_matmul_test.cpp
  tests/integration/popxl/test_matmul_pow2scaled.py
  tests/unittests/util/CMakeLists.txt
  tests/unittests/util/unittest_float8util.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/op/matmul.hpp
  willow/include/popart/popx/op/matmulx.hpp
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/util.hpp
  willow/include/popart/util/float8util.hpp
  willow/src/op/matmul.cpp
  willow/src/popx/op/matmulx.cpp
  willow/src/util/float8util.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Arbitrary replica grouping for variables
  python/popxl/python_files/ir.py
  python/popxl/python_files/replica_grouping.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  tests/unittests/python/popxl/test_replica_grouping.py
  tests/unittests/python/popxl/test_tensor.py
Due: copyright-linter, popart-test-linter, pylint
