Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: tests/popart_test_linter/check_test_has_cmake_entry.py
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

test_interpolate.py doesn't work due to session not being used as a context manager. See D65625
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/resize.cpp
  python/popart._internal.ir/bindings/op/resize.hpp
  python/popart._internal.ir/bindings/op/roialign.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/interpolate.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_interpolate.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_interpolate.py
Due: copyright-linter, popart-test-linter, pylint

faster & more memory efficient cubic resize & fix Grad op
  tests/integration/operators_test/resize_test_1.py
  willow/include/popart/popx/op/resizex.hpp
  willow/src/popx/op/resizex.cpp
Due: copyright-linter, popart-test-linter, pylint

resubmit the diff about interpolate in PopXL
  python/popart._internal.ir/CMakeLists.txt
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart._internal.ir/bindings/op/resize.cpp
  python/popart._internal.ir/bindings/op/resize.hpp
  python/popart._internal.ir/popart._internal.ir.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/interpolate.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_interpolate.py
  tests/unittests/python/popxl/ops/CMakeLists.txt
  tests/unittests/python/popxl/ops/test_interpolate.py
Due: copyright-linter, popart-test-linter, pylint

Backout "Ensure deterministism in MergeCollectivesTransform, MultiCollectivesTransform and AccumulateOuterFragmentParallelizerTransform"
  willow/include/popart/transforms/accumulateouterfragmentparallelizer.hpp
  willow/src/transforms/accumulateouterfragmentparallelizer.cpp
  willow/src/transforms/contiguatecollectivesformerging.cpp
  willow/src/transforms/mergecollectives.cpp
Due: copyright-linter

Use snap::Graph::addLinearlyMappedConstant
  willow/src/popx/op/histogramx.cpp
  willow/src/popx/op/sortutilx.cpp
Due: copyright-linter

Add (u)int16 support.
  tests/integration/operators_test/cast_test_py.py
  willow/src/popx/irlowering.cpp
  willow/src/util.cpp
Due: copyright-linter, popart-test-linter, pylint

Add session function updateEngineCache
  python/popart/popart_core/popart.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/session.hpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter

When mode is linear, don't use nearestMode. Add torch linear mode test cases.
  tests/integration/operators_test/resize_test_1.py
  willow/src/popx/op/resizex.cpp
Due: copyright-linter, popart-test-linter, pylint

bug fix: Cannot return pipelineStage for Op Op(ai.onnx.Cast:9, inputs=[lossScaling_FLOAT16__t408], outputs=[lossScaling_FLOAT16__t408__t1503])
  willow/src/transforms/automaticlossscaling.cpp
Due: copyright-linter

Remove calls to setTileMapping where possible.
  willow/src/popx/op/batchnormx.cpp
  willow/src/popx/op/clipx.cpp
  willow/src/popx/op/gatherx.cpp
  willow/src/popx/op/nllx.cpp
  willow/src/popx/op/resizex.cpp
  willow/src/popx/op/scalex.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/zerosx.cpp
Due: copyright-linter

Remove possibly redundant setTileMapping calls.
  willow/src/popx/op/grux.cpp
  willow/src/popx/op/lstmx.cpp
  willow/src/popx/op/restorex.cpp
  willow/src/popx/op/stashx.cpp
Due: copyright-linter

Rename popxl.ops.graph_copy to code_copy
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/code_copy.py
Due: copyright-linter, popart-test-linter, pylint

Use popef datatypes aliases instead of raw types
  willow/include/popart/popx/popprograms.hpp
  willow/src/popx/popefserializer.cpp
  willow/src/popx/popprograms.cpp
Due: copyright-linter

Add .vscode workspace that configured clangd.
  .vscode/popart.code-workspace
Due: copyright-linter

Allow PopART to use VariableUpdateType::None
  willow/src/ir.cpp
Due: copyright-linter

Fix write_variables_data when cache
  python/popart._internal.ir/bindings/tensor.cpp
  python/popxl/python_files/session.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/test_write_variables_data_cache.py
  willow/include/popart/popx/executablex.hpp
  willow/include/popart/session.hpp
  willow/include/popart/tensordata.hpp
  willow/src/tensordata.cpp
Due: copyright-linter, popart-test-linter, pylint

Move GRU_Helper and LSTM_Helper classes to rnn_helper.py
  tests/integration/operators_test/gru_test.py
  tests/integration/operators_test/lstm_test.py
  tests/integration/operators_test/lstm_test_2.py
  tests/integration/operators_test/rnn_helper.py
Due: copyright-linter, popart-test-linter, pylint

Better PopXL Device Management
  docs/popxl/files/nested_session_contexts.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/popxl_test_device_helpers.py
  tests/integration/popxl/test_session_ctxtmgr.py
  tests/integration/popxl/test_session_lazy_weights_to_host.py
  tests/integration/popxl/test_session_set_device.py
  willow/include/popart/devicemanager.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/session.hpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

Enable zeroInfinity option for CTC loss
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/loss_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/ctc.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/ctc.cpp
  willow/src/popx/op/ctcx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Summary: This reverts commit 804a2de98d5b4d83d611eae0967eeafb2160e0ae.
  docs/popxl/files/nested_session_contexts.py
  docs/popxl/files/tests/test_popxl_doc_examples.py
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/CMakeLists.txt
  tests/integration/popxl/popxl_test_device_helpers.py
  tests/integration/popxl/test_session_ctxtmgr.py
  tests/integration/popxl/test_session_lazy_weights_to_host.py
  tests/integration/popxl/test_session_set_device.py
  willow/include/popart/devicemanager.hpp
  willow/include/popart/popx/devicex.hpp
  willow/include/popart/popx/devicexmanager.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/session.hpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
Due: copyright-linter, popart-test-linter, pylint

PopART Python API Reference: adding missing classes to api-python.rst
  docs/api_python/api-python.rst
Due: none

enable ctcloss with validate mode
  tests/integration/operators_test/loss_test.py
  willow/src/popx/op/ctcx.cpp
Due: copyright-linter, popart-test-linter, pylint

Transform to backup inplace updated tensors when they are required for recomputation.
  tests/integration/transformation_tests/explicit_recomputation_test.cpp
  willow/include/popart/tensor.hpp
  willow/include/popart/transforms/explicitrecompute.hpp
  willow/src/scheduler.cpp
  willow/src/tensor.cpp
  willow/src/transforms/explicitrecompute.cpp
Due: copyright-linter

PopART User Guide: Improvements to the Executing graphs chapter
  docs/user_guide/executing.rst
Due: none

Remove test that uses negative padding
  tests/integration/operators_test/operators_test_2.py
Due: copyright-linter, popart-test-linter, pylint

Use LeakyRelu output tensor instead of input to compute the gradient.
  willow/include/popart/op/leakyrelu.hpp
  willow/src/op/leakyrelu.cpp
  willow/src/popx/op/leakyrelux.cpp
Due: copyright-linter, clone-linter

Document write variables data test
  tests/integration/popxl/test_write_variables_data_cache.py
Due: copyright-linter, popart-test-linter, pylint

Add code loading to popart internals
  python/popxl/python_files/ops/code_copy.py
  tests/integration/streamingmemory_tests/CMakeLists.txt
  tests/integration/streamingmemory_tests/functionbuffers_test.cpp
  tests/integration/streamingmemory_tests/functionbuffers_test_nested.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ir.py
  willow/include/popart/basicoptionals.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/exchange/codecopy.hpp
  willow/include/popart/op/exchange/exchange.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/op/exchange/codecopyx.hpp
  willow/include/popart/popx/op/exchange/exchangex.hpp
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/tensorlocation.hpp
  willow/src/ir.cpp
  willow/src/op/exchange/codecopy.cpp
  willow/src/op/exchange/exchange.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/exchange/codecopyx.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/popprograms.cpp
  willow/src/popx/pritask.cpp
  willow/src/tensorlocation.cpp
  willow/src/transforms/mergeexchange.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

<<Replace this line with your revision title>
  python/popxl/python_files/ops/code_copy.py
  tests/integration/streamingmemory_tests/CMakeLists.txt
  tests/integration/streamingmemory_tests/functionbuffers_test.cpp
  tests/integration/streamingmemory_tests/functionbuffers_test_nested.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ir.py
  willow/include/popart/basicoptionals.hpp
  willow/include/popart/graphcoreoperators.hpp
  willow/include/popart/op/exchange/codecopy.hpp
  willow/include/popart/op/exchange/exchange.hpp
  willow/include/popart/popx/irlowering.hpp
  willow/include/popart/popx/op/exchange/codecopyx.hpp
  willow/include/popart/popx/op/exchange/exchangex.hpp
  willow/include/popart/popx/popprograms.hpp
  willow/include/popart/tensorlocation.hpp
  willow/src/ir.cpp
  willow/src/op/exchange/codecopy.cpp
  willow/src/op/exchange/exchange.cpp
  willow/src/popx/irlowering.cpp
  willow/src/popx/op/exchange/codecopyx.cpp
  willow/src/popx/op/exchange/exchangex.cpp
  willow/src/popx/popprograms.cpp
  willow/src/popx/pritask.cpp
  willow/src/tensorlocation.cpp
  willow/src/transforms/mergeexchange.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Update terminology around gateway and IPU links
  docs/api_cpp/legal.rst
  docs/api_python/legal.rst
  docs/popxl/legal.rst
  docs/user_guide/legal.rst
  docs/user_guide/tensor_locations.rst
Due: none

Take compilation-affecting engine options into account when calculating hashes for the purpose of executable caching
  CMakeLists.txt
  scripts/lint/linters/iwyu/boost_mappings.imp
  tests/integration/options_test.py
  tests/integration/popxl/test_model_caching.py
  tests/integration/saved_executable.py
  tests/unittests/transforms/unittest_preautomaticlossscaling.cpp
  willow/include/popart/ir.hpp
  willow/include/popart/session.hpp
  willow/src/adam.cpp
  willow/src/adaptive.cpp
  willow/src/devicemanager.cpp
  willow/src/engineoptionscreator.cpp
  willow/src/engineoptionscreator.hpp
  willow/src/inputshapeinfo.cpp
  willow/src/ir.cpp
  willow/src/optimizer.cpp
  willow/src/optimizervalue.cpp
  willow/src/optimizervaluemap.cpp
  willow/src/patterns/patterns.cpp
  willow/src/popx/devicex.cpp
  willow/src/session.cpp
  willow/src/sessionoptions.cpp
  willow/src/sgd.cpp
  willow/src/taskid.cpp
Due: copyright-linter, popart-test-linter, pylint

Don't overwrite the number of tiles to 4 when a custom IPU model config is used
  willow/src/popx/devicexmanager.cpp
Due: copyright-linter

Add support for POPXL_CACHE_DIR
  tests/integration/popxl/test_write_variables_data_cache.py
  tests/integration/saved_executable.py
  tests/unittests/python/popxl/test_session_options.py
  willow/include/popart/sessionoptions.hpp
  willow/include/popart/util.hpp
  willow/src/util.cpp
Due: copyright-linter, popart-test-linter, pylint

add "ShapeInference" for tensorRemapOp
  willow/src/shapeinference.cpp
Due: copyright-linter

improve error message for [AutomaticLossScale transform] Unable to find inverse loss scale tensor, 'adamGradientScaling___default___FLOAT16', in graph
  willow/src/util.cpp
Due: copyright-linter

Escape string passed to logging::err
  willow/src/error.cpp
Due: copyright-linter

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .style.yapf|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

