Repository graphcore/popart: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, popart-test-linter, pylint, clone-linter

copyright-linter:
  name: Copyright linter
  description: Ensures that files have the proper copyright line.
  entry: python3 -m scripts.lint.linters.copyright_linter
  language: python
  additional_dependencies:
  - dataclasses

popart-test-linter:
  name: PopART test-linter
  description: 'checks that pytest test files have a corresponding
  
    `add_popart_py_unit_test` entry in a neighbouring CMakeLists.txt
  
    file
  
    '
  entry: python3 -m scripts.lint.linters.check_python_test_has_cmake_entry
  language: python

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=scripts/lint/linters/pylintrc
  - -j 1

clone-linter:
  name: Clone linter
  description: Ensures that all Ops implements a clone().
  entry: python3 -m scripts.lint.linters.clone_linter
  language: python

Fix bug: Do not set Variable._memmap_arr member if replica grouping is non-const
  python/popxl/python_files/tensor.py
  tests/integration/popxl/test_mmap_variable.py
Due: copyright-linter, popart-test-linter, pylint

Removed OS support in introduction
  docs/popxl/introduction.rst
Due: none

don't check for ipu1 support as it is going
  tests/integration/device_test.py
Due: copyright-linter, popart-test-linter, pylint

Change the default device arch from mk1 to mk2 in API docs for DeviceManager
  willow/include/popart/devicemanager.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
Due: copyright-linter, popart-test-linter

Create grouped version of scatterreduce
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/scatter_reduce.py
  tests/integration/operators_test/scatterreduce_test.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/scatterreducex.hpp
  willow/include/popart/popx/op/scatterutilx.hpp
  willow/include/popart/popx/op/sliceplanx.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/scatterx.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Update readme
  README.md
Due: none

Bump version to 3.2
  version.json
Due: none

Broadcast creator for binary ops
  python/popxl/python_files/ir.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_add_broadcast_creator.py
  willow/include/popart/popx/op/elementwisex.hpp
  willow/src/popx/op/elementwisex.cpp
Due: copyright-linter, popart-test-linter, pylint

Expose `useFullyConnectedPass` popart internal ir
  python/popart._internal.ir/bindings/op/matmul.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
Due: copyright-linter, popart-test-linter, pylint

Add PopXL pow op to popxl.ops's __all__
  python/popxl/python_files/ops/__init__.py
Due: copyright-linter, popart-test-linter, pylint

Summary: This reverts commit abb1d44dd07d2e24cd72306bb92d8e6bea50d125.
  python/popxl/python_files/ir.py
  tests/unittests/python/popxl/CMakeLists.txt
  tests/unittests/python/popxl/test_add_broadcast_creator.py
  willow/include/popart/popx/op/elementwisex.hpp
  willow/src/popx/op/elementwisex.cpp
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: fix extension of included file
  docs/popart/env_vars.rst
Due: none

Skip setting and getting RNG state when synthetic data is enabled
  tests/integration/session_api_tests/rng_test.py
  willow/src/popx/devicex.cpp
Due: copyright-linter, popart-test-linter, pylint

Add support for scatter reduction MUL operation
  python/popart/popart_core/popart.cpp
  tests/integration/operators_test/scatterreduce_test.py
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/sliceplanx.hpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Use multiUpdate instead of scatter in topk grad implementation
  python/popxl/python_files/ops/topk.py
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/operators_test.py
  tests/integration/operators_test/topk_test.py
  willow/include/popart/op/topk.hpp
  willow/include/popart/popx/op/scatterutilx.hpp
  willow/include/popart/popx/op/topkx.hpp
  willow/src/op/topk.cpp
  willow/src/popx/op/scatterutilx.cpp
  willow/src/popx/op/scatterx.cpp
  willow/src/popx/op/topkx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Add switch to disable w2h on session exit and allow read-only memmaped var data
  python/popxl/python_files/ir.py
  python/popxl/python_files/session.py
  python/popxl/python_files/tensor.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_mmap_variable.py
  tests/integration/popxl/test_session.py
Due: copyright-linter, popart-test-linter, pylint

Avoid signed/unsigned comparison warning
  willow/include/popart/tensorinfo.hpp
Due: copyright-linter

Add deviceIteration to popef metadata
  tests/integration/executable_serialization_test.cpp
  willow/src/popx/popefserializerimpl.cpp
Due: copyright-linter

use MSE automatic scale calculator for FP8 from poplar
  python/popart._internal.ir/bindings/float8conversion.cpp
  python/popxl/python_files/utils.py
  tests/unittests/python/popart._internal.ir/bindings/test_fp8_conversion.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

Align torch and torchvision versions to those used by the poptorch
  docs/popart/files/executing_imported_model.py
  docs/popart/files/importing_graphs.py
  docs/popart/files/importing_session.py
  requirements/run.txt
  tests/integration/operators_test/conftest.py
  tests/integration/operators_test/lstm_test_2.py
  tests/integration/optimizer_tests/pytorch_comparisons.py
Due: copyright-linter, popart-test-linter, pylint

Create grouped version of gather
  python/popart._internal.ir/bindings/op/gather.cpp
  python/popart._internal.ir/bindings/op/manualbindops.cpp
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/gather.py
  tests/integration/operators_test/gather_test.py
  tests/unittests/patterns/tiedgather.cpp
  tests/unittests/python/popart._internal.ir/bindings/test_ops.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/gather.hpp
  willow/include/popart/popx/op/gatherx.hpp
  willow/src/builder.cpp
  willow/src/op/gather.cpp
  willow/src/op/tiedgather.cpp
  willow/src/patterns/splitgather.cpp
  willow/src/popx/op/accumulatex.cpp
  willow/src/popx/op/gatherx.cpp
  willow/src/popx/op/tiedgatherx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Refactoring scatterreduce tests
  tests/integration/operators_test/scatterreduce_test.py
  willow/src/popx/op/scatterreducex.cpp
Due: copyright-linter, popart-test-linter, pylint

Fix ReplicatedStreamMode for broadcast for replicas > 2
  python/popart/popart_core/popart.cpp
  tests/integration/stepio_tests/stepiosplitter_test.cpp
  tests/integration/streammode_tests/CMakeLists.txt
  tests/integration/streammode_tests/test_broadcast_replication.py
  willow/include/popart/istepio.hpp
  willow/include/popart/stepio.hpp
  willow/include/popart/stepio_generic.hpp
  willow/src/popx/devicex.cpp
  willow/src/stepiosplitter.cpp
  willow/src/stepiosplitter.hpp
  willow/src/tensordata.cpp
Due: copyright-linter, popart-test-linter, pylint

fix weight duplication
  python/popart/popart_core/popart.cpp
  willow/include/popart/ces/constexpr.hpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/ces/constexpr.cpp
  willow/src/graph.cpp
Due: copyright-linter, popart-test-linter

Update gather opset version to be compatible with poptorch
  willow/src/builder.cpp
Due: copyright-linter

scatter_reduce add option to disable broadcast
  .pre-commit-config.yaml
  python/popart/popart_core/popart.cpp
  python/popxl/python_files/ops/scatter_reduce.py
  tests/integration/operators_test/CMakeLists.txt
  tests/integration/operators_test/scatterreduce_bcast_disabled_test.py
  tests/integration/operators_test/scatterreduce_bcast_test_0.py
  tests/integration/operators_test/scatterreduce_bcast_test_1.py
  tests/integration/operators_test/scatterreduce_bcast_test_basic.py
  tests/integration/operators_test/scatterreduce_test_0.py
  tests/integration/operators_test/scatterreduce_test_1.py
  tests/integration/operators_test/scatterreduce_test_basic.py
  willow/include/popart/builder.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/src/builder.cpp
  willow/src/defs.cpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/sliceplanx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

Extract scatter reduction strategies into seperate file
  willow/include/popart/popx/op/scatterreduceutilx.hpp
  willow/include/popart/popx/op/scatterreducex.hpp
  willow/src/popx/op/scatterreduceutilx.cpp
  willow/src/popx/op/scatterreducex.cpp
Due: copyright-linter

Remove unused scatter_reduce overloads
  python/popart/popart_core/popart.cpp
  willow/include/popart/builder.hpp
Due: copyright-linter

Reuse scatter_reduce::None implementation in scatter forward
  tests/integration/operators_test/scatter_test.py
  willow/include/popart/op/scatter.hpp
  willow/include/popart/op/scatterreduce.hpp
  willow/include/popart/popx/op/scatterx.hpp
  willow/src/op/scatter.cpp
  willow/src/op/scatterreduce.cpp
  willow/src/popx/op/scatterreduceutilx.cpp
  willow/src/popx/op/scatterreducex.cpp
  willow/src/popx/op/scatterx.cpp
Due: copyright-linter, popart-test-linter, pylint, clone-linter

add useLoopCandidateCreator for weights shared by LoopOp and non-LoopOp
  python/popart/popart_core/popart.cpp
  willow/include/popart/docs/pydocs_popart_core.hpp
  willow/include/popart/sessionoptions.hpp
  willow/src/popx/irlowering.cpp
Due: copyright-linter, popart-test-linter

Add autodiffRecursiveSafe flag
  python/popart._internal.ir/bindings/graph.cpp
  python/popxl/__init__.py.in
  python/popxl/python_files/context.py
  python/popxl/python_files/transforms/autodiff.py
  tests/unittests/python/popart._internal.ir/bindings/test_graph.py
  tests/unittests/python/popxl/context/test_context.py
  tests/unittests/python/popxl/transforms/test_autodiff.py
  willow/include/popart/graph.hpp
  willow/src/transforms/autodiff/gradgrowergraph.cpp
Due: copyright-linter, popart-test-linter, pylint

Replace links to PopART custom ops with PyTorch
  docs/popart/custom_ops.rst
Due: none

rename fp8 cast and raise error if ops.cast is used for fp8
  docs/popxl/datatype.rst
  docs/popxl/files/float8_inference.py
  python/popxl/python_files/ops/__init__.py
  python/popxl/python_files/ops/cast.py
  python/popxl/python_files/session.py
  python/popxl/python_files/utils.py
  tests/integration/popxl/test_cached_executables.py
  tests/integration/popxl/test_cast_float8.py
  tests/integration/popxl/test_conv_pow2scaled.py
  tests/integration/popxl/test_float8_variables.py
  tests/integration/popxl/test_float8_view_changes.py
  tests/integration/popxl/test_fp8_hostcopy.py
  tests/integration/popxl/test_matmul_pow2scaled.py
  tests/integration/popxl/utils.py
  tests/unittests/python/popxl/ops/test_cast.py
  tests/unittests/python/popxl/test_utils.py
Due: copyright-linter, popart-test-linter, pylint

Update SDK version to 3.3.0
  version.json
Due: none

Fix tile mapping in dynamic_update
  tests/integration/pipelining_tests/replicated_pipeline_test.py
  willow/src/popx/op/dynamic/dynamicupdatex.cpp
Due: copyright-linter, popart-test-linter, pylint

PopART User Guide: update tutorials links
  docs/popart/performance.rst
  docs/popart/references.rst
Due: none

Path conditions:
  copyright-linter: any of: not (tests/integration/operators_test/rnn_helper.py), but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  popart-test-linter: any of: .*.py and not ((?x)^(
    docs/user_guide/files/tests/test_popart_doc_examples_custom_op.py|
    docs/user_guide/files/tests/test_popart_doc_examples.py|
    docs/popxl/files/tests/test_popxl_doc_examples_custom_op.py|
    docs/popxl/files/tests/test_popxl_doc_examples.py|
    docs/popxl/files/mnist.py|
    docs/popxl/files/mnist_rts.py|
    tests/linters/.*
)$
) and not ((?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$
)
  pylint: any of: \.py$, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

  clone-linter: any of: willow/include/popart/op/.*.hpp, but not: (?x)^(
    build_scripts/.*|
    willow/include/popart/vendored/.*|
    .arclint|
    .arcconfig|
    .buildignore|
    .clang-format|
    .*Doxyfile.in|
    .*LICENSE|
    .*.drawio|
    .*.json|
    .*.md|
    .*.png|
    .*.pdf|
    .*.rst
)$

